{% load static i18n landing_tags %}

{% if site %}
    <p>{{ site.title }} Support Team</p>
    <p>
        Visit our website {{ site.home_page|none_empty }} for more details.
    </p>
{% else %}
    <p>BFG Support Team</p>
    <p>
        Visit our website for more details.
    </p>
{% endif %}
