{% extends 'store/backend/mail/master/../../../../../../landing/templates/landing/master/mail_layout.html' %}

{% block content %}
Thanks for your purchasing. Here is the order details.
{% endblock %}

{% block body_center %}
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
        <tr>
            <td align="center" style="padding:20px 0;">
                <center>
                    <table cellspacing="0" cellpadding="0" class="card">
                        <tr>
                            <td style="background-color:lightcyan; text-align:center; padding:10px; color:white; ">
                                {{ order.title }}
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid lightcyan;">
                                <table cellspacing="0" cellpadding="20" width="100%">
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
                                                <tr>
                                                    <td width="150" class="data-heading">
                                                        Period
                                                    </td>
                                                    <td class="data-value">
                                                        Dec 4, 2012 - Jan 4, 2013
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="150" class="data-heading">
                                                        Amount
                                                    </td>
                                                    <td class="data-value">
                                                        ${{ order.total|floatformat:2 }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
{% endblock %}