{% extends 'store/frontend/default/master/main_layout.html' %}
{% load static i18n %}
{% load view landing_tags %}

{% block body_content %}
    {% if message %}
    <div class="c-bg-green c-bg-green-font c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="">
                <h4 class="c-font-white">{{ message }}</h4>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>
            {% view "store.views.side_category_tree" %}
        </div>
        <div class="c-layout-sidebar-content ">
            <div class="c-content-media-2-slider wow animated fadeInRight" data-slider="owl">
					<div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-navigation-dots="true" data-auto-play="4000" data-rtl="false">
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(http://localhost/jango/assets/base/img/content/stock3/36.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">16</p>
								</div>
							</div>
						</div>
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(http://localhost/jango/assets/base/img/content/stock3/43.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">24</p>
								</div>
							</div>
						</div>
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(http://localhost/jango/assets/base/img/content/stock3/50.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">19</p>
								</div>
							</div>
						</div>
					</div>
				</div>
        </div>
    </div>

    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="c-content-tab-5 c-bs-grid-reset-space c-theme">
                <!-- Nav tabs -->
                <ul class="nav nav-pills c-nav-tab c-arrow" role="tablist">
                    <li role="presentation" class="active">
                        <a class="c-font-uppercase" href="#watches" aria-controls="watches" role="tab"
                           data-toggle="tab">Watches</a>
                    </li>
                    <li role="presentation">
                        <a class="c-font-uppercase" href="#phone" aria-controls="phone" role="tab" data-toggle="tab">Phone</a>
                    </li>
                    <li role="presentation">
                        <a class="c-font-uppercase" href="#imac" aria-controls="imac" role="tab"
                           data-toggle="tab">iMac</a>
                    </li>
                    <li role="presentation">
                        <a class="c-font-uppercase" href="#accessories" aria-controls="accessories" role="tab"
                           data-toggle="tab">Accessories</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="watches">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/69.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/70.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/79.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="phone">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/63.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/59.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop2/71.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="imac">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/73.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/74.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/91.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="accessories">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/63.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/67.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="c-content c-content-overlay">
                                    <div class="c-overlay-wrapper c-overlay-padding">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/77.jpg);"></div>
                                    <div class="c-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% view "store.views.get_latest_product" %}
    <div class="c-content-box c-size-lg c-bg-purple-1">
        <div class="container">
            <div class="row">
                <div class="c-shop-banner-3 c-center">
                    <h3 class="c-title c-font-uppercase c-font-bold c-font-35 c-font-white">New Summer Collection</h3>
                    <p class="c-desc c-font-uppercase c-font-bold c-font-25 c-font-yellow-1">70% Off With Promo</p>
                    <button class="btn btn-lg c-btn-white c-btn-border-1x c-btn-square c-btn-bold">EXPLORE</button>
                    <button class="btn btn-lg c-btn-white c-btn-square c-btn-bold">PURCHASE</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
<script src="{% static 'assets/demos/default/js/scripts/revo-slider/slider-4.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/isotope/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/isotope/packery-mode.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demos/default/js/scripts/pages/isotope-gallery.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js' %}" type="text/javascript"></script>
{% endblock %}