{% extends 'store/frontend/default/master/main_layout.html' %}
{% load view landing_tags %}
{% load i18n static %}

{% block custom_css %}
<style>
    .parsley-error-list{
        color:orangered;
    }
</style>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'assets/plugins/parsley/parsley.min.js' %}" type="text/javascript"></script>
    <script>
        $(function () {
            $("form").parsley();
            $("input[type=radio][name='account']").change(function () {
                $("form").parsley().destroy();
                if ($(this).val() == 'guest') {
                    $(".c-account").hide(600);
                    $(".guest_infor").show(200);
                    $("#buyer_email").show(200);
                    $("#fld_buyer_email").attr("required","true");
                    $("#username").removeAttr("required");
                }
                else {
                    $(".c-account").show(600);
                    $(".guest_infor").hide(200);
                    $("#buyer_email").hide(200);
                    $("#username").attr("required","true");
                    $("#fld_buyer_email").removeAttr("required");
                }
                $("form").parsley();
            });
        });
    </script>

{% endblock %}

{% block body_content %}
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{% trans 'Checkout' %}</h3>
                <h4 class="">{% trans 'Confirm you order' %}</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li>/</li>
                <li class="c-state_active">{% trans 'Checkout' %}</li>
            </ul>
        </div>
    </div>

    <div class="c-content-box c-size-lg">
        <div class="container">
            {% include "landing/include/inc_messages.html" %}
            <form class="c-shop-form-1" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <!-- BEGIN: ADDRESS FORM -->
                    <div class="col-md-7 c-padding-20">
                        {% if request.user.is_authenticated %}
                            Hi {{ request.user.username }}
                        {% else %}
                            <div class="c-radio-list">
                                <div class="c-radio">
                                    <input type="radio" value="guest" id="radio_s_guest" class="c-radio" name="account"
                                           checked="">
                                    <label for="radio_s_guest">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {% trans 'Checkout as Guest' %}
                                    </label>
                                </div>
                                <div class="c-radio">
                                    <input type="radio" value="login" id="radio_s_login" class="c-radio" name="account">
                                    <label for="radio_s_login">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        {% trans 'Login with existing account' %}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row c-account" style="display: none;">
                            <div class="form-group col-md-12">
                                <p class="help-block">{% trans 'Create an account by entering the information below. If you are a returning customer please login.' %}</p>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">{% trans 'Account' %}</label>
                                <input type="text" name="username" id="username" class="form-control c-square c-theme"
                                       placeholder="Email">
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="control-label">{% trans 'Password' %}</label>
                                <input type="password" name="password" class="form-control c-square c-theme"
                                       placeholder="Password">
                            </div>
                            <div class="form-group col-md-12" role="group">
                                <button type="submit" name="login"
                                        class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                    {% trans 'Login' %}
                                </button>
                                <button type="reset"
                                        class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                    {% trans 'Cancel' %}
                                </button>
                            </div>
                        </div>
                        {% if cart.need_delivery and profile.addresses|length == 0 %}
                            <div class="guest_infor">
                                <!-- BEGIN: BILLING ADDRESS -->
                                <h3 class="c-font-bold c-font-uppercase c-font-24">{% trans 'Billing Address' %}</h3>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{% trans 'Country' %}</label>
                                        <select class="form-control c-square c-theme"
                                                name="fld_billing_addr_country"
                                        >
                                            {% for country in countries %}
                                                <option value="{{ country.id }}">{{ country.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">{% trans 'First Name' %}</label>
                                                <input type="text" class="form-control c-square c-theme"
                                                       name="fld_billing_addr_fname"
                                                       placeholder="{% trans 'First Name' %}">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">{% trans 'Last Name' %}</label>
                                                <input type="text" class="form-control c-square c-theme"
                                                       name="fld_billing_addr_lname"
                                                       placeholder="{% trans 'Last Name' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{% trans 'Company Name' %}</label>
                                        <input type="text" class="form-control c-square c-theme"
                                               name="fld_billing_addr_building"
                                               placeholder="{% trans 'Company Name' %}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{% trans 'Address' %}</label>
                                        <input type="text" class="form-control c-square c-theme"
                                               name="fld_billing_addr_street"
                                               placeholder="Street Address">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control c-square c-theme"
                                               name="fld_billing_addr_street2"
                                               placeholder="Apartment, suite, unit etc. Unit 14 (optional)">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{% trans 'Suburb' %}</label>
                                        <input type="text" class="form-control c-square c-theme"
                                               name="fld_billing_addr_suburb"
                                               placeholder="Suburb">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">{% trans 'City' %}</label>
                                        <input type="text" class="form-control c-square c-theme"
                                               name="fld_billing_addr_city"
                                               placeholder="Town / City">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">{% trans 'State' %}</label>
                                                <select class="form-control c-square c-theme"
                                                        name="fld_billing_addr_state"
                                                >
                                                    <option value="0">{% trans 'Select an option' %}...</option>
                                                    {% for state in states %}
                                                        <option value="{{ state.id }}">{{ state.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">{% trans 'Postcode' %}</label>
                                                <input type="text"
                                                       name="fld_billing_addr_postcode"
                                                       class="form-control c-square c-theme"
                                                       placeholder="Postcode / Zip">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">{% trans 'Email Address' %}</label>
                                                <input type="email" class="form-control c-square c-theme"
                                                       name="fld_buyer_email"
                                                       value="{{ request.user.email|none_empty }}"
                                                       placeholder="Email Address">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">{% trans 'Phone' %}</label>
                                                <input type="tel" class="form-control c-square c-theme"
                                                       name="fld_buyer_phone"
                                                       placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BILLING ADDRESS -->
                                <!-- SHIPPING ADDRESS -->
                                <h3 class="c-font-bold c-font-uppercase c-font-24">{% trans 'Shipping Address' %}</h3>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="c-checkbox-inline">
                                            <div class="c-checkbox c-toggle-hide"
                                                 data-object-selector="c-shipping-address"
                                                 data-animation-speed="600">
                                                <input type="checkbox" id="checkbox6-444" class="c-check"
                                                       name="ship_same_address">
                                                <label for="checkbox6-444">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    {% trans 'Ship to different address' %}?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-shipping-address" style="display: none;">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">{% trans 'Country' %}</label>
                                            <select class="form-control c-square c-theme"
                                                    name="fld_shipping_addr_country">
                                            {% for country in countries %}
                                                <option value="{{ country.id }}">{{ country.title }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">{% trans 'First Name' %}</label>
                                                    <input type="text" class="form-control c-square c-theme"
                                                           name="fld_shipping_addr_fname"
                                                           placeholder="First Name">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">{% trans 'Last Name' %}</label>
                                                    <input type="text" class="form-control c-square c-theme"
                                                           name="fld_shipping_addr_lname"
                                                           placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">{% trans 'Company Name' %}</label>
                                            <input type="text" class="form-control c-square c-theme"
                                                   name="fld_shipping_addr_building"
                                                   placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">{% trans 'Address' %}</label>
                                            <input type="text" class="form-control c-square c-theme"
                                                   name="fld_shipping_addr_street"
                                                   placeholder="Street Address">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <input type="text" class="form-control c-square c-theme"
                                                   name="fld_shipping_addr_street2"
                                                   placeholder="Apartment, suite, unit etc. (optional)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">{% trans 'Suburb' %}</label>
                                            <input type="text" class="form-control c-square c-theme"
                                                   name="fld_shipping_addr_suburb"
                                                   placeholder="Suburb">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">{% trans 'City' %}</label>
                                            <input type="text" class="form-control c-square c-theme"
                                                   name="fld_shipping_addr_city"
                                                   placeholder="Town / City">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">{% trans 'State' %}</label>
                                                    <select class="form-control c-square c-theme"
                                                            name="fld_shipping_addr_state"
                                                    >
                                                        <option value="0">{% trans 'Select an option' %}...</option>
                                                        {% for state in states %}
                                                            <option value="{{ state.id }}">{{ state.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">{% trans 'Postcode / Zip' %}</label>
                                                    <input type="text" class="form-control c-square c-theme"
                                                           name="fld_shipping_addr_postcode"
                                                           placeholder="Postcode / Zip">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">{% trans 'Phone' %}</label>
                                                    <input type="tel" class="form-control c-square c-theme"
                                                           name="fld_buyer_phone"
                                                           placeholder="Phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- SHIPPING ADDRESS -->
                        {% endif %}
                        <div class="row" id="buyer_email">
                            <div class="form-group col-md-12">
                                <label class="control-label">
                                    {% trans 'Email Address' %}</label>
                                <input type="email" required
                                       id="fld_buyer_email"
                                       name="fld_buyer_email"
                                       class="form-control c-square c-theme"
                                       value="{{ request.user.email|none_empty }}"
                                       placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">{% trans 'Order Notes' %}</label>
                                <textarea name="fld_buyer_note" class="form-control c-square c-theme" rows="3"
                                          placeholder="Note about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- END: ADDRESS FORM -->
                    <!-- BEGIN: ORDER FORM -->
                    <div class="col-md-5">
                        <div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
                            <h1 class="c-font-bold c-font-uppercase c-font-24">{% trans 'Your Order' %}</h1>
                            <ul class="c-order list-unstyled">
                                {% if cart.products %}
                                    <li class="row c-margin-b-15">
                                        <div class="col-md-6 c-font-20"><h2>{% trans 'Product' %}</h2></div>
                                        <div class="col-md-6 c-font-20"><h2>{% trans 'Total' %}</h2></div>
                                    </li>
                                    <li class="row c-border-bottom"></li>
                                    {% for detail in cart.products %}
                                        <li class="row c-margin-b-15 c-margin-t-15">
                                            <div class="col-md-6 c-font-20"><a
                                                    href="{% url 'store:product_detail' id=detail.product.id %}"
                                                    class="c-theme-link">{{ detail.product.title }}
                                                x {{ detail.quantity }}</a></div>
                                            <div class="col-md-6 c-font-20">
                                                <p class="">${{ detail.subtotal|floatformat:2 }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if cart.plan %}
                                    <li class="row c-margin-b-15">
                                        <div class="col-md-6 c-font-20"><h2>{% trans 'Plan' %}</h2></div>
                                        <div class="col-md-6 c-font-20"><h2>{% trans 'Total' %}</h2></div>
                                    </li>
                                    <li class="row c-border-bottom"></li>
                                    <li class="row c-margin-b-15 c-margin-t-15">
                                        <div class="col-md-6 c-font-20"><a
                                                href="{% url 'store:plan_detail' id=cart.plan.id %}"
                                                class="c-theme-link">{{ cart.plan.title }}
                                            x {{ cart.plan_quantity }}</a></div>
                                        <div class="col-md-6 c-font-20">
                                            <p class="">${{ cart.plan_subtotal|floatformat:2 }}</p>
                                        </div>
                                    </li>
                                {% endif %}
                                <li class="row c-margin-b-15 c-margin-t-15">
                                    <div class="col-md-6 c-font-20">{% trans 'Subtotal' %}</div>
                                    <div class="col-md-6 c-font-20">
                                        <p class="">$<span class="c-subtotal">{{ cart.total|floatformat:2 }}</span></p>
                                    </div>
                                </li>
                                <li class="row c-border-top c-margin-b-15"></li>
                                {% if cart.need_delivery %}
                                    <li class="row">
                                        <div class="col-md-6 c-font-20">{% trans 'Shipping' %}</div>
                                        <div class="col-md-6">
                                            <div class="c-radio-list c-shipping-calculator" data-name="shipping_price"
                                                 data-subtotal-selector="c-subtotal"
                                                 data-total-selector="c-shipping-total">
                                                {% for shipping in shippings %}
                                                    <div class="c-radio">
                                                        <input type="radio" value="20" id="shipping_{{ shipping.id }}"
                                                               class="c-radio"
                                                               name="shipping_price"
                                                                {% if forloop.first %}
                                                               checked=""
                                                                {% endif %}>
                                                        <label for="shipping_{{ shipping.id }}">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            {{ shipping.title }}
                                                        </label>
                                                        <p class="c-shipping-price c-font-bold c-font-20">
                                                            ${{ shipping.cost|floatformat:2 }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row c-margin-b-15 c-margin-t-15">
                                {% endif %}
                                <div class="col-md-6 c-font-20">
                                    <p class="c-font-30">{% trans 'Total' %}</p>
                                </div>
                                <div class="col-md-6 c-font-20">
                                    <p class="c-font-bold c-font-30">$<span
                                            class="c-shipping-total">{{ cart.total|floatformat:2 }}</span>
                                    </p>
                                </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-12">
                                        <div class="c-radio-list">
                                            {% for payment_gateway in payment_gateways %}
                                                <div class="c-radio">
                                                    <input type="radio" id="paymentgateway_{{ payment_gateway.id }}"
                                                           value="{{ payment_gateway.id }}" class="c-radio"
                                                           name="payment_gateway"
                                                            {% if forloop.first %}
                                                           checked=""
                                                            {% endif %}>
                                                    <label for="paymentgateway_{{ payment_gateway.id }}"
                                                           class="c-font-bold c-font-20">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        {{ payment_gateway.title }}
                                                    </label>
                                                    {% if payment_gateway.icon %}
                                                        <img class="img-responsive" width="250"
                                                             src="{% get_media_prefix %}{{ payment_gateway.icon }}">
                                                    {% endif %}
                                                    {% if payment_gateway.description %}
                                                        {{ payment_gateway.description|safe }}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                {% if not customer.agree_term_time %}
                                    <li class="row c-margin-b-15 c-margin-t-15">
                                        <div class="form-group col-md-12">
                                            <div class="c-checkbox">
                                                <input type="checkbox" id="checkbox1-11" class="c-check" name="policy"
                                                       required="" data-required="true">
                                                <label for="checkbox1-11">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    {% trans 'I’ve read and accept the ' %}<a class="text-info"
                                                                                              href="{% url 'landing_static' page='terms.html' %}"
                                                                                              target="_blank">{% trans 'Terms &amp; Conditions' %}</a>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}

                                <li class="row">
                                    <div class="form-group col-md-12" role="group">
                                        <button type="submit"
                                                name="checkout"
                                                class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Submit' %}
                                        </button>
                                        <a href="{% url 'home' %}"
                                                name="{% trans 'Cancel' %}"
                                                class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Cancel' %}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: ORDER FORM -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'assets/demos/default/js/scripts/revo-slider/slider-4.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/packery-mode.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/jquery.requestAnimationFrame.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/jquery.mousewheel.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/ilightbox.packed.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/demos/default/js/scripts/pages/isotope-gallery.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js' %}"
            type="text/javascript"></script>
{% endblock %}