{% extends 'store/frontend/default/master/main_layout.html' %}
{% load landing_tags %}
{% load view %}
{% load i18n static %}

{% block content %}
    <!-- BEGIN: PAGE CONTENT -->
    <div>
        <form method="post">
        {% csrf_token %}
        <!-- BEGIN: CONTENT/SHOPS/SHOP-CART-1 -->
        <div class="c-content-box c-size-lg">
            <div class="container">
                {% if cart.count > 0 %}
                    <div class="c-shop-cart-page-1">
                    <div class="row c-cart-table-title">
                        <div class="col-md-2 c-cart-image">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans 'Image' %}</h3>
                        </div>
                        <div class="col-md-4 c-cart-desc">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans "Description" %}</h3>
                        </div>
                        <div class="col-md-1 c-cart-ref">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans "SKU" %}</h3>
                        </div>
                        <div class="col-md-1 c-cart-qty">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans "Qty" %}</h3>
                        </div>
                        <div class="col-md-2 c-cart-price">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans "Unit Price" %}</h3>
                        </div>
                        <div class="col-md-1 c-cart-total">
                            <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{% trans "Total" %}</h3>
                        </div>
                        <div class="col-md-1 c-cart-remove"></div>
                    </div>
                    {% for product in cart.products %}
                        <!-- BEGIN: SHOPPING CART ITEM ROW -->
                        <div class="row c-cart-table-row cart-item">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">
                                {{ product.title }}</h2>
                            <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                                <img src="{% get_media_prefix %}{{ product.product.thumb }}"/>
                            </div>
                            <div class="col-md-4 col-sm-9 col-xs-7 c-cart-desc">
                                <h3><a href="{% url 'store:product_detail' id=product.id %}"
                                       class="c-font-bold c-theme-link c-font-22 c-font-dark">{{ product.product.title }}</a>
                                </h3>

                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-ref">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{% trans "SKU" %}</p>
                                <p>{{ product.product.sku }}</p>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{% trans "QTY" %}</p>
                                <div class="c-input-group c-spinner">
                                    <input name="item-quantity-{{ product.id }}" type="text"
                                           class="form-control c-item-{{ product.id }} cart_item_qty" data-id="{{ product.id }}" data-price="{{ product.product.price }}" value="{{ product.quantity }}">
                                    <div class="c-input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"
                                                data_input="c-item-{{ product.id }}" data-maximum="10000"><i
                                                class="fa fa-caret-up"></i></button>
                                        <button class="btn btn-default" type="button"
                                                data_input="c-item-{{ product.id }}" data-minimum="1"><i
                                                class="fa fa-caret-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{% trans "Unit Price" %}</p>
                                <p class="c-cart-price c-font-bold">${{ product.product.price|floatformat:2 }}</p>
                            </div>
                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{% trans "Total" %}</p>
                                <p class="c-cart-price c-font-bold">$<span id="subtotal_{{ product.id }}">{{ product.subtotal|floatformat:2 }}</span></p>
                            </div>
                            <div class="col-md-1 col-sm-12 c-cart-remove">
                                <a href="#" class="c-theme-link c-cart-remove-desktop remove_cart_item" value="{{ product.id }}">×</a>
                                <a href="#"
                                   class="c-cart-remove-mobile btn c-btn c-btn-md c-btn-square c-btn-red c-btn-border-1x c-font-uppercase">{% trans "Remove item from Cart" %}</a>
                            </div>
                        </div>
                        <!-- END: SHOPPING CART ITEM ROW -->
                    {% endfor %}
                    <!-- BEGIN: SUBTOTAL ITEM ROW -->
{#                    <div class="row">#}
{#                        <div class="c-cart-subtotal-row c-margin-t-20">#}
{#                            <div class="col-md-2 col-md-offset-9 col-sm-6 col-xs-6 c-cart-subtotal-border">#}
{#                                <h3 class="c-font-uppercase c-font-bold c-right c-font-16 c-font-grey-2">{% trans "Subtotal" %}</h3>#}
{#                            </div>#}
{#                            <div class="col-md-1 col-sm-6 col-xs-6 c-cart-subtotal-border">#}
{#                                <h3 class="c-font-bold c-font-16">${{ cart.total|floatformat:2 }}</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- END: SUBTOTAL ITEM ROW -->
{#                    <!-- BEGIN: SUBTOTAL ITEM ROW -->#}
{#                    <div class="row">#}
{#                        <div class="c-cart-subtotal-row">#}
{#                            <div class="col-md-2 col-md-offset-9 col-sm-6 col-xs-6 c-cart-subtotal-border">#}
{#                                <h3 class="c-font-uppercase c-font-bold c-right c-font-16 c-font-grey-2">{% trans "Shipping Cost" %}</h3>#}
{#                            </div>#}
{#                            <div class="col-md-1 col-sm-6 col-xs-6 c-cart-subtotal-border">#}
{#                                <h3 class="c-font-bold c-font-16">${{ shipping_cost|floatformat:2 }}</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- END: SUBTOTAL ITEM ROW -->#}
                    <!-- BEGIN: SUBTOTAL ITEM ROW -->
                    <div class="row">
                        <div class="c-cart-subtotal-row">
                            <div class="col-md-2 col-md-offset-9 col-sm-6 col-xs-6 c-cart-subtotal-border">
                                <h3 class="c-font-uppercase c-font-bold c-right c-font-16 c-font-grey-2">{% trans "Total" %}</h3>
                            </div>
                            <div class="col-md-1 col-sm-6 col-xs-6 c-cart-subtotal-border">
                                <h3 class="c-font-bold c-font-16">$<span id="total">{{ cart.total|floatformat:2 }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <!-- END: SUBTOTAL ITEM ROW -->
                    <div class="c-cart-buttons">
                        <button type="submit" name="shopping"
                                class="btn c-btn btn-lg c-btn-red c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-l">{% trans "Continue Shopping" %}</button>
                        <button type="submit" name="checkout"
                                class="btn c-btn btn-lg c-theme-btn c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-r">{% trans "Checkout" %}</button>
                    </div>
                </div>
                {% else %}
                    <div class="c-shop-cart-page-1 c-center">
                        <i class="fa fa-frown-o c-font-dark c-font-50 c-font-thin "></i>
                        <h2 class="c-font-thin c-center">{% trans 'Your Shopping Cart is Empty' %}</h2>
                        <button  type="submit" name="shopping"
                                 class="btn c-btn btn-lg c-btn-dark c-btn-square c-font-white c-font-bold c-font-uppercase">{% trans 'Continue Shopping' %}</button>
                    </div>
                {% endif %}
            </div>
        </div><!-- END: CONTENT/SHOPS/SHOP-CART-1 -->

        <!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
        {% view "store.views.popular_products" %}
        <!-- END: CONTENT/SHOPS/SHOP-2-2 -->

        <!-- BEGIN: CONTENT/STEPS/STEPS-3 -->
        {% view "store.views.cart_footer" %}
        <!-- END: CONTENT/STEPS/STEPS-3 -->

        <!-- END: PAGE CONTENT -->
        </form>
    </div>
{% endblock %}






