{% extends 'store/frontend/default/master/main_layout.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}

{% block custom_js %}
    {% for gateway in gateways %}
        {{ gateway.get_custom_js }}
    {% endfor %}
    <script>
        $("#pay_now").click(function (e) {
            {% for gateway in gateways %}
                {{ gateway.get_paynow_js }}
            {% endfor %}
            e.preventDefault();
        });
    </script>
{% endblock %}

{% block body %}
<div class="c-layout-page">
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase c-font-sbold">{% trans 'Checkout' %}</h3>
			<h4 class="">{% trans 'Pay Anonymous' %}</h4>
		</div>
		<ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
															<li class="c-state_active">{% trans 'Order Number' %}: #{{ order.id }}</li>

		</ul>
	</div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
		<!-- BEGIN: PAGE CONTENT -->
		<div class="c-content-box c-size-lg">
	<div class="container">
		<form id="pay_form" class="c-shop-form-1" method="post" action="">
            {% csrf_token %}
            <input name="order_id" type="hidden" value="{{ order.id }}">
            <input id="token" name="token" type="hidden" value="">
            <input id="email" name="email" type="hidden" value="">
			<div class="row">
				<!-- BEGIN: ORDER FORM -->
				<div class="col-md-12">
					<div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
                    <h1 class="c-font-bold c-font-uppercase c-font-24">{{ order.title }}</h1>
                    <span class="c-font-bold c-font-uppercase c-font-18">{{ order.buyer_email }}</span>
                    <ul class="c-order list-unstyled">
						<li class="row c-margin-b-15">
							<div class="col-md-6 c-font-20"><h2>{% trans 'Item' %}</h2></div>
							<div class="col-md-6 c-font-20"><h2>{% trans 'Subtotal' %}</h2></div>
						</li>
                        <li class="row c-border-bottom"></li>
                        {% for detail in order.orderdetail_set.all %}
                        <li class="row c-margin-b-15 c-margin-t-15">
							<div class="col-md-6 c-font-20"><a href="shop-product-details.html" class="c-theme-link">{{ detail.title }} x {{ detail.quantity }}</a></div>
							<div class="col-md-6 c-font-20">
								<p class="">{{ detail.subtotal|floatformat:2 }}</p>
							</div>
						</li>
                        {% endfor %}
                        <li class="row c-border-top c-margin-b-15"></li>
						<li class="row">
							<div class="col-md-6 c-font-20">{% trans 'Shipping' %}</div>
							<div class="col-md-6">
								<label for="radio11">
                                    {{ order.shipping_cost }}
                                </label>
							</div>
						</li>
						<li class="row c-margin-b-15 c-margin-t-15">
							<div class="col-md-6 c-font-20">
								<p class="c-font-30">{% trans 'Total' %}</p>
							</div>
							<div class="col-md-6 c-font-20">
								<p class="c-font-bold c-font-30">$<span class="c-shipping-total">{{ order.total|floatformat:2 }}</span></p>
							</div>
						</li>
						<li class="row">
							<div class="col-md-12">
								<div class="c-radio-list">
                                    {% for handle in handlers %}
                                        <div class="c-radio">
                                            <input type="radio" name="payment_gateway" id="payment_{{ handle.id }}"
                                                       value="{{ handle.id }}" {% if forloop.first %}checked{% endif %} class="c-radio">
                                            <label for="payment_{{ handle.id }}" class="c-font-bold c-font-20">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{ handle.description }}
                                            </label>
                                            <img class="img-responsive" width="250" src="{% get_static_prefix %}{{ handle.icon }}"
                                                             align="{{ handle.title }}"
                                                             title="{{ handle.description }}">
                                        </div>
                                    {% endfor %}
								</div>
							</div>
						</li>
						<li class="row c-margin-b-15 c-margin-t-15">
							<div class="form-group col-md-12">
								<div class="c-checkbox">
									<input type="checkbox" id="checkbox1-11" class="c-check" required>
									<label for="checkbox1-11">
										<span class="inc"></span>
										<span class="check"></span>
										<span class="box"></span>
										{% trans 'I’ve read and accept the ' %}{% trans 'Terms &amp; Conditions' %}
									</label>
								</div>
							</div>
						</li>
						<li class="row">
							<div class="form-group col-md-12" role="group">
								<button type="button" name="pay_now" id="pay_now" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'Pay Now' %}</button>
								<button type="button" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
							</div>
						</li>
					</ul>
				</div>
				</div>
				<!-- END: ORDER FORM -->
			</div>
		</form>
	</div>
</div>
		<!-- END: PAGE CONTENT -->
	</div>
{% endblock %}