{% extends 'store/frontend/default/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block body_content %}
<!-- templates/payment.html -->
<form action="{{ form.action }}" method="{{ form.method }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Proceed">Confirm & Pay</button>
</form>
{% endblock %}