{% extends 'store/frontend/default/master/main_layout.html' %}
{% load view landing_tags %}
{% load i18n static %}

{% block body_content %}
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{% trans 'Checkout Complete' %}</h3>
                <h4 class=""></h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="shop-checkout-complete.html">{% trans 'Order Number' %}</a></li>
                <li>:</li>
                <li class="c-state_active">#{{ order.id }}</li>
            </ul>
        </div>
    </div>

    <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
        <div class="container">
            {% include "landing/include/inc_messages.html" %}
            <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
                {% if payment.status == 'confirmed' %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Checkout Completed' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-theme-bg c-margin-b-60">
                        <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                            <i class="fa fa-check"></i> {% trans 'Thank you. Your order has been received.' %}
                        </p>
                    </div>
                    <div class="text-center c-margin-b-60">
                        <a href="{% url 'account_index' %}" class="btn btn-sm btn-success">
                            {% trans 'Go back to Dashboard' %}</a>
                    </div>
                {% elif payment.status == 'waiting' %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Waiting Payment' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-theme-bg c-margin-b-60">
                        <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                            <i class="fa fa-check"></i> {% trans 'Thank you. Your order has been received.' %}
                            {% trans 'Please made the payment and let us know. ' %}
                        </p>
                    </div>
                    <div class="text-center c-margin-b-60">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-success">
                            {% trans 'Go back to Dashboard' %}</a>
                    </div>
                {% elif payment.status == 'preauth' %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Payment Preauthed' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-theme-bg c-margin-b-60">
                        <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                            <i class="fa fa-check"></i> {% trans 'Thank you. Your order has been received.' %}
                        </p>
                    </div>
                    <div class="text-center c-margin-b-60">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-success">
                            {% trans 'Go back to Dashboard' %}</a>
                    </div>
                {% elif payment.status == 'rejected' %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Payment Rejected' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-bg-red c-margin-b-60">
                        <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                            <i class="fa fa-check"></i> {% trans 'The payment has been rejected.' %}
                        </p>
                    </div>
                    <div class="text-center c-margin-b-60">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-warning">
                            {% trans 'Go back to Dashboard' %}</a>
                    </div>
                {% elif payment.status == 'error' %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Payment Error' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-bg-red c-margin-b-60">
                        <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                            <i class="fa fa-times"></i> {% trans 'There are something wrong in the payment process.' %}
                        </p>
                    </div>
                    <div class="text-center c-margin-b-60">
                        <a href="{% url 'home' %}" class="btn btn-sm btn-primary">
                            {% trans 'Go back to Dashboard' %}</a>
                    </div>
                {% endif %}

                {% if order %}
                <!-- BEGIN: ORDER SUMMARY -->
                <div class="row c-order-summary c-center">
                    <ul class="c-list-inline list-inline">
                        <li>
                            <h3>{% trans 'Order Number' %}</h3>
                            <p>#{{ order.id }}</p>
                        </li>
                        <li>
                            <h3>{% trans 'Date Purchased' %}</h3>
                            <p>{{ order.create_time }}</p>
                        </li>
                        <li>
                            <h3>{% trans 'Total Payable' %}</h3>
                            <p>${{ order.total|floatformat:2 }}</p>
                        </li>
                        <li>
                            <h3>{% trans 'Payment Method' %}</h3>
                            <p>{{ gateway.title }}</p>
                        </li>
                    </ul>
                </div>
                <!-- END: ORDER SUMMARY -->
                {% endif %}

                {% if gateway.description %}
                <!-- BEGIN: BANK DETAILS -->
                <div class="c-bank-details c-margin-t-30 c-margin-b-30">
                    {{ gateway.description|safe }}
                </div>
                {% endif %}

                <!-- END: BANK DETAILS -->
                <!-- BEGIN: ORDER DETAILS -->
                <div class="c-order-details">
                    <div class="c-border-bottom hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">{% trans 'Name' %}</h3>
                            </div>
                            <div class="col-md-5">
                                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">{% trans 'Description' %}</h3>
                            </div>
                            <div class="col-md-2">
                                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">{% trans 'Unit Price' %}</h3>
                            </div>
                            <div class="col-md-2">
                                <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">{% trans 'Total' %}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN: PRODUCT ITEM ROW -->
                    {% for detail in details %}
                        <div class="c-border-bottom c-row-item">
                            <div class="row">
                                {% if detail.product %}
                                    <div class="col-md-3 col-sm-12 c-image">
                                        <div class="c-content-overlay">

                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="{% url 'store:product_detail' id=detail.product.id %}"
                                                       class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{% trans 'Explore' %}</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-top-center c-overlay-object" data-height="height">
                                                {% if detail.product.image %}
                                                <img width="100%" class="img-responsive"
                                                     src="{% get_media_prefix %}{{ detail.product.image }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-8">
                                        <ul class="c-list list-unstyled">
                                            <li class="c-margin-b-25"><a href="{% url 'store:product_detail' id=detail.product.id %}"
                                                                         class="c-font-bold c-font-22 c-theme-link">{{ detail.title }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">{% trans 'Unit Price' %}</p>
                                        <p class="c-font-sbold c-font-uppercase c-font-18">${{ detail.price|floatformat:2 }}</p>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">{% trans 'Total' %}</p>
                                        <p class="c-font-sbold c-font-18">${{ detail.subtotal|floatformat:2 }}</p>
                                    </div>
                                {% elif detail.plan %}
                                    <div class="col-md-3 col-sm-12 c-image">
                                        <div class="c-content-overlay">

                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="{% url 'store:plan_detail' id=detail.plan.id %}"
                                                       class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{% trans 'Explore' %}</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-top-center c-overlay-object" data-height="height">
                                                {% if detail.plan.image %}
                                                <img width="100%" class="img-responsive"
                                                     src="{% get_media_prefix %}{{ detail.plan.image }}">
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-8">
                                        <ul class="c-list list-unstyled">
                                            <li class="c-margin-b-25"><a href="{% url 'store:product_detail' id=detail.plan.id %}"
                                                                         class="c-font-bold c-font-22 c-theme-link">{{ detail.title }}</a></li>
                                            <li>
                                                {{ detail.snapshot|safe }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">{% trans 'Unit Price' %}</p>
                                        <p class="c-font-sbold c-font-uppercase c-font-18">${{ detail.price|floatformat:2 }}</p>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">{% trans 'Total' %}</p>
                                        <p class="c-font-sbold c-font-18">${{ detail.subtotal|floatformat:2 }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- END: PRODUCT ITEM ROW -->
                    <div class="c-row-item c-row-total c-right">
                        <ul class="c-list list-unstyled">
                            <li>
                                <h3 class="c-font-regular c-font-22">{% trans 'Subtotal' %} : &nbsp;
                                    <span class="c-font-dark c-font-bold c-font-22">${{ order.price|floatformat:2 }}</span>
                                </h3>
                            </li>
                            <li>
                                <h3 class="c-font-regular c-font-22">{% trans 'Shipping Fee' %} : &nbsp;
                                    <span class="c-font-dark c-font-bold c-font-22">${{ order.shipping_cost|floatformat:2 }}</span>
                                </h3>
                            </li>
                            <li>
                                <h3 class="c-font-regular c-font-22">{% trans 'Grand Total' %} : &nbsp;
                                    <span class="c-font-dark c-font-bold c-font-22">${{ order.total|floatformat:2 }}</span>
                                </h3>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: ORDER DETAILS -->
                <!-- BEGIN: CUSTOMER DETAILS -->
                <div class="c-customer-details row" data-auto-height="true">
                    <div class="col-md-6 col-sm-6 c-margin-t-20">
                        <div data-height="height" style="height: 164px;">
                            <h3 class=" c-margin-b-20 c-font-uppercase c-font-22 c-font-bold">{% trans 'Customer Details' %}</h3>
                            <ul class="list-unstyled">
                                {% if order.buyer_firstname or order.buyer_lastname %}
                                <li>{% trans 'Name' %}: {{ order.buyer_fullname|none_empty }}</li>
                                {% endif %}
                                {% if order.buyer_phone %}
                                <li>{% trans 'Phone' %}: {{ order.buyer_phone|none_empty }}</li>
                                {% endif %}
                                {% if order.buyer_email %}
                                <li>{% trans 'Email' %}: <a href="mailto:{{ order.buyer_email|none_empty }}" class="c-theme-color">
                                    {{ order.buyer_email|none_empty }}</a></li>
                                {% endif %}
                                {% if order.buyer_note %}
                                <li>{% trans 'Note' %}: {{ order.buyer_note|none_empty }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 c-margin-t-20">
                        <div data-height="height" style="height: 164px;">
                            <h3 class=" c-margin-b-20 c-font-uppercase c-font-22 c-font-bold">{% trans 'Billing Address' %}</h3>
                            <ul class="list-unstyled">
                                <li>{{ order.billing_addr_fname }} {{ billing_addr_lname }}</li>
                                <li>
                                    {{ order.billing_addr_street|none_empty }}, {{ order.billing_addr_street2|none_empty }} <br>
                                    {{ order.billing_addr_suburb|none_empty }} <br>
                                    {{ order.billing_addr_city|none_empty }}, {{ order.billing_addr_state|none_empty }} <br>
                                    {{ order.billing_addr_country|none_empty }} {{ order.billing_addr_postcode|none_empty }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END: CUSTOMER DETAILS -->
            </div>
        </div>
    </div>
{% endblock %}