{% extends 'appa/master/form_layout.html' %}
{% load i18n static landing_tags %}

{% block custom_css %}
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'appa/js/upload/styles/jquery.fileupload-ui.css' %}">
    <link rel="stylesheet" href="{% static 'appa/js/upload/styles/jquery.fileupload.css' %}">
    <style>
        .sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .sortable li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 120px;
            height: 120px;
            font-size: 10px;
            text-align: center;
        }

        .sortable .img_remove{
            position: relative;
            top: -102px;
            right: -51px;
            background-color: red;
            color: white;
        }

        .sortable .img_remove_new{
            position: relative;
            top: -106px;
            right: -51px;
            background-color: #53da2c;
            color: white;
        }
    </style>
{% endblock %}
{% block content_body %}
    <section class="vbox">
        <header class="header bg-light dker bg-gradient">
            <ul class="nav nav-tabs">
                <li class="{% if tab == 'basic' or not tab %}active{% endif %}">
                    <a href="{% url 'appa:store_product_change' object_id %}?tab=basic">{% trans 'Basic Information' %}</a></li>
                {% if product %}
                    <li class="{% ifequal tab 'variants' %}active{% endifequal %}">
                        <a href="{% url 'appa:store_product_change' object_id %}?tab=variants">{% trans 'Variants' %}</a></li>
                    <li class="{% ifequal tab 'discount' %}active{% endifequal %}">
                        <a href="{% url 'appa:store_product_change' object_id %}?tab=discount">{% trans 'Discount' %}</a></li>
                    <li class="{% ifequal tab 'seo'  %}active{% endifequal %}">
                        <a href="{% url 'appa:store_product_change' object_id %}?tab=seo">{% trans 'SEO' %}</a></li>
                    <li class="{% ifequal tab 'rules'  %}active{% endifequal %}">
                        <a href="{% url 'appa:store_product_change' object_id %}?tab=rules">{% trans 'Rule' %}</a></li>
                {% endif %}
            </ul>
        </header>
        <div class="tab-content">
            {% block content_section %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block custom_js %}
    <!-- fuelux -->
    <script src="{% static 'appa/js/fuelux/fuelux.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'appa/js/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- slider -->
    <script src="{% static 'appa/js/slider/bootstrap-slider.js' %}"></script>
    <!-- file upload -->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{% static 'appa/js/upload/scripts/vendor/jquery.ui.widget.js' %}"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- combodate -->
    <script src="{% static 'appa/js/libs/moment.min.js' %}"></script>
    <script src="{% static 'appa/js/combodate/combodate.js' %}" cache="false"></script>
    <!-- parsley -->
    <script src="{% static 'appa/js/parsley/parsley.min.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/parsley/parsley.extend.js' %}" cache="false"></script>
    <!-- select2 -->
    <script src="{% static 'appa/js/select2/select2.min.js' %}" cache="false"></script>
    {% block product_js %}
    {% endblock %}
{% endblock %}