{% load landing_tags %}
{% load i18n static %}
{% block menu_top %}
{% endblock %}
{% block menu %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">PERSONAL</li>
                <li>
                    <a class="has-arrow" href="{% url 'account_index' %}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span
                            class="hide-menu">{% trans 'Dashboard' %} </span></a>
                </li>
                {% block menu_bottom %}
                {% endblock %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{% endblock %}
