{% extends 'landing/master/main_layout.html' %}
{% load landing_tags %}

{% block title %}{{ cat.title }}-{{ landing.site.title }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ cat.description|none_empty }}">
    <meta name="keywords" content="{{ cat.keywords|none_empty }}">
    <meta name="author" content="{% if cat.meta_title %}{{ cat.meta_title }}{% else %}{{ cat.title }}{% endif %}">
{% endblock %}

{% block body_content %}
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    {% block breadcrumbs %}
        <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    {% block breadcrumbs_left %}
                        <h3 class="c-font-uppercase c-font-sbold">
                            {{ title }}
                        </h3>
                    {% endblock %}
                </div>
                {% block breadcrumbs_right %}
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        {% for breadcrumb in breadcrumbs %}
                            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.title }}</a></li>
                            {% if forloop.last %}
                            {% else %}
                                <li>/</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <!-- BEGIN: PAGE CONTENT -->
    {% block page_content %}
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row">
                    {% block page_body %}
                        <div class="col-md-9">
                            <!-- BEGIN: PAGE CONTENT -->
                            {% block page_left %}
                            {% endblock %}
                            <!-- END: PAGE CONTENT -->
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: LAYOUT/SIDEBARS/SIDEBAR-MENU-1 -->
                            {% block page_right %}
                            {% endblock %}
                            <!-- END: LAYOUT/SIDEBARS/SIDEBAR-MENU-1 -->
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- END: PAGE CONTENT -->
{% endblock %}