{% load i18n %}
{% block modal %}
<div class="modal-header">
    {% block header %}
    <h4 class="modal-title" id="myLargeModalLabel">{% block title %}{% if title %}{{ title }}{% else %}{% trans 'Dialog Title' %}{% endif %}{% endblock %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    {% endblock %}
</div>
<div class="modal-body">
    {% block modal_body %}
    {% endblock %}
</div>
<div class="modal-footer">
    {% block modal_footer %}
    {% endblock %}
    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">{% trans 'Close' %}</button>
</div>
{% endblock %}
