{% load staticfiles %}
{% load landing_tags %}
{% load i18n %}
<footer class="footer c-layout-footer c-layout-footer-6 c-bg-grey-1" {% if landing.settings.hide_bottom_bar or not show_footer %}style="padding-top: 0;" {% endif %}>
    {% block footer_body %}
        {% if not landing.settings.hide_bottom_bar or show_footer %}
        <div class="container">
		<div class="c-prefooter c-bg-white">
			<div class="c-body">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<ul class="c-links c-theme-ul">
							<li><a href="#">{% trans 'About Us' %}</a></li>
							<li><a href="#">{% trans 'Privacy Policy' %}</a></li>
							<li><a href="#">{% trans 'Terms &amp;	Conditions' %}</a></li>
						</ul>
						<ul class="c-links c-theme-ul">
							<li><a href="#">{% trans 'Blogs' %}</a></li>
						</ul>
					</div>
					<div class="col-md-5 col-sm-6 col-xs-12">
						<div class="c-content-title-1 c-title-md">
							<h3 class="c-title c-font-uppercase c-font-bold">{% trans 'Latest News' %}</h3>
							<div class="c-line-left hide"></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="c-content-title-1 c-title-md">
							<h3 class="c-title c-font-uppercase c-font-bold">{% trans 'Contact Us' %}</h3>
							<div class="c-line-left hide"></div>
						</div>
						<p class="c-address c-font-16">

						</p>
					</div>
				</div>
			</div>

			<div class="c-line"></div>

			<div class="c-foot">
				<div class="row">
					<div class="col-md-7">
						<div class="c-content-title-1 c-title-md">
							<h3 class="c-font-uppercase c-font-bold">{% trans 'About' %} <span class="c-theme-font">{{ landing.site.title }}</span></h3>
							<div class="c-line-left hide"></div>
						</div>
                        {% if landing.site.home_about_html %}
                        <p class="c-text c-font-16 c-font-regular">{% html landing.site.home_about_html %}</p>
                        {% endif %}
					</div>
					<div class="col-md-5">
						<div class="c-content-title-1 c-title-md">
							<h3 class="c-font-uppercase c-font-bold">{% trans 'Subscribe to Newsletter' %}</h3>
							<div class="c-line-left hide"></div>
						</div>
						<div class="c-line-left hide"></div>
						<form action="#">
							<div class="input-group input-group-lg c-square">
								<input type="text" class="form-control c-square c-font-grey-3 c-border-grey c-theme" placeholder="{% trans 'Your Email Here' %}">
					        	<span class="input-group-btn">
					            	<button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button">{% trans 'Subscribe' %}</button>
					        	</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
        {% endif %}
    {% endblock %}

    {% block footer_footer %}
    <div class="c-postfooter c-bg-dark-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 c-col">
                    {% block copyright %}
                        {% if landing.site.footer %}
                            {{ landing.site.footer|safe }}
                        {% else %}
                            <p class="c-copyright c-font-grey">2015 © {% trans 'Powered by' %} <a href="#" class="text-white" target="_blank">BFG</a>. {% trans 'All rights reserved' %}
                            </p>
                        {% endif %}
                    {% endblock %}
				</div>
            </div>
		</div>
	</div>
    {% endblock %}

</footer>
{% block totop %}
<div class="c-layout-go2top" style="display: block;">
	<i class="icon-arrow-up"></i>
</div>
{% endblock %}
