{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block preloader %}
{% endblock %}
<!-- BEGIN: HEADER -->
<header class="{% block header_class %}
    {% if landing.settings.navbar_theme == 'dark' %}
        c-layout-header c-layout-header-2 c-layout-header-dark-mobile c-header-transparent-dark
    {% else %}
        c-layout-header c-layout-header-4 c-layout-header-default-mobile
    {% endif %}
    {% endblock %}" data-minimize-offset="80">
    {% block top_bar %}
        {% if not landing.settings.hide_top_bar %}
        <div class="c-topbar c-topbar-light">
            <div class="container">
                <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-left">
                    <ul class="c-icons c-theme-ul">
                        <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                        <li class="hide"><span>Phone: {{ landing.site.tel1 }}</span></li>
                    </ul>
                </nav>
                <!-- END: INLINE NAV -->
                <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-right">
                    <ul class="c-links c-theme-ul">
                        <li><a href="#">{% trans 'Help' %}</a></li>
                        <li class="c-divider">|</li>
                        <li><a href="{% url 'landing_contactus' %}">{% trans 'Contact' %}</a></li>
                        <li class="c-divider">|</li>
                        <li><a href="#">{% trans 'FAQ' %}</a></li>
                        {% block topbar_right %}
                        {% endblock %}
                    </ul>
                    <ul class="c-ext c-theme-ul language_form" value="{% url 'set_language' %}">
                        {% csrf_token %}
                        <li class="c-lang dropdown c-last">
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <a href="#"><img width="20px" src="{% get_static_prefix %}{% country_flag LANGUAGE_CODE %}"
                                             alt="{% trans 'Switching Languages' %}"></a>
                            <ul class="dropdown-menu pull-right language_list" role="menu">
                                {% for language in languages %}
                                    <li{% if language.code == LANGUAGE_CODE %} class="active"{% endif %}
                                                                               href="{{ language.code }}">
                                        <a href="#">{{ language.name_local }} <img class="pull-right" width="20px" src="
                                                {% get_static_prefix %}{% country_flag language.code %}"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="c-search hide">
                            <!-- BEGIN: QUICK SEARCH -->
                            <form action="#">
                                <input type="text" name="query" placeholder="search..." value="" class="form-control"
                                       autocomplete="off">
                                <i class="fa fa-search"></i>
                            </form>
                            <!-- END: QUICK SEARCH -->
                        </li>
                    </ul>
                </nav>
                <!-- END: INLINE NAV -->
            </div>
        </div>
        {% endif %}
    {% endblock %}
    <div class="{% block navbar_css %}c-navbar{% endblock %}">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    {% block logo %}
                        <a href="{% url 'home' %}" class="c-logo">
                            {% if landing.site.logo %}
                                <img style="height: 70px" src="{{ landing.site.logo }}" alt="{{ landing.site.title }}"
                                     class="c-desktop-logo"/>
                                <img style="height: 40px" src="{{ landing.site.logo }}" alt="{{ landing.site.title }}"
                                     class="c-desktop-logo-inverse"/>
                                <img style="height: 40px" src="{{ landing.site.logo }}" alt="{{ landing.site.title }}"
                                     class="c-mobile-logo"/>
                            {% else %}
                                <img src="{% static 'assets/base/img/layout/logos/logo.png' %}"
                                     alt="{{ landing.site.title }}" class="c-desktop-logo"/>
                                <img src="{% static 'assets/base/img/layout/logos/logo.png' %}"
                                     alt="{{ landing.site.title }}" class="c-desktop-logo-inverse"/>
                                <img src="{% static 'assets/base/img/layout/logos/logo.png' %}"
                                     alt="{{ landing.site.title }}" class="c-mobile-logo"/>
                            {% endif %}
                        </a>
                    {% endblock %}
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    {% block banner %}
                        {% if landing.site.home_top_html %}
                            {{ landing.site.home_top_html|safe }}
                        {% endif %}
                    {% endblock %}
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control"
                           autocomplete="off">
                    <span class="c-theme-link">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    {% block menu %}
                        <ul class="nav navbar-nav c-theme-nav">
                            {% for foo in landing.cta %}
                                {% ct_url foo as current_url %}
                                <li class="c-menu-type-classic {% if request.get_full_path == current_url %}active{% endif %}">
                                    <a href="{{ current_url }}" class="c-link dropdown-toggle">
                                        {{ foo.title }}
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
                                    {% if foo.children %}
                                        <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                            {% for foo2 in foo.children %}
                                                {% ct_url foo2 as current_url2 %}
                                                <li class="dropdown-submenu"><a
                                                        href="{{ current_url2 }}">{{ foo2.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% block top_right %}
                                <li>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'account_index' %}" class="c-link">{% trans 'My Account' %}</a>
                                    {% else %}
                                        {% if landing.site.show_login %}
                                            <a href="{% block login_url %}{% url 'login' %}{% endblock %}"
                                               class="c-link">{% trans 'Login' %}</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endblock %}
                        </ul>
                    {% endblock %}
                </nav>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
            {% block cart_menu %}
            {% endblock %}
        </div>
    </div>
</header>
<!-- END: HEADER -->