{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block title %}{% if landing.site %}
        {% if landing.site.meta_title %}
            {{ landing.site.meta_title }}
        {% else %}
            {{ landing.site.title }}{% if landing.site.subtitle %}
                - {{ landing.site.subtitle }}
            {% endif %}
        {% endif %}
    {% else %}
        {% trans 'Welcome to BFG' %}
    {% endif %}{% endblock %}</title>
    {% block seo %}
        <meta name="description" content="{{ landing.site.description }}">
        <meta name="keywords" content="{{ landing.site.keywords }}">
        <meta name="author" content="{{ landing.site.meta_title }}">
    {% endblock %}
    <!-- Mobile Specific Metas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='{% static 'assets/google.css' %}' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/plugins/socicon/socicon.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{% static 'assets/plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->
    {% block page_css %}
        <!-- BEGIN: PAGE STYLES -->
        <link href="{% static 'assets/plugins/ilightbox/css/ilightbox.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END: PAGE STYLES -->
    {% endblock %}
    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'assets/demos/index/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/demos/index/css/components.css' %}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/demos/index/css/themes/default.css' %}" rel="stylesheet" id="style_theme"
          type="text/css"/>
    <link href="{% static 'assets/demos/index/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/base/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="
            {% if landing.site.page_icon %}{{ landing.site.page_icon }}{% else %}{% static 'assets/favicon.ico' %}{% endif %}"
          rel="shortcut icon">
    {% block custom_css %}
    {% endblock %}
    {% block master_css %}
    {% endblock %}
    {% get_current_language as LANGUAGE_CODE %}

    <style type="text/css">
        {% if LANGUAGE_CODE == 'zh-hans' %}
            body {
                font-family: sans-serif;
            }
        {% endif %}

        .text-blue {
            color: #00A8FF;
        }
    </style>

    <![endif]-->
</head>

<body class="{% block body_css %}c-layout-header-fixed c-layout-header-mobile-fixed{% endblock %}">
<div id="container">
    <div id="header">
        {% block header %}
            {% include 'landing/include/header.html' %}
        {% endblock %}
    </div>
    <div id="body">
        {% block body %}
            <div class="c-layout-page">
                {% block body_content %}
                    {% block breadcrumbs %}
                        <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                            <div class="container">
                                <div class="c-page-title c-pull-left">
                                    {% block breadcrubms_left %}
                                        <h3 class="c-font-uppercase c-font-sbold">{% block content_title %}{% trans title %}{% endblock %}</h3>
                                        <h4 class="">{% trans subtitle %}</h4>
                                    {% endblock %}
                                </div>
                                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                                    {% block breadcrubms_right %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endblock %}
                    {% block content %}
                        <section class="about-us-section">
                            <div class="container">
                                {% block innter_content %}
                                {% endblock %}
                            </div>
                        </section>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            {% include 'landing/include/footer.html' %}
        {% endblock %}
    </div>
</div>

<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
	<script src="{% static 'assets/excanvas.min.js' %}"></script>
	<![endif]-->
<script src="{% static 'assets/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/base/js/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/jquery.easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/reveal-animate/wow.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demos/index/js/scripts/reveal-animate/reveal-animate.js' %}"
        type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/smooth-scroll/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/typed/typed.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/js-cookie/js.cookie.js' %}" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="{% static 'assets/base/js/components.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/base/js/components-shop.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/base/js/purl.js' %}" type="text/javascript"></script>
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'appa/js/common.js' %}"></script>
<script src="{% static 'assets/base/js/app.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        App.init(); // init core
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
{% block page_js %}
    <script src="{% static 'assets/demos/default/js/scripts/revo-slider/slider-4.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/isotope/packery-mode.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/jquery.requestAnimationFrame.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/jquery.mousewheel.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/ilightbox/js/ilightbox.packed.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/demos/default/js/scripts/pages/isotope-gallery.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js' %}"
            type="text/javascript"></script>
{% endblock %}
<!-- END: PAGE SCRIPTS -->
{% block custom_js %}
{% endblock %}
{% if landing.site.google_analysis_apikey %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ landing.site.google_analysis_apikey }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ landing.site.google_analysis_apikey }}');
    </script>
{% endif %}
</body>
</html>