{% load static i18n landing_tags %}
{% load hijack_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo %}
        <meta name="description" content="{{ landing.site.description }}">
        <meta name="keywords" content="{{ landing.site.keywords }}">
        <meta name="author" content="{{ landing.site.meta_title }}">
    {% endblock %}
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="
            {% if landing.site.page_icon %}{{ landing.site.page_icon }}{% else %}{% static 'assets/favicon.ico' %}{% endif %}">
    <title>{% block title %}{% if landing.site %}
        {% if landing.site.meta_title %}
            {{ landing.site.meta_title }}
        {% else %}
            {{ landing.site.title }}{% if landing.site.subtitle %}
                - {{ landing.site.subtitle }}
            {% endif %}
        {% endif %}
    {% else %}
        {% trans 'BFG User Portal' %}
    {% endif %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'account/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'account/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    {% block custom_css %}
    {% endblock %}
    <link href="{% static 'account/css/style.css' %}" rel="stylesheet">
    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'account/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <!-- END: THEME STYLES -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- BEGIN: PAGE STYLES -->
    {% block page_css %}
    {% endblock %}
    <!-- END: PAGE STYLES -->
    {% block master_css %}
    {% endblock %}
    {% get_current_language as LANGUAGE_CODE %}
</head>

<body class="{% block body_css %}fix-header card-no-border logo-center{% endblock %}">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
{% block preloader %}
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
{% endblock %}

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    {% block header %}
    <!-- Topbar header - style you can find in pages.scss -->
    {% include 'landing/account/inc_account_header.html' %}
    <!-- End Topbar header -->
    {% endblock %}

    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    {% include "landing/account/inc_menu.html" %}
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
            {% hijack_notification %}
            <!-- Bread crumb and right sidebar toggle -->
            {% block body %}
                {% include "landing/include/inc_messages.html" %}
                {% block breadcrumbs %}
                    <div class="row page-titles">
                        <div class="col-md-5 col-8 align-self-center">
                            {% block breadcrubms_left %}
                                <h3 class="text-themecolor m-b-0 m-t-0">
                                    {% block breadcrumbs_title %}{% trans title %}{% endblock %}</h3>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'account_index' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        {% block breadcrumbs_subtitle %}{% trans subtitle %}{% endblock %}</li>
                                </ol>
                            {% endblock %}
                        </div>
                        <div class="col-md-7 col-4 align-self-center">
                            {% block breadcrubms_right %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        {% block account_content %}
                        {% endblock %}
                    </div>
                </div>
                <!-- End PAge Content -->
            {% endblock %}
            <!-- .right-sidebar -->
            {% block right_sidebar %}
            {% endblock %}
            <!-- End Right sidebar -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        {% block footer %}
            <footer class="footer">
                © 2018 PackGo {% blocktrans %}is powered by <a href="https://www.surlex.com" target="_blank">Surlex Limited</a>.{% endblocktrans %}
            </footer>
        {% endblock %}
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{% static 'account/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/base/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'account/plugins/wizard/jquery.validate.min.js' %}"></script>
{% if LANGUAGE_CODE == 'zh-hans' %}
<script src="{% static 'account/plugins/wizard/localization/messages_zh.min.js' %}"></script>
{% endif %}

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'account/plugins/popper/popper.min.js' %}"></script>
<script src="{% static 'account/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'account/js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'account/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'account/js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'account/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'account/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'account/js/purl.js' %}"></script>
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'account/js/custom.js' %}"></script>
<script src="{% static 'account/js/chat.js' %}"></script>
<script src="{% static 'account/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'account/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script src="{% static 'packgo/common.js' %}"></script>
{% block custom_js %}
{% endblock %}
{% if landing.site.google_analysis_apikey %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ landing.site.google_analysis_apikey }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ landing.site.google_analysis_apikey }}');
    </script>
{% endif %}
</body>
</html>

{##}

{#{% include 'landing/include/inc_messages.html' %}#}
