<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }}</title>
    {% block css %}
    <style>
        table{
            width: 100%;
            text-align: left;
            margin-bottom: 60px;
            border: solid 1px #c0c0c0;
        }

        td{
            padding: 5px;
        }

        th{
            padding: 5px;
            background: #e2e2e2;
        }

        .title{
            font-size: 30px;
            margin-bottom: 20px;
        }

        @page {
            size: a4 portrait;
            @frame header_frame {
                -pdf-frame-content: header_content;
                left: 50pt; width: 512pt; top: 20pt; height: 40pt;
                {#-pdf-frame-border: 1;#}
            }
            @frame content_frame {          /* Content Frame */
                left: 50pt; width: 512pt; top: 60pt; height: 732pt;
                {#-pdf-frame-border: 1;#}
            }
            @frame footer_frame {           /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt; width: 512pt; top: 812pt; height: 40pt;
                {#-pdf-frame-border: 1;#}
            }
        }

    </style>
    {% endblock %}
    {% block custom_css %}
    {% endblock %}
</head>
<body>
    <div style="height: 100px; text-align: right" id="header_content">
        <img width="400px" src="{{ logo }}">
    </div>
    <div id="footer_content" style="text-align: center;">
        Page <pdf:pagenumber /> of <pdf:pagecount />
{#        <div style="text-align: right; color: #888">Powered by PackGo wwww.packns.com</div>#}
    </div>
{% block body %}

{% endblock %}
</body>
</html>