{% load i18n static landing_tags %}
<div class="form-group">
    <label for="title">{% trans 'Name' %} :</label>
    <input type="text" class="form-control" id="builidng" name="builidng">
    <label for="title">{% trans 'Telphone' %} :</label>
    <input type="text" class="form-control" id="telphone" name="builidng">
    <label for="title">{% trans 'Building or Unit' %} :</label>
    <input type="text" class="form-control" id="builidng" name="builidng">
    <label for="title">{% trans 'Street' %} : <span
            class="text-danger">*</span></label>
    <input type="text" class="form-control" id="street" name="street">
    <label for="title">{% trans 'Suburb' %} :</label>
    <input type="text" class="form-control" id="street" name="street">
    <label for="title">{% trans 'City' %} :</label>
    <input type="text" class="form-control" id="street" name="street">
    <label for="title">{% trans 'Postcode' %} :</label>
    <input type="text" class="form-control" id="street" name="street">
</div>