<!-- Page Title -->
{% load static %}
<section class="breadcrumb-wrap" {% if cat.picture %}style="background-image: url('{% get_media_prefix %}{{ cat.picture }}');background-size:cover;background-repeat:no-repeat;background-position:center center;" {% endif %}>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ cat.title }}</h1>
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}"><img class="img-home" src="{% static 'landing/images/common/icon-home.gif' %}" alt="icon home">{{ landing.ct.home.title }}</a></li>
                    <li class="last">{{ cat.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>