<div class="info-content">
		<div class="container">
			<div class="row center-content">
				<div class="col-md-7 col-md-push-5">
					<img src="images/2.png" class="img-responsive " alt="">
				</div>

				<div class="col-md-5 col-md-pull-7">
					<h4>Multipurpose<br>Template</h4>
					<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
					<a href="#" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
	</div>