{% load i18n %}
{% load static landing_tags %}

<div class="text-right">
    <ul class="pagination">
        {% for p in pagers %}
            {% if forloop.first %}
                <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a>
                </li>
                <li class="footable-page-arrow disabled"><a data-page="prev"
                                                            href="{% relative_url p.href 'page' %}">‹</a></li>
            {% elif forloop.last %}
                <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                <li class="footable-page-arrow"><a data-page="last" href="{% relative_url p.href 'page' %}">»</a></li>
            {% else %}
                <li class="footable-page {% if p.title == page %}active{% endif %}">
                    <a data-page="{{ forloop.counter0 }}" href="{% relative_url p.href 'page' %}">{{ p.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
