{% load landing_tags %}
{% load static %}
{% load i18n %}

<form action="" method="post">
	<div class="input-group">
      <input type="text" class="form-control c-square c-theme-border" placeholder="{% trans 'Search' %} ...">
      <span class="input-group-btn">
        <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">{% trans 'Go' %}!</button>
      </span>
    </div>
</form>