{% load landing_tags %}
{% load static %}
{% load i18n %}

{% if next_posts %}
    <!-- Widget : Recent Post -->
    <aside class="widget widget_recentposts">
        <div class="widget-title">
            <h3 class="tc_dark">{% trans "Recent Posts" %}</h3>
        </div>
        {% for post in next_posts %}
            {% post_url post as post_url %}
            <div class="latest-content">
                {% if post.picture %}
                    <div class="media">
                        <a href="{{ post_url }}" title="{{ post.title }}">
                            <i>
                                <img src="{% get_media_prefix %}{{ post.picture }}" class="wp-post-image"
                                     alt="{{ post.title }}"></i></a>
                    </div>
                {% endif %}
                <h5><a class="tc_dark tc_green_h" title="{{ post.title }}" href="{{ post_url }}">{{ post.title }}</a>
                </h5>
                <span><i class="fa fa-calendar-check-o tc_green"></i><a class="tc_dove_gray tc_green_h"
                                                                        href="#">{{ post.last_modified_time }}</a></span>
            </div>
        {% endfor %}
    </aside><!-- Widget : Recent Post -->
{% endif %}