<div class="cta-content">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 col-md-offset-2">
					<i class="ti-shopping-cart head-ico"></i>
					<h3>Are you impressed ?</h3>
					<p class="space30">Lorem ipsum dolor sit amet curabitur eu dapibus felis. Morbi ut dolor ut mi ultricies lobortis.<br>Morbi et viverra turpis. Donec cursus ornare purus nec porttitor.</p>
					<a href="#" class="btn btn-ico">Download GoStat Now <i class="ti-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>