{% if messages %}
<div class="messages">
    {% for message in messages %}
        {% if message.tags %}
            {% ifequal message.tags "error" %}
                <div class="alert alert-danger c-margin-t-20" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }} c-margin-t-20" role="alert">{{ message }}</div>
            {% endifequal %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}