{% load staticfiles %}
{% load static %}
{% load landing_tags %}

<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="row">
            {% for feature in landing.ct.feature|posts %}
             <div class="col-sm-4">
                <div class="c-content-feature-1 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                    <div class="c-content-line-icon c-theme {{ feature.icon }}"></div>
                    <h3 class="c-font-uppercase c-font-bold">{{ feature.title }}</h3>
                    <p class="c-font-thin">{{ feature.subtitle }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>