<div class="pagination">
    <ul class="inline">
        {% for foo in pagers %}
            {% if c2 %}
                <li>
                    <a href="{{ relpath }}/{{ c1.title|lower|slugify }}/{{ c2.title|lower|slugify }}/{{ foo.href }}.html">{{ foo.title }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ relpath }}/{{ c.title|lower|slugify }}/{{ foo.href }}.html">{{ foo.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>