{% load staticfiles %}
{% load landing_tags %}
{% load static %}
{% load i18n %}

<!-- Testimonial -->
{% if landing.site.home_testimonial_html %}
    {% html landing.site.home_testimonial_html %}
{% else %}
    <section class="testimonial-box">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="title center">1000+ Happy Clients</h2>
					<div class="wrapper">
						<div class="testimonial" data-items="2" data-itemsdesktop="2" data-itemsdesktopsmall="2" data-itemstablet="1" data-itemsmobile="1" data-slidespeed="1" data-autoplay="true" data-nav="true" data-pagination="true">
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar01.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
							</div>
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar02.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
							</div>
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar01.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
							</div>
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar02.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
							</div>
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar01.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
							</div>
							<div class="item">
								<p class="image"><img src="{% static 'landing/images/pages/client_avatar02.jpg' %}" alt="client"></p>
								<p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}

