<div class="pricing bg-gray" id="pricing">
		<div class="container">
			<div class="content-head space60 text-center">
				<h2>Choose your best plan</h2>
				<p>Suspendisse egestas mattis rhoncus pellen erat at sed do eiusmod tempor<br>posuere molestie lorem lectus interdum augue</p>
			</div>
		</div>

		<div class="container">
			<div class="row">
                {% for foo in plans %}
                <!-- Pricing Plan - {{ row }} -->
				<div class="col-md-3">
					<div class="panel panel-default {% if foo == site.defalt_price %}
					active
					{% endif %} text-center">
						<div class="panel-heading">
							<strong>{{ foo.title }}</strong>
						</div>
						<div class="panel-body">
							<h3 class="panel-title price">{{ foo.price_text|safe }}</h3>
                            {% if foo.unit %}
                                /{{ foo.unit }}
                            {% endif %}
						</div>
						<ul class="list-group">
							<li class="list-group-item">5 Projects</li>
							<li class="list-group-item">5 GB of Storage</li>
							<li class="list-group-item">Up to 100 Users</li>
							<li class="list-group-item">10 GB Bandwidth</li>
							<li class="list-group-item">Security Suite</li>
						</ul>
						<a class="buy-btn" href="{% url 'account_signup' %}">Sign Up Now!</a>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>