{% load staticfiles %}
{% load landing_tags %}
{% load static %}
{% load i18n %}

<!-- Request -->
{% if landing.site.home_request_html %}
    {% html landing.site.home_request_html %}
{% else %}
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-feedback-1 c-option-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-container c-bg-green c-bg-img-bottom-right" style="background-image:url({% get_static_prefix %}/assets/base/img/content/misc/feedback_box_1.png)">
                            <div class="c-content-title-1 c-inverse">
                                <h3 class="c-font-uppercase c-font-bold">{% trans 'Request Call Back' %}?</h3>
                                <div class="c-line-left"></div>
                                <p class="c-font-lowercase">
                                    {% trans 'Would you like to speak to one of our financial advisers over the phone? Just submit your details and we’ll be in touch shortly.' %}
                                    <br>
                                    {% trans 'You can also email us if you would prefer.' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-contact">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">Keep in touch</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <form action="{% url 'landing_contactus' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="discuss">{% trans 'How can we help' %}?</label>
                                    <select name="discuss" id="discuss" required="required" class="form-control c-square c-theme input-lg">
                                        <option value="No choice">{% trans 'I would like to discuss' %}:</option>
                                        {% for service in services %}
                                            <option value="{{ service.title }}">{{ service.title }}</option>
                                        {% endfor %}
                                        <option value="Other Issue">{% trans 'Other issues' %}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input id="name" name="name" type="text" placeholder="{% trans 'Your name' %}" class="form-control c-square c-theme input-lg">
                                </div>
                                <div class="form-group">
                                    <input id="email" name="email" type="text" placeholder="{% trans 'Your email' %}" class="form-control c-square c-theme input-lg">
                                </div>
                                <div class="form-group">
                                    <input id="phone" name="phone" type="text" placeholder="{% trans 'Contact phone' %}" class="form-control c-square c-theme input-lg">
                                </div>
                                <div class="form-group">
                                    <textarea rows="8" id="message" name="message" placeholder="{% trans 'Write comment here' %}..." class="form-control c-theme c-square input-lg"></textarea>
                                </div>
                                <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}