<div class="c-product-rating c-right">
    {% for score in scores %}
    <i class="fa {% if score == 1 %}fa-star{% elif score == 0.5 %}fa-star-half-o{% else %}fa-star-o{% endif %} fa-star c-font-red"></i>
    {% endfor %}
</div>