{% load landing_tags %}
{% load static %}
{% load i18n %}

{% if recent_posts %}
    <div class="c-content-tab-1 c-theme c-margin-t-30">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#blog_recent_posts" data-toggle="tab">{% trans "Recent Posts" %}</a></li>
                <li><a href="#blog_popular_posts" data-toggle="tab">{% trans "Popular Posts" %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="blog_recent_posts">
                    <ul class="c-content-recent-posts-1">
                        {% for post in recent_posts %}
                            {% post_url post as post_url %}
                            <li>
                                {% if post.picture %}
                                    <div class="c-image">
                                        <a href="{{ post_url }}">
                                            <img src="{% get_media_prefix %}{{ post.picture }}" alt="{{ post.title }}"
                                                 class="img-responsive"></a>
                                    </div>
                                {% endif %}
                                <div class="c-post">
                                    <a href="{{ post_url }}" class="c-title">
                                    {{ post.title }}
                                    </a>
                                    <div class="c-date">{{ post.last_modified_time|date }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="blog_popular_posts">
                    <ul class="c-content-recent-posts-1">
                        {% for post in popular_posts %}
                            {% post_url post as post_url %}
                            <li>
                                {% if post.picture %}
                                    <div class="c-image">
                                        <a href="{{ post_url }}">
                                            <img src="{% get_media_prefix %}{{ post.picture }}" alt="{{ post.title }}"
                                                 class="img-responsive"></a>
                                    </div>
                                {% endif %}
                                <div class="c-post">
                                    <a href="{{ post_url }}" class="c-title">
                                    {{ post.title }}
                                    </a>
                                    <div class="c-date">{{ post.last_modified_time|date }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}