{% load staticfiles %}
{% load landing_tags %}
{% load static %}
{% load i18n %}
    <div class="c-content-box c-size-md c-bg-white">
        <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
            <div class="c-content-title-1 wow animate fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                <h3 class="c-font-uppercase c-center c-font-bold">{% trans 'Services We Do' %}</h3>
                <div class="c-line-center"></div>
                </div>
                <div class="row wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                {% for service in landing.ct.service|posts:4 %}
                    <div class="col-md-6">
                        {% if forloop.counter|modby:4 == 1 or forloop.counter|modby:4 == 2 %}
                            <div class="c-content-tile-1 c-bg-{{ service.icon }}">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-content-v-center" data-height="height" style="height: 261px;">
                                            <div class="c-wrapper">
                                                <div class="c-body c-center">
                                                    <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white">
                                                        {{ service.title }}
                                                    </h3>
                                                    <p class="c-tile-body c-font-white">{{ service.subtitle }}</p>
                                                    <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-right c-arrow-{{ service.icon }} c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#"><i class="icon-link"></i></a>
                                                    <a href="{% get_media_prefix %}{{ service.picture }}" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i> </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url(&quot;{% get_media_prefix %}{{ service.picture }}&quot;); height: 261px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="c-content-tile-1 c-bg-{{ service.icon }}">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-left c-arrow-{{ service.icon }} c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#"><i class="icon-link"></i></a>
                                                    <a href="{% get_media_prefix %}{{ service.picture }}" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i> </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url(&quot;{% get_media_prefix %}{{ service.picture }}&quot;); height: 261px;"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-content-v-center" data-height="height" style="height: 261px;">
                                            <div class="c-wrapper">
                                                <div class="c-body c-center">
                                                    <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white">
                                                        {{ service.title }}
                                                    </h3>
                                                    <p class="c-tile-body c-font-white">{{ service.subtitle }}</p>
                                                    <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
