{% load landing_tags %}
{% load staticfiles %}
{% load i18n %}

{% if sub_categories %}
    <div class="c-content-ver-nav">
        <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
            <h3 class="c-font-bold c-font-uppercase">{% trans "Categories" %}</h3>
            <div class="c-line-left c-theme-bg"></div>
        </div>
        <ul class="c-menu c-arrow-dot1 c-theme">
            {% for sub_category in sub_categories %}
            <li><a href="{% ct_url sub_category %}">{{ sub_category.title }} </a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}