<div class="{% if free_user %}bg-danger{% else %}bg-success{% endif %} wrapper hidden-vertical animated fadeInUp text-sm">
    Hi {{ request.user }},<br>
    {% if free_user %}
        You trail period will expired in {{ days_left }} days.
        <br>
        <a class="btn btn-white" href="{% url 'digger_settings' type='pricing' %}">Upgrade now</a>
    {% else %}
        Current Plan:
        {% for group in groups %}
            {{ group.name }}
        {% endfor %}
    {% endif %}
</div>
