<div class="intro1">
		<div class="overlay"></div>
		<div class="container">
			<div class="row center-content">
				<div class="col-md-12 text-center">
					<h2>{{ site.title }}</h2>
					<p class="space30 editContent">{{ site.subtitle }}</p>
					<a href="#" class="btn btn-default btn-ico">Purchase Now<i class="ti-shopping-cart"></i></a>
					<a href="#" class="btn btn-default2 btn-ico">Learn More<i class="ti-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>