{% load staticfiles %}
{% load landing_tags %}
{% load static %}
{% load i18n %}

<!-- Subscription -->
{% if landing.site.home_subscription_html %}
    {% html landing.site.home_subscription_html %}
{% else %}
    <div class="c-content-box c-size-sm c-bg-dark">
        <div class="container">
            <div class="c-content-subscribe-form-1">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">{% trans 'Need more information?' %}</h3>
                        <div class="c-body c-font-16 c-font-uppercase c-font-sbold">{% trans 'We can call you and help with your problem, just leave us your phone number.' %}</div>
                    </div>
                    <div class="col-sm-6">
                        <form method="post" id="subscribeForm" class="subscribe-form" action="">
                            <div class="input-group input-group-lg">
                                <input type="email" id="emailsubscribe" name="email" class="form-control input-lg" placeholder="{% trans 'Enter you email' %}..."
                                   value="" required="required" title="{% trans 'Enter you email' %}">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">{% trans 'Sucbscribe' %}</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}