<div class="clients">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-2">
					<img class="center-block" src="images/clients/1.png" alt="">
				</div>
				<div class="col-md-2">
					<img class="center-block" src="images/clients/2.png" alt="">
				</div>
				<div class="col-md-2">
					<img class="center-block" src="images/clients/3.png" alt="">
				</div>
				<div class="col-md-2">
					<img class="center-block" src="images/clients/4.png" alt="">
				</div>
				<div class="col-md-2">
					<img class="center-block" src="images/clients/5.png" alt="">
				</div>
			</div>
		</div>
	</div>