
<div class="info-content">
		<div class="container">
			<div class="row center-content">
				<div class="col-md-8">
					<img src="images/1.png" class="img-responsive " alt="">
				</div>
				<div class="col-md-4">
					<h4>Responsive<br>Design</h4>
					<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
					<a href="#" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
	</div>
<div class="dual-content" id="dual-info">
		<div class="container-fluid">
			<div class="row">
				<div class="dual-img"></div>
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<div class="col-md-9">
						<div class="dc-info">
							<h4>Retina-Ready &amp; Responsive</h4>
							<p>The entire idea of the retina-ready technology is to give sharper images, and to create something that would look as sharp as it would in print. This is what you will find in the Monstroid WordPress theme.</p>
							<ul class="space30">
								<li><span class="fa fa-check list-icon" style=""></span><a href="#">Lorem ipsum dolor sit amet</a></li>
								<li><span class="fa fa-check list-icon" style=""></span><a href="#">Elit sed do eiusmod tempor</a></li>
								<li><span class="fa fa-check list-icon" style=""></span><a href="#">Incididunt ut labore</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>