{% load i18n static %}
{% load landing_tags %}

<div class="c-content-box c-size-lg c-bg-grey-1">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-7">
                    <div class="c-content-feature-5">
                        <div class="c-content-title-1 wow amimate fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                            <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">{{ landing.ct.whyus.title }}</h3>
                            <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                        </div>
                        <div class="c-text wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1;">
                            {{ landing.ct.whyus.subtitle }}
                        </div>
                        <a href="{% url 'landing_content_page' cat1='whyus' %}" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn"
                                style="visibility: visible; animation-name: fadeIn; opacity: 1;">
                            {% trans 'Explore' %}
                        </a>
                        <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt=""
                             src="{% get_media_prefix %}{{ landing.ct.whyus.picture }}" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="c-content-accordion-1 c-theme wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight; opacity: 1;">
                        <div class="panel-group" id="accordion" role="tablist">
                            {% for post in landing.ct.whyus|posts %}
                                {% if forloop.first %}
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}"> {{ post.title }} </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ forloop.counter0 }}">
                                            <div class="panel-body c-font-18"> {{ post.subtitle }} </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter0 }}"> {{ post.title }} </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter0 }}">
                                            <div class="panel-body c-font-18"> {{ post.subtitle }} </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

