{% load i18n landing_tags static %}
<button class="btn btn-default submit-btn" data-action="{% url 'appa:store_bankstatement_action' %}?action=match" refresh="page" type="button" >{% trans 'Match' %}</button>
<form class="pull-right" enctype="multipart/form-data"
   action="{% url 'appa:store_bankstatement_action' %}?{{ request.GET.urlencode|url_remove_param:'o' }}&action=import" method="post"
   style="margin-left: 15px">
    {% csrf_token %}
    <input type="file" style="position: absolute; top: -1000px" name="file">
    <button class="btn btn-success import_file" type="button" >{% trans 'Import' %}</button>
    <input type="checkbox" name="import_extra" checked > {% trans 'Only Import New Records' %}
</form>