{% extends 'store/appa/master/product_layout.html' %}
{% load i18n static landing_tags %}

{% block content_section %}
<section class="tab-pane active" id="basic">
    <section class="panel">
        <header class="panel-heading font-bold">
            {% trans 'Product Information' %}
        </header>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                    <div class="col-sm-10">
                        <input name="title" type="text"
                               class="form-control"
                               placeholder="Product name"
                               maxlength="300"
                               value="{{ product.title }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'SKU' %}</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                <input name="sku" type="text" class="form-control" placeholder="SKU"
                                       value="{{ product.sku|none_empty }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Quantity' %}</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-2">
                                <input name="quantity" type="number" required class="form-control" placeholder="0"
                                       value="{% if product.quantity %}{{ product.quantity }}{% else %}0{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Enable' %}</label>
                    <div class="col-sm-10">
                        <label class="switch">
                            <input type="checkbox" name="enable" {% if product.enable %}checked{% endif %}>
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Categories' %}</label>
                    <div class="col-sm-10">
                        <a href="#" data-target="#modal-form"
                           data-toggle="modal" class="btn btn-info" data-backdrop="false"
                           id="selectCategory">
                            {% trans 'Select Category' %}
                        </a>
                        <input type="hidden" name="category_list" id="category_list"/>
                        <div id="selectedCategories">
                            {% for foo in categories %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionCategory" id="optionsRadios1"
                                               value="{{ foo.id }}"
                                               {% if forloop.first %}checked{% endif %}>
                                        {{ foo.title }}
                                        <i class='fa fa-unlink cat_remove' style='padding-left:20px'></i>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Price' %}</label>
                    <div class="col-sm-10">
                        <div class="inline v-middle">
                            <div class="input-group input-s">
                                <input name="price" type="text" id="appendedInput"
                                       class="input-sm form-control" value="{{ product.price|none_default:0 }}">
                                {% include 'appa/includes/inc_currency_selector.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Purchase price' %}</label>
                    <div class="col-sm-10">
                        <div class="inline v-middle">
                            <div class="input-group input-s">
                                <input name="base_price" type="text" id="appendedInput"
                                       class="input-sm form-control" value="{{ product.base_price|none_default:0 }}">
                                {% include 'appa/includes/inc_currency_selector.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group" id="product_images">
                    <label class="col-sm-2 control-label">{% trans 'Images' %}</label>
                    <div class="col-sm-10">
                            <span class="btn btn-success fileinput-button m-b">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{% trans 'Upload photos...' %}</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple="">
                            </span>
{#                        <a class="btn btn-primary btn-large selectPhoto m-b">{% trans 'Server Photos' %}</a>#}
                        <!-- The global progress bar -->
                        <div id="progress" class="progress hidden">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files">
                            {% if product.images.all|length > 0 %}
                                <ul id="sortable" class="ui-sortable sortable">
                                    {% for foo in product.images.all %}
                                        <li class="ui-state-default" pk="{{ foo.image.id }}">
                                            <div class="col-12">
                                                <a target="_blank" href="{% get_media_prefix %}{{ foo.image.image.url }}" title="{{ foo.image.title }}">
                                                    <img width="100px" height="100px" src="{% get_media_prefix %}{{ foo.image.thumb }}"/>
                                                </a>
                                                <br>
                                                <input type="hidden" name="images" value="{{ foo.image.id }}">
                                            </div>
                                            <button class="img_remove btn btn-xs">x</button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Content' %}</label>
                    <div class="col-sm-10">
                        {% include 'store/appa/include/editor.html' %}
                    </div>
                </div>
                <input type="hidden" id="image_pos" name="image_pos" value="">
                <input type="hidden" id="description" name="content" value="">
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" name="action" value="save" class="submit_edit btn btn-primary">{% trans 'Save changes' %}</button>
                        <button type="button" class="btn btn-white btn-cancel">{% trans 'Cancel' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
{% endblock %}

{% block product_js %}
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'appa/js/upload/scripts/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload-audio.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload-video.js' %}"></script>
    <script src="{% static 'appa/js/upload/scripts/jquery.fileupload-validate.js' %}"></script>
    <!-- wysiwyg -->
    <script src="{% static 'appa/js/wysiwyg/jquery.hotkeys.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/wysiwyg/bootstrap-wysiwyg.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/wysiwyg/demo.js' %}" cache="false"></script>
    <script>

        selectCategory = function () {
            $("input[name='categoryItem']:checked").each(function () {

                var checked = $("input[name='optionCategory']:checked").length == 0;
                var check_str = checked ? "checked" : "";
                var div = $('<div>').addClass('radio');

                $('<label>').append("<input type='radio' " + check_str + " name='optionCategory' id='optionsRadios" + $(this).val() + "' value='" + $(this).val() + "'>" + $(this).attr('title')).appendTo(div);
                var removelink = $("<i class='fa fa-unlink cat_remove' style='padding-left:20px'></i>");
                removelink.click(function () {
                    $(this).parent().remove();
                });
                removelink.appendTo(div);
                div.appendTo($('#selectedCategories'))
            });
        }

        $(function () {
            $('.cat_remove').click(function () {
                $(this).parent().remove();
            });

            $('.selectPhoto').click(function (e) {
                e.preventDefault();
                $('#modal-form').modal({
                    remote: '#',
                    refresh: true,
                    backdrop: false
                });
            });

            $('form').submit(function () {
                $('li[pk]').each(function () {
                    $('#image_pos').val($('#image_pos').val() + ';' + $(this).attr('pk'));
                });
                $("input[name='optionCategory']").each(function () {
                    $('#category_list').val($('#category_list').val() + ';' + $(this).attr('value'));
                });
                $('#description').val($('#editor').html());
            });

            init_file_upload($('#fileupload'), '/upload_image/?folder={{ company.id }}');

            click_create_rules = function(){
                var ids = '';
                $("input[name='create_channelrule_type']:checked").each(function(){
                    ids += ';'+$(this).val();
                });
                $.post('#', {'ids':ids,'csrfmiddlewaretoken': $('#csrfmiddlewaretoken').val()}, function (result) {
                    print(result);
                });
            }
        });
    </script>
{% endblock %}