{% extends 'store/appa/master/product_layout.html' %}
{% load i18n static landing_tags %}

{% block content_section %}
<section class="tab-pane active" id="basic">
    <section class="panel">
        <header class="panel-heading font-bold">
            {% trans 'Rules' %}
        </header>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" name="action" value="save" class="submit_edit btn btn-primary">{% trans 'Save changes' %}</button>
                        <button type="button" class="btn btn-white btn-cancel">{% trans 'Cancel' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
{% endblock %}

{% block product_js %}
    <script>
        $(function () {

        });
    </script>
{% endblock %}