{% extends 'store/appa/master/product_layout.html' %}
{% load i18n static landing_tags %}

{% block content_section %}
<section class="tab-pane active" id="basic">
    <section class="panel">
        <header class="panel-heading font-bold">
            {% trans 'Variants' %}
        </header>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{% trans 'Name' %}</label>
                    <div class="col-sm-10">
                        <input name="title" type="text"
                               class="form-control"
                               placeholder="Product name"
                               maxlength="300"
                               value="{{ product.title }}" required>
                    </div>
                </div>
                <div class="form-row field-height">
                    <div class="form-group">
                        <label class="required control-label col-sm-2"
                               for="id_height">{% trans 'Variant List' %}:</label>
                        <div class="col-sm-1">
                            {% trans 'Title' %}
                        </div>
                        <div class="col-sm-3">
                            {% trans 'Content' %}
                        </div>
                        <div class="col-sm-1">
                            {% trans 'Quantity' %}
                        </div>
                        <div class="col-sm-1">
                            {% trans 'SKU' %}
                        </div>
                        <div class="col-sm-1">
                            {% trans 'Image' %}
                        </div>
                    </div>
                    {% if product.variants.all|length > 0 %}
                        {% for piece in parcel.parcelpiece_set.all %}
                            <div class="form-group parcel_row">
                                <input type="hidden" name="piece_ids" value="{{ piece.id }}">
                                <div class="col-sm-1 col-sm-offset-2">
                                    <input type="number" name="piece_length"
                                           value="{{ piece.length|zero_default:0 }}" step="any"
                                           min="1"
                                           required="" class="form-control length" id="id_length">
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" name="piece_height"
                                           value="{{ piece.height|zero_default:0 }}" step="any"
                                           min="1"
                                           required="" class="form-control height" id="id_height">
                                </div>
                                <div class="col-sm-1">
                                    <input type="number" name="piece_width"
                                           value="{{ piece.width|zero_default:0 }}" step="any"
                                           min="1"
                                           required="" class="form-control width" id="id_width">
                                </div>
                                <div class="col-sm-1">
                                    <input type="number" name="piece_weight"
                                           value="{{ piece.weight|zero_default:0 }}" step="0.01"
                                           min="0.1"
                                           required="" class="form-control weight" id="id_weight">
                                </div>
                                <div class="col-sm-1">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="times"
                                               {% if piece.times %}checked{% endif %}> x
                                        <input type="hidden" name="is_whole" value="off">
                                    </label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="number" name="piece_quantity"
                                           value="{{ piece.quantity|zero_default:1 }}" step="any"
                                           min="1"
                                           required="" class="form-control quantity" id="id_quantity">
                                </div>
                                <div class="col-sm-1">
                                    <select name="piece_wrapping_type" id="id_wrapping_type" required=""
                                            class="form-control"
                                            selected_id="{% cookie piece.wrapping_type_id 'WrappingType' %}">
                                        <option value="">---------</option>
                                        {% for wrapping_type in wrapping_types %}
                                            <option value="{{ wrapping_type.id }}">{% trans wrapping_type.title %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" value="{% trans 'Add' %}"
                                           class="btn btn-default add_line"
                                           title="{% trans 'Add Line' %}">
                                    <input type="button" value="{% trans 'Del' %}"
                                           class="btn btn-white del_line"
                                           title="{% trans 'Delete Line' %}">
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="form-group parcel_row">
                            <div class="col-sm-1 col-sm-offset-2">
                                <input type="text" name="variants-0-title"
                                       value=""
                                       required="" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="variants-0-content"
                                       value=""
                                       class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <input type="number" name="variants-0-quantity"
                                       value="{{ parcel.width|zero_default:0 }}" step="1"
                                       min="1"
                                       required="" class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <input type="text" name="variants-0-sku"
                                       class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <div class="dropfile visible-lg" for="select_file">
                                    <small>Click or Drag</small>
                                </div>
                                <input id="select_file" type="file" class="hidden">
                            </div>
                            <div class="col-sm-2">
                                <input type="button" value="{% trans 'Add' %}"
                                       class="btn btn-default add_line" title="{% trans 'Add Line' %}">
                                <input type="button" value="{% trans 'Del' %}"
                                       class="btn btn-white del_line" title="{% trans 'Delete Line' %}">
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" name="action" value="save_variants" class="submit_edit btn btn-primary">{% trans 'Save changes' %}</button>
                        <button type="button" class="btn btn-white btn-cancel">{% trans 'Cancel' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
{% endblock %}
{% block custom_css %}
    <style>
    .dropfile small {
        margin: 10px 0;
        display: block;
    }
    </style>
{% endblock %}
{% block product_js %}
    <script>
        $(function () {

        });
    </script>
{% endblock %}