{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block name %}
    {% if order.buyer_fname %}
    Hi {{ order.buyer_fname }},
    {% else %}
        Dear customer,
    {% endif %}
{% endblock %}

{% block content %}
Thanks for your purchasing. Here is the order details.
{% endblock %}

{% block body_center %}
    <table width="100%">
        <tr>
            <td style="background-color:lightcyan; text-align:center; padding:10px; color:black; ">
                Order: #{{ order.id }} - {{ order.title }}
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="20" width="100%">
                    <tr>
                        <th width="25px">No.</th>
                        <th style="text-align: left">Item</th>
                        <th width="100px" style="text-align: right">Qty x Price</th>
                    </tr>
                    {% for detail in details %}
                    <tr>
                        <td>
                            {{ forloop.counter }}.
                        </td>
                        <td style="text-align: left">
                            {{ detail.title }}
                            <br>
                            {{ detail.snapshot|none_empty|safe }}
                        </td>
                        <td style="text-align: right">
                            {{ detail.quantity }} x ${{ detail.price|floatformat:2 }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% if order.buyer_note %}
        <tr>
            <td>Buyer Note: {{ order.buyer_note }}</td>
        </tr>
        {% endif %}
        {% if order.seller_note %}
        <tr>
            <td>Seller Note: {{ order.seller_note }}</td>
        </tr>
        {% endif %}
        <tr>
            <td style="text-align: right">
                Total: ${{ order.total|floatformat:2 }}
            </td>
        </tr>
    </table>
{% endblock %}

