{% extends 'appa/master/dialog_layout.html' %}
{% load i18n static landing_tags %}
{% block title %}
    {% trans 'Transaction Record History' %}
{% endblock %}

{% block content %}
    <table class="table table-striped m-b-none text-sm">
        <thead>
        <tr>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Gold' %}</th>
            <th>{% trans 'Silver' %}</th>
            <th>{% trans 'Reference' %}</th>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Operator' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tr in list %}
        <tr>
            <td><span class="badge bg-primary">{{ tr.type }}</span></td>
            <td>
                <span class="{% if tr.gold < 0 %}text-danger{% else %}text-primary{% endif %} ">{{ tr.gold|zero_default:'' }}</span>
                ({{ tr.origin_gold|add_float:tr.gold }})
            </td>
            <td>
                <span class="{% if tr.silver < 0 %}text-danger{% else %}text-primary{% endif %} ">{{ tr.silver|floatformat:2|zero_default:'' }}</span>({{ tr.origin_silver|add_float:tr.silver|floatformat:2 }})</td>
            <td>{{ tr.reference|none_empty }}</td>
            <td>{{ tr.create_date }}</td>
            <td>{{ tr.operator|none_empty }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}