{% extends 'appa/master/dialog_layout.html' %}
{% load i18n static landing_tags %}
{% block title %}
    {% trans 'Add Transaction Record' %}
{% endblock %}

{% block content %}
    <form role="form" id="addCreditForm">
        <div class="form-group">
            <label for="promotions">{% trans 'Type' %}</label>
            <select class="form-control" name="type" id="type" >
                {% for type in types %}
                <option value="{{ type.id }}">{{ type.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="gold">{% trans 'Gold' %}</label>
            <input type="number" class="form-control" name="gold" id="gold" value="0" placeholder="{% trans 'gold' %}">
        </div>
        <div class="form-group">
            <label for="silver">{% trans 'Silver' %}</label>
            <input type="number" class="form-control" name="silver" id="silver" value="0" placeholder="{% trans 'silver' %}">
        </div>
        <label>{% trans 'Customer' %}: {{ customer.member_code }} {{ customer.get_full_name }} </label>
        <input type="hidden" class="form-control" name="customer" value="{{ customer.id }}" >
        <br>
        <label>{% trans 'Current Operator' %}: {{ request.user }} </label>
        <input type="hidden" class="form-control" name="operator" value="{{ request.user.id }}" >
        <div class="form-group">
            <label for="reference">{% trans 'Reference' %}</label>
            <input type="text" class="form-control" name="reference" id="reference" value="" placeholder="">
        </div>
    </form>
{% endblock %}


{% block extra_buttons %}
    <div class="form-group">
        <button id="modal_search" type="button" class="btn btn-primary btn-s-sm dlg-submit-btn modal-close"
                data-form-id="#addCreditForm"
                data-action="{% url 'appa:store_transactionrecord_action' %}?action=credit&type=add"
                data-refresh="page"
        >{% trans 'Add Credits' %}</button>
    </div>
{% endblock %}