{% extends 'store/frontend/default/master/left_side_layout.html' %}
{% load i18n static %}
{% load landing_tags %}
{% load view %}

{% block main_left %}
    <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
    <div class="c-sidebar-menu-toggler">
        <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
        <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
        </a>
    </div>

    {% view "store.views.side_product_filter" %}
    {% view "store.views.side_category_tree" %}
{% endblock %}

{% block main_right %}
    <!-- BEGIN: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
    <form class="c-shop-advanced-search-1" method="post" action="">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Keywords or Item Number</label>
                        <input type="text" class="form-control c-square c-theme input-lg"
                               placeholder="Enter keywords or item number">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">&nbsp;</label>
                        <select class="form-control c-square c-theme input-lg">
                            <option value="1">All words, any order</option>
                            <option value="2">Any words, any order</option>
                            <option value="3">Exact words, exact order</option>
                            <option value="4">Exact words, any order</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">Exclude Words</label>
                <input type="text" class="form-control c-square c-theme input-lg"
                       placeholder="Enter exclude words from search">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">Category</label>
                <select class="form-control c-square c-theme input-lg">
                    <option value="0">All Categories</option>
                    <option value="1">Art</option>
                    <option value="2">Baby</option>
                    <option value="3">Books</option>
                    <option value="4">Business &amp; Industrial</option>
                    <option value="5">Cameras &amp; Photo</option>
                    <option value="6">Cell Phones &amp; Accessories</option>
                    <option value="7">Clothing, Shoes &amp; Accessories</option>
                    <option value="8">Coins &amp; Paper Money</option>
                    <option value="9">Collectibles</option>
                    <option value="10">Computers/Tablets &amp; Networking</option>
                </select>
            </div>
        </div>
        <div class="row c-margin-t-15">
            <div class="form-group col-md-12">
                <div class="c-checkbox c-toggle-hide" data-object-selector="c-advanced-search"
                     data-animation-speed="600">
                    <input type="checkbox" id="checkbox-1" class="c-check"> <label for="checkbox-1">
                    <span class="inc"></span> <span class="check"></span> <span class="box"></span> Advanced Search
                </label>
                </div>
                <p class="help-block">See general <a href="#" class="c-theme-link c-font-bold">search tips</a> or <a
                        href="#" class="c-theme-link c-font-bold">using advanced search options</a></p>
            </div>
        </div>
        <div class="row c-advanced-search" style="display: none;">
            <div class="form-group">
                <div class="col-md-6">
                    <h3 class="c-font-sbold c-font-uppercase c-font-20">Search including</h3>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-1-1" class="c-check"> <label for="checkbox-1-1">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Title and
                        description
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-1-2" class="c-check"> <label for="checkbox-1-2">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Completed
                        listing
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-1-3" class="c-check"> <label for="checkbox-1-3">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Sold listing
                    </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="c-font-sbold c-font-uppercase c-font-20">Shipping options</h3>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-2-1" class="c-check"> <label for="checkbox-2-1">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Flat rate
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-2-2" class="c-check"> <label for="checkbox-2-2">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Local delivery
                    </label>
                    </div>
                    <div class="c-checkbox">
                        <input type="checkbox" id="checkbox-2-3" class="c-check"> <label for="checkbox-2-3">
                        <span class="inc"></span> <span class="check"></span> <span class="box"></span> Local pickup
                    </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Sort By</label>
                    <select class="form-control c-square c-theme input-lg">
                        <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                        <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                        <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                        <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                        <option value="#?sort=p.price&amp;order=DESC" selected="">Price (High &gt; Low)</option>
                        <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                        <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                        <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                        <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">View Results</label>
                            <select class="form-control c-square c-theme input-lg">
                                <option value="1">All Items</option>
                                <option value="2">Picture Gallery</option>
                                <option value="3">Show Item Numbers</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Result Per Page</label>
                            <select class="form-control c-square c-theme input-lg">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" role="group">
            <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"><i
                    class="fa fa-search"></i>Search
            </button>
            <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Clear</button>
        </div>
    </form><!-- END: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->

    <div class="c-margin-t-30"></div>

    <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
    <div class="c-shop-result-filter-1 clearfix form-inline">
        <div class="c-filter">
            <label class="control-label c-font-16">Show:</label>
            <select class="form-control c-square c-theme c-input">
                <option value="#?limit=24" selected="selected">24</option>
                <option value="#?limit=25">25</option>
                <option value="#?limit=50">50</option>
                <option value="#?limit=75">75</option>
                <option value="#?limit=100" selected="">100</option>
            </select>
        </div>
        <div class="c-filter">
            <label class="control-label c-font-16">Sort&nbsp;By:</label>
            <select class="form-control c-square c-theme c-input">
                <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                <option value="#?sort=p.price&amp;order=DESC" selected="">Price (High &gt; Low)</option>
                <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
            </select>
        </div>
    </div><!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->

    <div class="c-margin-t-20"></div>

    <!-- BEGIN: CONTENT/SHOPS/SHOP-2-8 -->
    <div class="row c-margin-b-40">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a href="shop-product-details.html"
                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 230px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/20.jpg);"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <a class="c-theme-link" href="shop-product-details.html">Winter Coat</a>
                    </h3>
                    <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                        <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-shopping-cart"></i>Add Cart
                    </button>
                    <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-heart-o"></i>Add Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row c-margin-b-40">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">
                        New
                    </div>
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a href="shop-product-details-2.html"
                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 230px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/10.jpg);"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
                    </h3>
                    <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                        <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-shopping-cart"></i>Add Cart
                    </button>
                    <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-heart-o"></i>Add Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row c-margin-b-40">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a href="shop-product-details.html"
                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 230px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/22.jpg);"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <a class="c-theme-link" href="shop-product-details.html">Winter Coat</a>
                    </h3>
                    <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                        <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-shopping-cart"></i>Add Cart
                    </button>
                    <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-heart-o"></i>Add Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row c-margin-b-40">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a href="shop-product-details-2.html"
                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 230px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/21.jpg);"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
                    </h3>
                    <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                        <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-shopping-cart"></i>Add Cart
                    </button>
                    <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-heart-o"></i>Add Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row c-margin-b-40">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">
                        New
                    </div>
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a href="shop-product-details-2.html"
                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 230px; background-image: url(http://localhost/jango/assets/base/img/content/shop3/23.jpg);"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
                    </h3>
                    <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                        <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-shopping-cart"></i>Add Cart
                    </button>
                    <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        <i class="fa fa-heart-o"></i>Add Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div><!-- END: CONTENT/SHOPS/SHOP-2-8 -->

    <div class="c-margin-t-20"></div>

    <ul class="c-content-pagination c-square c-theme pull-right">
        <li class="c-prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li class="c-active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="c-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>            <!-- END: PAGE CONTENT -->

{% endblock %}