{% extends 'store/frontend/default/master/left_side_layout.html' %}
{% load static i18n %}
{% load landing_tags view %}

{% block main_left %}
    <div class="c-sidebar-menu-toggler">
        <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
        <a href="javascript:;" class="c-content-toggler" data-toggle="collapse"
           data-target="#sidebar-menu-1">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
        </a>
    </div>
    {% view "store.views.side_product_filter" %}
    {% view "store.views.side_category_tree" %}
{% endblock %}

{% block main_right %}
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-1 -->
    <form method="post">
        {% csrf_token %}
        <div class="c-shop-product-details-2 c-opt-1">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-product-gallery">
                        <div class="c-product-gallery-content">
                            <div class="c-zoom">
                                <img src="{% get_media_prefix %}{{ product.image }}">
                            </div>
                            {% for image in product.images.all %}
                                <div class="c-zoom">
                                    <img src="{% get_media_prefix %}{{ image.url }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row c-product-gallery-thumbnail">
                            <div class="col-xs-3 c-product-thumb">
                                <img src="{% get_media_prefix %}{{ product.thumb }}">
                            </div>
                            {% for image in product.images.all %}
                                <div class="col-xs-3 c-product-thumb">
                                    <img src="{% get_media_prefix %}{{ image.thumb }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-product-meta">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">{{ product.title }}</h3>
                            <div class="c-line-left"></div>
                        </div>
                        <div class="c-product-badge">
                            {% if product.is_clearance %}
                                <div class="c-product-sale">{% trans "Sale" %}</div>
                            {% endif %}
                            {% if product.last_modified_time|timepassed:'d' < 14 %}
                                <div class="c-product-new">{% trans "New" %}</div>
                            {% endif %}
                        </div>
                        <div class="c-product-review">
                            <div class="c-product-rating">
                                {% stars 3 %}
                            </div>
                            <div class="c-product-write-review">
                                <a class="c-font-red" href="#">{% trans "Write a review" %}</a>
                            </div>
                        </div>
                        <div class="c-product-price">${{ product.price|floatformat:2 }}</div>
                        <div class="c-product-short-desc">
                            {{ product.subtitle }}
                        </div>
                        <div class="row c-product-variant">
                            <div class="col-sm-12 col-xs-12">
                                <p class="c-product-meta-label c-product-margin-1 c-font-uppercase c-font-bold">
                                    Size:</p>
                                <div class="c-product-size">
                                    <select>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                <div class="c-product-color">
                                    <p class="c-product-meta-label c-font-uppercase c-font-bold">Color:</p>
                                    <select>
                                        <option value="Red">Red</option>
                                        <option value="Black">Black</option>
                                        <option value="Beige">Beige</option>
                                        <option value="White">White</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="c-product-add-cart c-margin-t-20">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="c-input-group c-spinner">
                                        <p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold">{% trans "QTY" %}:</p>
                                        <input name="qty" type="text" class="form-control c-item-1" value="1">
                                        <div class="c-input-group-btn-vertical">
                                            <button class="btn btn-default" type="button" data_input="c-item-1"><i
                                                    class="fa fa-caret-up"></i></button>
                                            <button class="btn btn-default" type="button" data_input="c-item-1"><i
                                                    class="fa fa-caret-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                    <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" name="action" value="add_cart">{% trans "Add to Cart" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-1 -->

        <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-TAB-2 -->
        <div class="c-content-box c-size-md c-no-padding c-margin-t-60">
            <div class="c-shop-product-tab-1" role="tabpanel">
                <div class="c-product-tab-container">
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a class="c-font-uppercase c-font-bold" href="#tab-1" role="tab"
                               data-toggle="tab">{% trans "Description" %}</a>
                        </li>
                        <li role="presentation">
                            <a class="c-font-uppercase c-font-bold" href="#tab-2" role="tab"
                               data-toggle="tab">{% trans "Additional Information" %}</a>
                        </li>
                        <li role="presentation">
                            <a class="c-font-uppercase c-font-bold" href="#tab-3" role="tab"
                               data-toggle="tab">{% trans "Reviews" %} {% if reviews|length > 0 %}({{ reviews|length }}
                                ){% endif %}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                        <div class="c-product-desc c-opt-2">
                            <div class="c-product-tab-container">
                                {{ product.content|safe }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <div class="c-product-tab-container">
                            <p class="c-center"><strong>Sizes:</strong> S, M, L, XL</p><br>
                            <p class="c-center"><strong>Colors:</strong> Red, Black, Beige, White</p><br>
                        </div>
                        <div class="c-product-tab-meta-bg c-bg-grey c-center">
                            <div class="c-product-tab-container">
                                <p class="c-product-tab-meta"><strong>SKU:</strong>
                                    {{ product.sku }}{% if product.code %}({{ product.code }}){% endif %}</p>
                                <p class="c-product-tab-meta"><strong>{% trans 'Categories' %}:</strong>
                                    {% for category in product.categories.all %}
                                        <a href="#">{{ category.title }}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <div class="c-product-tab-container">
                            <h3 class="c-font-uppercase c-font-bold c-font-22 c-center c-margin-b-40 c-margin-t-40">{% trans 'Reviews for' %} {{ product.title }}</h3>
                            {% for review in reviews %}
                                <div class="row c-margin-b-40">
                                    <div class="col-xs-6">
                                        <div class="c-user-avatar">
                                            <img src="http://localhost/jango/assets/base/img/content/avatars/team1.jpg">
                                        </div>
                                        <div class="c-product-review-name">
                                            <h3 class="c-font-bold c-font-24 c-margin-b-5">Steve</h3>
                                            <p class="c-date c-theme-font c-font-14">July 4, 2015</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        {% stars 1.5 %}
                                    </div>
                                </div>
                                <div class="c-product-review-content">
                                    <p>{{ review.content }}</p>
                                </div>
                            {% endfor %}

                            <div class="c-product-review-input">
                                <h3 class="c-font-bold c-font-uppercase">{% trans "Submit your Review" %}</h3>
                                <p class="c-review-rating-input">{% trans "Rating" %}:
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </p>
                                <textarea></textarea>
                                <button class="btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">{% trans "Submit Review" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block page_js %}
    <script src="{% static 'assets/plugins/zoom-master/jquery.zoom.min.js' %}" type="text/javascript"></script>
{% endblock %}
