{% load staticfiles %}
{% load i18n %}


<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
            </button>
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <div class="owl-carousel sync1">
                        <div class="item"><img src="{% static 'store/default/images/products/single/1.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/2.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/3.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/4.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/1.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/2.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/3.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/4.jpg' %}" alt="">
                        </div>
                    </div>

                    <div class="owl-carousel sync2">
                        <div class="item"><img src="{% static 'store/default/images/products/single/1.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/2.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/3.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/4.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/1.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/2.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/3.jpg' %}" alt="">
                        </div>
                        <div class="item"><img src="{% static 'store/default/images/products/single/4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="product-single">
                        <div class="ps-header">
                            <span class="badge offer">-50%</span>
                            <h3>Product fashion</h3>
                            <div class="ratings-wrap">
                                <div class="ratings">
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                </div>
                                <em>(6 reviews)</em>
                            </div>
                            <div class="ps-price"><span>$ 200.00</span> $ 99.00</div>
                        </div>

                        <div class="ps-stock">
                            Available: <a href="#">In Stock</a>
                        </div>
                        <div class="sep"></div>
                        <div class="ps-color">
                            <p>Color<span>*</span></p>
                            <a class="black" href="#" onclick="return false;"></a>
                            <a class="red" href="#" onclick="return false;"></a>
                            <a class="yellow" href="#" onclick="return false;"></a>
                            <a class="darkgrey" href="#" onclick="return false;"></a>
                            <a class="litebrown" href="#" onclick="return false;"></a>
                        </div>
                        <div class="space10"></div>
                        <div class="row select-wraps">
                            <div class="col-md-7 col-sm-7">
                                <p>Size<span>*</span></p>
                                <select>
                                    <option>XL</option>
                                    <option>XXL</option>
                                    <option>XXXL</option>
                                </select>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <p>Quantity<span>*</span></p>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="space20"></div>
                        <div class="share">
                                    <span>
                                        <a href="#" class="fa fa-heart-o" onclick="return false;"></a>
                                        <a href="#" class="fa fa-signal" onclick="return false;"></a>
                                        <a href="#" class="fa fa-envelope-o" onclick="return false;"></a>
                                    </span>
                            <div class="addthis_native_toolbox"></div>
                        </div>
                        <div class="space20"></div>
                        <div class="sep"></div>
                        <a class="btn-color" href="#">Add to Bag</a>
                        <a class="btn-black" href="{% url 'store:product_detail' id=1 %}">Go to Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>