<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ landing.site.title }}</title>
</head>
<body style="margin: 0; padding: 0; font-family: arial; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); text-align: center">
<p>Dear {{ last_name }},</p>
<p>
    Thanks for your purchase. Here's the order details.
</p>
<div class="order">
    <h2>Order #{{ order.id }}</h2>
</div>
</body>
</html>