{% load staticfiles %}
{% load i18n %}

<ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
    <li class="c-dropdown c-open">
        <a href="javascript:;" class="c-toggler">{% trans 'My Orders' %}<span class="c-arrow"></span></a>
        <ul class="c-dropdown-menu">
            <li><a href="{% url 'store:account_order_list' %}">{% trans 'Order History' %}</a></li>
            <li><a href="{% url 'store:account_payment_list' %}">{% trans 'Payments' %}</a></li>
        </ul>
    </li>
</ul>
