{% extends 'landing/master/my_layout.html' %}
{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block breadcrumbs_title %}
{% trans 'orders' %}
{% endblock %}

{% block account_content %}
    <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY -->
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">{% trans 'Order History' %}</h3>
        <div class="c-line-left"></div>
    </div>
    {% for order in list %}
    <div class="row c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
            {% if order.image_url %}
            <div class="col-md-4">
                <div class="c-content-overlay">
                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                         style="height: 150px; {% if order.image_url %}background-image: url({{ order.image_url }});{% else %}{% endif %}"></div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="c-info-list">
                    <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                        <p class="c-font-14 c-font-thin">{% trans 'Order' %} #: {{ order.id }}</p>
                        <a class="c-theme-link" href="{% url 'store:account_order_view' id=order.id %}">{{ order.title }}</a>
                    </h3>
                    <p class="c-order-date c-font-14 c-font-thin c-theme-font">{{ order.create_time }}</p>
                    <p class="c-desc c-font-16 c-font-thin">{{ order.snapshot|none_empty }}</p>
                    <p class="c-price c-font-26 c-font-thin">{{ order.total|floatformat:2 }} {{ order.currency.abstraction|upper }}</p>
{#                    <p class="c-payment-type c-font-14 c-font-bold">{% trans 'Download Invoice' %}</p>#}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center">
        {% include 'landing/include/inc_pager.html' %}
    </div>
{% endblock %}