{% extends 'landing/master/my_layout.html' %}
{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block breadcrumbs_title %}
{% trans 'orders' %}
{% endblock %}

{% block account_content %}
    <div class="c-body">
        <div class="c-content-title-1 c-title-md c-margin-b-20 clearfix">
            <h3 class="c-left c-font-uppercase c-font-bold">{% trans 'Order Detail' %}</h3>
            <div class="c-line-left c-theme-bg"></div>
        </div>
        <form class="c-shop-form-1" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="firstname" class="col-md-3 control-label">{% trans 'Title' %}</label>
                            <div class="col-md-6">
                                <h2>{{ order.title }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="firstname" class="col-md-3 control-label">{% trans 'Created Time' %}</label>
                            <div class="col-md-6">
                                {{ order.create_time }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="firstname" class="col-md-3 control-label">{% trans 'Total Cost' %}</label>
                            <div class="col-md-6">
                                {{ order.total|floatformat:2 }} {{ order.currency.abstraction }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="firstname" class="col-md-3 control-label">{% trans 'Details' %}</label>
                            <div class="col-md-9">
                                <ul>
                                    {% for detail in details %}
                                    <li>
                                        {{ detail.title }} - {{ detail.quantity }} x {{ detail.price|floatformat:2 }} {{ detail.currency.abstraction }}
                                        <br>
                                        {{ detail.snapshot|none_empty }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group c-margin-t-40">
                <div class="col-sm-offset-4 col-md-8">
                    <button type="submit" name="action" value="back" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                        {% trans 'Go Back' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}