{% extends 'landing/master/my_layout.html' %}
{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block breadcrumbs_title %}
{% trans 'payements' %}
{% endblock %}


{% block account_content %}
    <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY -->
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">{% trans 'Payment History' %}</h3>
        <div class="c-line-left"></div>
    </div>
    {% for payment in list %}
    <div class="row c-margin-b-20 c-font-14">
        <div class="c-content-product-2 c-bg-white">
            <div class="col-md-2">
                <p class="c-font-thin">{% trans 'Payment' %} #: {{ payment.id }}</p>
            </div>
            <div class="col-md-3">
                <p class="c-price c-font-thin">{{ payment.total|floatformat:2 }} {{ payment.currency|upper }} </p>
            </div>
            <div class="col-md-3">
                <p class="c-price c-font-thin">{{ payment.modified }}</p>
            </div>
            <div class="col-md-2">
                via {{ payment.variant }}
            </div>
            <div class="col-md-2">
                {% if payment.status == 'confirmed' %}
                    <span class="label label-success c-font-slim c-font-uppercase">{{ payment.status }}</span>
                {% elif payment.status == 'preauth' %}
                    <span class="label label-info c-font-slim c-font-uppercase">{{ payment.status }}</span>
                {% elif payment.status == 'refunded' %}
                    <span class="label label-default c-font-slim c-font-uppercase">{{ payment.status }}</span>
                {% elif payment.status == 'error' %}
                    <span class="label label-danger c-font-slim c-font-uppercase">{{ payment.status }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center">
        {% include 'landing/include/inc_pager.html' %}
    </div>
{% endblock %}