<section class="scrollable wrapper bg-white">
        <section>
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    Change Plan:
                    <div class="btn-group m-r">
                        <select id="plan_type" name="plan_type" class="form-control m-b">
                          {% for plan in plans %}
                              <option {% ifequal plan.id|stringformat:"s" request.GET.type %}
                                  selected
                              {% endifequal %} value="{{ plan.id }}" unit="{{ plan.unit }}" type="{{ plan.title }}" price="{{ plan.price }}">{{ plan.title }}-${{ plan.price }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel-body">
                    <h3 id="total" class="panel-title price">BASIC - $9.99</h3>
                    <div id="unit_price">$9.99/month</div>
                    <div id="save_price"></div>
                    <select id="plan_promo" name="plan_promo" class="form-control m-b">
                    </select>
                </div>
            </div>
        </section>
        <div class="checkbox">
            <label class="pull-right">
                <input id="agreement" type="checkbox">I have read and agreed the <a href="#" target="_blank">terms & conditions</a>.
            </label>
        </div>
        <div>
            <button id="paynow" class="btn btn-success pull-right ">Pay Now using PayPal</button>
        </div>
</section>
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">Payment</h3>
                        <p>You are redirect to paypal for payment.</p>
                        <a href="#" class="btn btn-success btn-block m-b-sm">Pay successfully</a>
                        <a href="#" class="btn btn-warning btn-block m-b-sm">Have trouble in payment</a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    var load_promotions = function(v){
        var plan = v.find(":selected");
        $.post('{% url 'payment_plan_promos' %}',{'id':plan.val()},function(result){
            $("#plan_promo").html("");
            for(i=0;i<result.length;i++)
                $("<option>" + result[i].title + "</option>")
                        .attr('value',plan.attr("price") * result[i].min)
                        .attr('price_off',result[i].price_off)
                        .attr('id',result[i].id).appendTo($("#plan_promo"));
            calculate_price();
        });
    }

    var calculate_price = function(){
        var plan = $("#plan_type").find(":selected");
        var promo = $("#plan_promo").find(":selected");
        var unit_price = plan.attr("price")
        var qty = promo.attr("")
        $("#unit_price").html(plan.attr("unit").length > 0 ? "$" + plan.attr("price") + "/" + plan.attr("unit"): "$" +plan.attr("price"));
        $("#save_price").html("was $" + promo.val() + "  " + promo.text())
        $("#total").html(plan.attr("type") + " - $ " + (promo.val() - promo.attr("price_off")));
    }

    $(function(){
        $("#plan_type").on('change',function(){
            load_promotions($("#plan_type"));
        });

        $("#plan_promo").on('change',function(){
            calculate_price();
        })

        $("#agreement").change(function(){
            $("#paynow").prop('disabled', !($("#agreement").is(':checked')));
        })

        $("#paynow").on('click',function(){
            var promo = $("#plan_promo").find(":selected");
            $('#modal-form').modal();
            window.open("{% url 'payment_now' %}?promo_id=" + promo.attr("id"));
        })

        $("#paynow").prop('disabled', true);

        load_promotions($("#plan_type"));
    });


</script>