{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Result</title>
</head>
<body>
    <div>
        <p id="message"></p>
        <br>
        <button id="btn" class="btn"></button>
    </div>
    <script src="{% static 'landing/js/jquery.js' %}"></script>
    <script>
        $(function(){
            var status = "{{ order.status }}";
            if(status=="C"){
                $("#message").html("Thanks for your purchasing. Enjoy now.");
                $("#btn").html("Close and Using").on('click',function(){
                    window.close();
                    if(window.opener){
                        window.opener.location.href = window.opener.location.href;
                    }
                });
            }
            else{
                $("#message").html("Pay failed. Please try again. Thanks");
            }
        });
    </script>
</body>
</html>

