{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay through Paypal</title>
</head>
<body>
    <form id="paypal_form" action="{{ paypal_url }}" method="post">
        <input type="hidden" name="amount" id="amount" value="{{ invoice.price }}">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="{{ paypal_email }}">
        <input type="hidden" name="item_name" id="item_name" value="{{ invoice.description }}">
        <input type="hidden" name="invoice" id="invoice" value="INV{{ invoice.id }}">
        <input type="hidden" name="currency_code" value="{{ invoice.currency }}">
        <input type="hidden" name="return" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'payment_result' uid=userid rid=invoice.id %}">
        <input type="hidden" name="notify_url" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'payment_server_result' %}">
        <input type="hidden" name="cancel_return" value="{{ paypal_return_url }}/">
        <section>
            Redirecting to Paypal now....
        </section>
    </form>

    <script src="{% static 'landing/javascript/plugins.js' %}"></script>
    <script>
        $(function(){
            $("#paypal_form").submit();
        });
    </script>
</body>
</html>