{% load staticfiles %}
<div id="pricing">
    <div class="content-head space60 text-center">
        <h2>Choose your best plan</h2>
        <p>Compare plans...</p>
    </div>
    <div class="row">
        {% for plan in plans %}
        <!-- Pricing Plan - 1 -->
        <div class="col-sm-3">
            <div class="panel panel-default {% if plan == site.defalt_price %}
            active
            {% endif %} text-center">
                <div class="panel-heading">
                    <strong>{{ plan.title }}</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">{{ plan.price_text|safe }}</h3>
                    {% if plan.unit %}
                    <span>/{{ plan.unit }}</span>
                    {% endif %}
                </div>
                <ul class="list-group">
                    <li class="list-group-item">5 Projects</li>
                    <li class="list-group-item">5 GB of Storage</li>
                    <li class="list-group-item">Up to 100 Users</li>
                    <li class="list-group-item">10 GB Bandwidth</li>
                    <li class="list-group-item">Security Suite</li>
                </ul>
                <a class="buy-btn" href="{% url 'digger_settings' type='pay' %}?type={{ plan.id }}">Subscribe Now!</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>