<section class="panel">
    <header class="panel-heading font-bold">Subscription</header>
    <div class="panel-body">
        <form class="bs-example form-horizontal">
            <section class="panel">
                <header class="panel-heading bg-primary ">Current Subscription</header>
                <table class="table table-striped m-b-none text-sm">
                    <thead>
                    <tr>
                        <th>Member Type</th>
                        <th width="15%">Expire Date</th>
                        <th width="10%">Total</th>
                        <th width="20%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Free User
                        </td>
                        <td>--</td>
                        <td>--</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </form>
        <section class="panel">
            <header class="panel-heading">Invoices</header>
            <table class="table table-striped m-b-none text-sm">
                <thead>
                <tr>
                    <th>Title</th>ø
                    <th width="20%">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        2016-6
                    </td>
                    <td>--</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>