{% extends 'main_layout.html' %}
{% load i18n %}
{% load landing_tags %}

{% block custom_js %}
<script>
    $(function () {
        refreshPrice($("#promotion_0"));
    });

    refreshPrice = function (e) {
        var post_data = {
            'csrfmiddlewaretoken': $('#csrfmiddlewaretoken').val(),
            'plan_id': {{ plan.id }},
            'promotion_id':e.val(),
            'quantity':$("#quantity").val(),
            'coupon':$("#promo").val()
        }
        $.post('{% url 'payment_plan_price' %}',
            post_data,
            function (result) {
                $("#total_price").text(result.price);
                $("#was_price").text(result.was);
                $("#save").text(result.save);
                if(result.coupon_save > 0){
                    $("#coupon_save_p").removeClass("hidden");
                    $("#coupon_save").text(result.coupon_save);
                }
            });
    }

    $("input[name='promotion']").click(function (e) {
        $("#quantity").val($(this).attr("min_quantity"));
        refreshPrice($(this));
    });


</script>
{% endblock %}

{% block content_body %}
    <section class="se-section">
        <div class="container">
            <div>
                <h2>{% trans 'Confirm Plan' %}</h2>
                <br>
                <p class="text-warning">{% trans 'No contract. Cancel anytime' %}</p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <section class="panel">
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="plan_id" value="{{ plan.id }}">
                        <input type="hidden" id="quantity" name="quantity" value="1">
                    <header class="panel-heading font-bold">{% trans 'Plan Information' %}</header>
                    <div class="panel-body">
                        <form class="bs-example form-horizontal" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{% trans 'Selected Plan' %}</label>
                                <div class="col-lg-10">
                                    <p>{{ plan.title }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{% trans 'Quantity' %}</label>
                                <div class="col-lg-10">
                                    <div class="radio">
                                    <label>
                                        <input type="radio" name="promotion" id="promotion_0"
                                               value="0" min_quantity="1" checked>
                                        {{ plan.price|floatformat:2 }} {{ plan.currency.abstraction|upper }} /
                                        {% if plan.unit == 'M' %}
                                            {% trans 'Month' %}
                                        {% elif plan.unit == 'Y' %}
                                            {% trans 'Year' %}
                                        {% else %}
                                            {% trans 'Day' %}
                                        {% endif %}
                                    </label>
                                    </div>
                                    {% for promotion in plan.promotions.all %}
                                        <div class="radio">
                                        <label>
                                            <input type="radio" name="promotion" id="promotion_{{ promotion.id }}"
                                                   value="{{ promotion.id }}" min_quantity="{{ promotion.min_quantity }}">
                                            {{ promotion.title }}
                                        </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{% trans 'Promo Code' %}</label>
                                <div class="col-lg-10">
                                    <input type="text" value="" placeholder="{% trans 'Enter Promo Code here' %}" id="promo" name="promo" class="m-b">
                                    <p id="coupon_save_p" class="hidden">{% trans 'Save' %} <span id="coupon_save">0</span> {{ plan.currency.abstraction|upper }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" name="subscribe" class="btn btn-sm btn-success">{% trans 'Subscribe' %}</button>
                                    <a href="{% url 'store_admin_change_plan' %}" type="button" name="cancel" class="btn btn-sm btn-white btn-cancel">{% trans 'Go Back' %}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    </form>
                </section>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    Total Cost:
                    <h1><span id="total_price">0</span> {{ plan.currency.abstraction|upper }}</h1>
                    <p>{% trans 'Was' %} <span id="was_price">0</span> {{ plan.currency.abstraction|upper }}</p>
                    <p class="text-warning">{% trans 'Save' %} <span id="save">0</span> {{ plan.currency.abstraction|upper }}</p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
{% endblock %}