{% extends 'main_layout.html' %}
{% load i18n %}
{% load landing_tags %}
{% block custom_css %}
    <style>

    </style>
{% endblock %}
{% block content_body %}
    <section class="se-section">
        <div class="container">
            <div>
                <h2>{% trans 'Pay Result' %}</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="panel">
                        {% if order.status == 'P' %}
                            <br>
                            <div class="wrapper text-center">
                                <i class="fa fa-check-circle fa-5x text-success"></i>
                            </div>
                            <div class="wrapper text-center">
                                <p class="h3">{% trans 'Payment Successfully!' %}</p>
                                <br>
                                <p><a href="{% url 'homepage' %}" class="btn btn-sm btn-success">
                                    {% trans 'Go back to Dashboard' %}</a></p>
                            </div>
                        {% else %}
                            <br>
                            <div class="wrapper text-center">
                                <i class="fa fa-info-circle fa-5x text-warning"></i>
                            </div>
                            <div class="wrapper text-center">
                                <p class="h3">{% trans 'Payment Fail!' %}</p>
                                <br>
                                <p>{% trans 'Please check your configuration.' %}</p>
                            </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
{% endblock %}