{% extends 'main_layout.html' %}
{% load i18n %}
{% load landing_tags %}
{% load static %}

{% block custom_js %}
    {% for gateway in gateways %}
        {{ gateway.get_custom_js }}
    {% endfor %}
    <script>
        $("#pay_now").click(function (e) {
            {% for gateway in gateways %}
                {{ gateway.get_paynow_js }}
            {% endfor %}
            e.preventDefault();
        });
    </script>
{% endblock %}
{% block content_body %}
    <section class="se-section">
        <div class="container">
            <div>
                <h2>{% trans 'Pay Order' %}</h2>
                <br>
                <p class="text-warning">{% trans 'Payment was secured by Payment Gateway' %}</p>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="bs-example form-horizontal">
                    <section class="panel">
                    <form id="pay_form" method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="plan_id" value="{{ plan.id }}">
                    <header class="panel-heading font-bold">{% trans 'Order Information' %}</header>
                    <div class="panel-body">
                        {% if order %}
                            <input name="order_id" type="hidden" value="{{ order.id }}">
                            <input id="token" name="token" type="hidden" value="">
                            <input id="email" name="email" type="hidden" value="">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{% trans 'Order Summury' %}</label>
                                <div class="col-lg-10">
                                    <p>$ {{ order.total }}</p>
                                </div>
                            </div>
                            {% if order.status == 'T' or order.status == 'O' %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{% trans 'Payment method' %}</label>
                                <div class="col-lg-10">
                                    {% for handle in handlers %}
                                        <div class="radio">
                                            <label>
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <input type="radio" name="payment_gateway" id="payment_{{ handle.id }}"
                                                       value="{{ handle.id }}" {% if forloop.first %}checked{% endif %}>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <img src="{% get_static_prefix %}{{ handle.icon }}"
                                                             style="width: 200px"
                                                             align="{{ handle.title }}"
                                                             title="{{ handle.description }}"
                                                        >
                                                    </div>
                                                    <div class="col-lg-7 align-middle">
                                                        {{ handle.description }}
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="button" name="pay_now" id="pay_now" class="btn btn-sm btn-success">{% trans 'Pay Now' %}</button>
                                        <button type="button" name="go_back" class="btn btn-sm btn-white btn-cancel">{% trans 'Go back' %}</button>
                                    </div>
                                </div>
                            {% else %}
                                <p>
                                {% trans 'This order has been paid or processed.' %}
                                </p>
                            {% endif %}

                        {% else %}
                            <p>{% trans 'Order can not be found or you have not be autherized to access it.' %}</p>
                        {% endif %}
                    </div>
                    </form>
                </section>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
{% endblock %}