{% extends 'main_layout.html' %}
{% load i18n %}
{% load landing_tags %}
{% block custom_css %}
    <style>
        .plan-features{
            min-height: 200px;
        }

        .plan-promotions{
            min-height: 100px;
        }
    </style>
{% endblock %}
{% block content_body %}
    <section class="se-section">
        <div class="container">
            <div>
                <h2>{% trans 'Pricing Plans' %}</h2>
                <br>
                <p class="text-warning">{% trans 'No contract. Cancel anytime' %}</p>
            </div>
            <div class="row">
                {% for p in plans %}
                    <div class="col-md-3 col-sm-6">
                        <div class="se-plan {{ p.style|none_empty }}">
                            <div class="plan-header">was <span class="strike">${{ p.was_price }} /
                                        {% if p.unit == 'M' %}
                                            {% trans 'Month' %}
                                        {% elif p.unit == 'Y' %}
                                            {% trans 'Year' %}
                                        {% else %}
                                            {% trans 'Day' %}
                                        {% endif %}</span>
                                <h1 class="text-info">{{ p.title }}</h1>
                                <h3>${{ p.price}}/{% trans 'month' %}</h3>
                            </div>
                            <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    {% for feature in p.features.all %}
                                        <li>{{ feature.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="plan-promotions">
                                <h4>{% trans 'Promotions' %}</h4>
                                <ul>
                                    {% for promotion in p.promotions.all %}
                                    <li>{{ promotion.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                {% if p == plan %}
                                    {% trans 'Current Plan' %}
                                {% else %}
                                    <a href="{% url 'store_admin_confirm_plan' id=p.id %}" class="btn btn-s-md btn-success">{% trans 'Select' %}</a>
                                {% endif %}
                            </div>
                            <!-- end plan-features -->
                        </div>
                        <!-- end se-plan -->
                    </div>
                    <!-- end col-md-4 -->
                {% endfor %}
                <!-- end row --></div>
        </div>
        <!-- end container -->
    </section>
    {% if addons %}
        <section class="se-section">
            <div class="container">
                <div>
                    <h2>{% trans 'Addons' %}</h2>
                    <br>
                </div>
                <div class="row">
                    {% for p in plans %}
                        <div class="col-md-3 col-sm-6">
                            <div class="se-plan {{ p.style|none_empty }}">
                                <div class="plan-header">was <span class="strike">${{ p.was_price }} /mo</span>
                                    <h1 class="text-info">{{ p.title }}</h1>
                                    <h3>${{ p.price}}/{% trans 'month' %}</h3>
                                </div>
                                <!-- end plan-header -->

                                <div class="plan-features">
                                    <ul>
                                        {% for feature in p.features.all %}
                                            <li>{{ feature.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div>
                                    {% if p == btm.plan %}
                                        <a href="#" class="btn btn-s-md btn-success">{% trans 'Current Plan' %}</a>
                                    {% else %}
                                        <a href="#" class="btn btn-s-md btn-success">{% trans 'Select' %}</a>
                                    {% endif %}
                                </div>
                                <!-- end plan-features -->
                            </div>
                            <!-- end se-plan -->
                        </div>
                        <!-- end col-md-4 -->
                    {% endfor %}
                    <!-- end row --></div>
            </div>
            <!-- end container -->
        </section>
    {% endif %}
{% endblock %}