{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block innter_content %}
    <div class="row">
        <div class="contact-form text-center c-margin-t-60">
            <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
            <p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>
        </div>
    </div>
{% endblock %}
