{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}
    <section class="about-us-section">
        <div class="container">
            <div class="row">
                <div class="contact-form">
                    <form method="post" role="form" class="form-horizontal col-lg-offset-3 col-lg-6">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="
                                {% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'home' %}{% endif %}">
                        {% if landing.site.header %}
                            <div class="form-group">
                                <label class="control-label col-sm-3"></label>
                                <div class="col-sm-9 input-text">
                                    {{ landing.site.header|safe }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {% include 'landing/include/inc_messages.html' %}
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">{% trans 'User Name' %}</label>
                            <div class="col-sm-9 input-text">
                                <input type="text" class="form-control" name="username"
                                       placeholder="{% trans 'User account' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">{% trans 'Password' %}</label>
                            <div class="col-sm-9 input-text">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-8 c-margin-b-20">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember_me"> {% trans 'Remember me' %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-offset-4 col-lg-8 c-margin-b-40">
                                <button type="submit"
                                        class="btn btn-lg btn-success pull-right">{% trans 'Sign in' %}</button>
                            </div>
                            <div class="col-lg-offset-4 col-lg-8">
                                <p>
                                    <span>{% trans 'Not a member' %}? </span>
                                    <a type="button" href="{% url 'account_signup' %}">{% trans 'Sign up' %}</a>
                                    {% trans 'or' %}
                                    <a href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a>
                                </p>
                            </div>
                            <div class="col-lg-offset-4 col-lg-8">
                                {% if landing.google_plus_login %}
                                    <a href="{% url 'social:begin' 'google-plus' %}"
                                       class="socicon-btn socicon-btn-circle socicon-solid c-bg-red c-font-white c-bg-green-hover socicon-google tooltips"
                                       data-original-title="Sign In with Google Plus"></a>
                                {% endif %}

                                {% if landing.weixin_login %}
                                    <a href="{% url 'social:begin' 'weixin' %}"
                                       class="tooltips"
                                       style="position: relative; top: -7px;"
                                       data-original-title="Sign In with Weixin">
                                        <img width="48" style="border-radius: 24px" src="{% static 'assets/base/img/weixin_logo.png' %}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}