{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block breadcrubms_right %}
    <div class="breadcrumbs">
        {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block innter_content %}
    <div class="row">
        <div class="contact-form text-center">
            <p class=" c-margin-t-60">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form method="post" role="form" class="form-horizontal col-lg-offset-4 col-lg-4">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email c-margin-b-60 c-margin-t-60">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input type="submit" class="btn btn-lg btn-success pull-right"
                           value="{% trans 'Reset my password' %}"/>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        $(function () {
            $("input[name='email']").addClass("form-control");
        })
    </script>
{% endblock %}