{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block innter_content %}
<div class="c-margin-t-60 text-center">
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
<p><a class="btn btn-default" href="{{ login_url }}">{% trans 'Log in' %}</a></p>
</div>
{% endblock %}
