{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block breadcrumbs_right %}
    <div class="breadcrumbs">
        {% trans 'Password reset confirmation' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block innter_content %}

    {% if validlink %}
        <div class="c-margin-t-60">

        <form method="post" class="form-horizontal col-lg-offset-3 col-lg-6">{% csrf_token %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <fieldset class="module aligned">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2 c-margin-b-60">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" class="btn btn-lg btn-success pull-right" value="{% trans 'Change my password' %}"/>
            </fieldset>
        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
</div>
{% endblock %}

{% block custom_js %}
    <script>
        $(function () {
            $(".form-row label").addClass("col-lg-4");
            $(".form-row input").addClass("form-control");
        })
    </script>
{% endblock %}