{% extends 'landing/master/main_layout.html' %}
{% load static i18n landing_tags %}

{% block breadcrumbs_right %}
<div class="breadcrumbs">
{% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block innter_content %}
<div class="c-margin-t-60">
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

</div>
{% endblock %}
