{% extends 'landing/master/main_layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <!-- Page Title -->
    <div style="min-height: 300px; text-align: center">
        <h1>{{ message }}</h1>
        <button class="btn btn-primary" onclick="window.history.back();">Back</button>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{% static 'landing/javascript/gmap3.min.js' %}"></script>
{% endblock %}