{% extends 'landing/master/main_layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block seo %}
    <meta name="description" content="{{ cat.description }}">
    <meta name="keywords" content="{{ cat.keywords }}">
    <meta name="author" content="{{ cat.meta_title }}">
{% endblock %}

{% block body %}
    <div class="c-layout-page" jstcache="0">
		<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase c-font-sbold">{% trans 'Contact Us' %}</h3>
			<h4 class="">{{ subtitle }}</h4>
		</div>
	</div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
		<!-- BEGIN: PAGE CONTENT -->
		<!-- BEGIN: CONTENT/CONTACT/CONTACT-1 -->
<div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative" jstcache="0">
	<div class="container">
		<div class="c-content-contact-1 c-opt-1">
			<div class="row" data-auto-height=".c-height">
				<div class="col-sm-8 c-desktop"></div>
				<div class="col-sm-4">
					<div class="c-body">
						<div class="c-section">
							<h3>{{ landing.site.title }}</h3>
						</div>
						<div class="c-section">
							<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{% trans 'Address' %}</div>
							<p>{{ landing.site.address }}</p>
                            <br>
                            <p>{{ landing.site.suburb }}</p>
						</div>
						<div class="c-section">
							<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{% trans 'Contacts' %}</div>
							<p><strong>T</strong> {{ landing.site.tel1 }}<br><strong>E</strong> {{ landing.site.email }}</p>
						</div>
						<div class="c-section">
							<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">{% trans 'Social' %}</div><br>
							<ul class="c-content-iconlist-1 c-theme">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="gmapbg" class="c-content-contact-1-gmap" style="height: 615px;"></div>
</div> <!-- END: CONTENT/CONTACT/CONTACT-1 -->
{% if cat.content %}
    {{ cat.content|safe }}
{% else %}
    <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1 -->
    <div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-feedback-1 c-option-1">
			<div class="row">
				<div class="col-md-6">
					<div class="c-container c-bg-green c-bg-img-bottom-right" style="background-image:url({% static 'assets/base/img/content/misc/feedback_box_1.png' %})">
						<div class="c-content-title-1 c-inverse">
							<h3 class="c-font-uppercase c-font-bold">{% trans 'Need to know more?' %}</h3>
							<div class="c-line-left"></div>
							<p class="c-font-lowercase">{% trans 'Try visiting our FAQ page to learn more about our products and services.' %}</p>
							<a href="#" class="btn btn-md c-btn-border-2x c-btn-white c-btn-uppercase c-btn-square c-btn-bold">{% trans 'Learn More' %}</a>
						</div>
					</div>
					<div class="c-container c-bg-grey-1 c-bg-img-bottom-right" style="background-image:url({% static 'assets/base/img/content/misc/feedback_box_2.png' %})">
						<div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold">{% trans 'Have a question?' %}</h3>
							<div class="c-line-left"></div>
							<form action="#">
								<div class="input-group input-group-lg c-square">
							      	<input type="text" class="form-control c-square" placeholder="{% trans 'Ask a question' %}">
							      	<span class="input-group-btn">
							        	<button class="btn c-theme-btn c-btn-square c-btn-uppercase c-font-bold" type="button">{% trans 'Go!' %}</button>
							      	</span>
							    </div>
							</form>
							<p>{% trans 'Ask your questions away and let our dedicated customer service help you look through our FAQs to get your questions answered!' %}</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="c-contact">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">{% trans 'Keep in touch' %}</h3>
                            <div class="c-line-left"></div>
                            <p class="c-font-lowercase">{% blocktrans %}Our helpline is always open to receive any inquiry or feedback.
                            Please feel free to drop us an email from the form below and we will get back to you as soon as we can.{% endblocktrans %}</p>
                        </div>
						<form id="contact-form" method="post" action="{% url 'landing_contactus' %}">
                            {% csrf_token %}
							<div class="form-group">
                        		<input type="text" name="name" placeholder="{% trans 'Your Name' %}" class="form-control c-square c-theme input-lg">
                        	</div>
                        	<div class="form-group">
                        		<input type="text" name="email" placeholder="{% trans 'Your Email' %}" class="form-control c-square c-theme input-lg">
                        	</div>
                        	<div class="form-group">
                        		<input type="text" name="phone" placeholder="{% trans 'Contact Phone' %}" class="form-control c-square c-theme input-lg">
                        	</div>
		                   	<div class="form-group">
                        	   	<textarea rows="8" name="message" placeholder="{% trans 'Write comment here' %} ..." class="form-control c-theme c-square input-lg"></textarea>
		                    </div>
		                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square submit-btn">{% trans "Submit" %}</button>
	                   	</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <!-- END: CONTENT/CONTACT/FEEDBACK-1 -->
{% endif %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{% static 'landing/javascript/gmap3.min.js' %}"></script>
{% endblock %}