{% extends 'landing/master/simple_layout.html' %}
{% load i18n %}
{% block content_body %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="row m-n">
            <div class="col-md-6 col-md-offset-3 m-t-lg">
                <section class="panel">
                    <header class="panel-heading text-center">
                        {% if title %}
                            {% trans title %}
                        {% else %}
                            {% trans 'Active Account' %}
                        {% endif %}
                    </header>
                    <form action="" class="panel-body">
                        <div>
                            {% trans message %}
                        </div>
                        <div class="line line-dashed"></div>
                        <a href="{{ return_url }}" class="btn btn-white btn-block">{% trans 'Retrun Back' %}</a>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
