{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block body_css %}
    class="right-sidebar"
{% endblock %}

{% block title %}{{ cat.meta_title }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ cat.description }}">
    <meta name="keywords" content="{{ cat.keywords }}">
    <meta name="author" content="{{ cat.meta_title }}">
{% endblock %}

{% block body %}
    <!-- Page Title -->
    {% include 'landing/include/content_header.html' %}
    <section class="page-wrap blog-post clearfix" style="height: 1959px;">
		<div class="container" {% if cat.picture %}style="background-image: url('{{ cat.picture }}');" {% endif %}>
			<div class="row">
				<main class="main-content">
					<div class="content">
                        {% if list %}
                            <div class="teammember list clearfix">
                                {% for foo in list %}
                                    {% if cat2 %}
                                        {% url 'landing_post' id=foo.id cat1=cat1 cat2=cat2 as post_url %}
                                    {% else %}
                                        {% url 'landing_post' id=foo.id cat1=cat1 as post_url %}
                                    {% endif %}
                                    <article>
                                        <p class="media">{% if foo.picture %}
                                            <a href="{{ post_url }}" class="popup" data-source="{% get_media_prefix %}{{ foo.picture }}">
                                                <img src="{% get_media_prefix %}{{ foo.picture }}" alt="{{ foo.title }}">
                                            </a>
                                            {% else %}
                                            <img src="{% static 'landing/images/pages/img_mem01.jpg' %}" alt="{{ foo.title }}">
                                            {% endif %}</p>
                                        <h3><a href="{{ post_url }}">{{ foo.title }}</a></h3>
                                        <span class="position">{{ foo.meta_title }}</span>
                                        <p class="description">{{ foo.subtitle }}</p>
                                        <p class="readmore"><a href="{{ post_url }}">{% trans 'View Profile' %}<i class="ion-ios-arrow-forward"></i></a></p>
                                    </article>
                                {% endfor %}
                            </div>
                            <div class="pagination">
                                <ul class="inline">
                                    {% for p in pagers %}
                                        {% if cat2 %}
                                            {% url 'landing_post' id=post.id cat1=cat1 cat2=cat2 page=p as post_url %}
                                        {% else %}
                                            {% url 'landing_post' id=post.id cat1=cat1 page=p as post_url %}
                                        {% endif %}
                                        {% if p.href == 0 %}
                                            <li><a href="#">{{ p.title }}</a></li>
                                        {% else %}
                                            <li {% if p.title == page %}class="active"{% endif %}><a href="{{ post_url }}">{{ p.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            {{ cat.content|safe }}
                        {% endif %}
					</div>
				</main>
				<aside class="sidebar">
                    {% if sub_categories %}
					<div class="widget widget-categories">
						<h3 class="widget-title">{% trans "Categories" %}</h3>
						<ul>
                            {% for sub_category in sub_categories %}
                                <li><a href="{{ sub_category.key }}/content.html">{{ sub_category.title }} </a></li>
                            {% endfor %}
						</ul>
					</div>
                    {% endif %}
                    {% if recent_posts %}
                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">{% trans "Recent Members" %}</h3>
                            {% for post in recent_posts %}
                                <article class="clearfix">
                                    <div class="wrapper">
                                        {% if cat2 %}
                                            {% url 'landing_post' id=post.id cat1=cat1 cat2=cat2 as post_url %}
                                        {% else %}
                                            {% url 'landing_post' id=post.id cat1=cat1 as post_url %}
                                        {% endif %}
                                        <div class="content">
                                            <a href="{{ post_url }}">{{ post.title }}</a>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                            <div>
                                {% if cat2 %}
                                    <a href="{% url 'landing_posts' cat1=cat1 cat2=cat2 page=1 %}">{% trans "View All Members" %}</a>
                                {% else %}
                                    <a href="{% url 'landing_posts' cat1=cat1 page=1 %}">{% trans "View All Members" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
				</aside>
			</div>
		</div>
	</section>
    {% include 'landing/include/inc_subscription.html' %}
{% endblock %}

{% block custom_js %}

{% endblock %}