{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body style="text-align: center; ">
    {% if result %}
        <img src="{% static 'appa/op_successful.png' %}" width="200px">
    {% else %}
        <img src="{% static 'appa/op_failed.png' %}" width="200px">
    {% endif %}
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
</body>
</html>