{% load i18n static landing_tags %}
<p style="margin: 0 0 16px;">
  Not sure why you received this email? Please
  <a href="mailto:support@example.com" class="hover-underline" style="--text-opacity: 1; color: #7367f0; color: rgba(115, 103, 240, var(--text-opacity)); text-decoration: none;">let us know</a>.
</p>
<p style="margin: 0 0 16px;">Thanks, <br>The PixInvent Team</p>