{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block content %}
    <p>
    {% trans "Please go to the following page and choose a new password:" %}
    </p>
    <p>
    {% block reset_link %}
    {{ server }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    </p>
    <p>
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    </p>
{% endblock %}
