{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block content %}
<p>
등록 해 주셔서 감사합니다. 이메일 주소를 확인하려면 다음 링크를 클릭하십시오.
</p>
<p>
<a href="{{ url }}">{{ url }}</a>
</p>
{% endblock %}
