{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block content %}
<p>
Thanks for registration. Please click the following link to confirm your email address.
</p>
<p>
<a href="{{ url }}">{{ url }}</a>
</p>
{% endblock %}
