{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block logo %}
<a href="https://{{ settings.BFG.server }}">
    <img src="{% get_media_prefix %}{{ company.logo }}" width="155" alt="{{ company.title }}"
         style="border: 0; max-width: 100%; line-height: 100%; vertical-align: middle;">
</a>
{% endblock %}
{% block content %}
<p>
感谢您的注册。 请单击以下链接以确认您的电子邮件地址。
</p>
<p>
<a href="{{ url }}">{{ url }}</a>
</p>
{% endblock %}
