{% load static %}
{% load i18n %}
{% load landing_tags %}

<form id="discount-coupon-form">
    <div class="discount">
        <h2>Discount Codes</h2>
        <div class="form-list">
            <label for="coupon_code">Enter your coupon code if you have one.</label>
            <input name="remove" id="remove-coupone" value="0" type="hidden">
            <div class="input-box">
                <input class="input-text" id="coupon_code" name="coupon_code" value="">
            </div>
            <div class="buttons-set">
                <button type="button" title="Apply Coupon" class="btn-black"><span><span>Apply Coupon</span></span>
                </button>
            </div>
        </div>
    </div>
</form>