{% load i18n static %}

<ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
    {% for category in store.categories %}
    <li class="c-dropdown {% if forloop.first %}c-active c-open{% endif %}">
        <a href="javascript:;" class="c-toggler">{{ category.title }}<span class="c-arrow"></span></a>
        <ul class="c-dropdown-menu">
            {% for child in category.children %}
            <li class="#">
                <a href="#">{{ child.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>