{% load i18n static %}

<div class="c-content-box c-size-md c-theme-bg">
    <div class="container">
        <div class="c-content-step-3 c-font-white">
            <div class="row">
                <div class="col-md-4 c-steps-3-block">
                    <i class="fa fa-truck"></i>
                    <div class="c-steps-3-title">
                        <h2 class="c-font-white c-font-uppercase c-font-30 c-font-thin">{% trans 'Free shipping' %}</h2>
                        <em>{% trans 'Express delivery withing 3 days' %}</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 c-steps-3-block">
                    <i class="fa fa-gift"></i>
                    <div class="c-steps-3-title">
                        <h2 class="c-font-white c-font-uppercase c-font-30 c-font-thin">{% trans 'Daily Gifts' %}</h2>
                        <em>{% trans '3 Gifts daily for lucky customers' %}</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-4 c-steps-3-block">
                    <i class="fa fa-phone"></i>
                    <div class="c-steps-3-title">
                        <h2 class="c-font-white c-font-uppercase c-font-30 c-font-thin">{{ landing.site.tel1 }}</h2>
                        <em>{% trans '24/7 customer care available' %}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>