{% load static i18n landing_tags %}

<!-- BEGIN: CART MENU -->
<div class="c-cart-menu">
    <input type="hidden" id="cartCount" value="{{ cart.count }}">
    {% if cart.count > 0 %}
        <div class="c-cart-menu-title">
            <p class="c-cart-menu-float-l c-font-sbold">{{ cart.count }} {% trans  'item(s)' %}</p>
            <p class="c-cart-menu-float-r c-theme-font c-font-sbold">${{ cart.total|floatformat:2 }}</p>
        </div>
        <ul class="c-cart-menu-items">
            {% for product in cart.products %}
            <li>
                <div class="c-cart-menu-close">
                    <a href="#" class="c-theme-link">×</a>
                </div>
                <img src="{% get_media_prefix %}{{ product.product.thumb }}"/>
                <div class="c-cart-menu-content">
                    <p>1 x <span class="c-item-price c-theme-font">${{ product.product.price|floatformat:2 }}</span></p>
                    <a href="{% url 'store:product_detail' id=product.id %}" class="c-item-name c-font-sbold">{{ product.product.title }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="c-cart-menu-footer">
            <a href="{% url 'store:cart' %}" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">View Cart</a>
            <a href="{% url 'store:checkout' %}" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">Checkout</a>
        </div>
    {% endif %}
</div>
<!-- END: CART MENU -->