{% load i18n static %}
{% load landing_tags %}

{% if products %}
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space" style="background-image: url(../../assets/base/img/content/shop-backgrounds/135.jpg)">

<div class="container">
    <div class="c-content-title-1">
		<h3 class="c-font-uppercase c-center c-font-bold">{{ title }}</h3>
		<div class="c-line-center c-theme-bg"></div>
	</div>
        <!-- BEGIN: CONTENT/SHOPS/SHOP-2-7 -->
        {% for product in products %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}
                    <div class="col-md-3 col-sm-6 c-margin-b-20">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                {% if product.is_clearance %}
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                    {% trans 'Sale' %}
                                </div>
                                {% endif %}

                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="{% url 'store:product_detail' id=product.id %}"
                                           class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{% trans 'Explore' %}</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center c-overlay-object" data-height="height"
                                     style="height: 270px; background-image: url({% get_media_prefix %}{{ product.thumb }});"></div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-16 c-font-slim" title="{{ product.title }}" style="width: 235px; height: 22px; overflow: hidden">{{ product.title }}</p>
                                <p class="c-price c-font-14 c-font-slim">${{ product.price|floatformat:2 }} &nbsp;
                                    {% if product.was_price > 0 %}
                                    <span class="c-font-14 c-font-line-through c-font-red">${{ product.was_price|floatformat:2 }}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="{% url 'store:wishlist_add_product' id=product.id %}"
                                       class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                </div>
                                <div class="btn-group c-border-left c-border-top" role="group">
                                    <a href="{% url 'store:cart_add_product' id=product.id %}"
                                       class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}