{% load static %}
{% load i18n %}
{% load landing_tags %}


<span class="heading-small">YOU MAY BE INTERESTED IN THE FOLLOWING ITEM(S)</span>
<div class="space30"></div>
<div class="product-carousel3">
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/fashion/5.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/fashion/15.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/accessories/8.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/fashion/18.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/fashion/10.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
    <div class="pc-wrap">
        <div class="product-item">
            <div class="item-thumb">
                <img src="{% static 'store/default/images/products/accessories/5.jpg' %}"
                     class="img-responsive" alt=""/>
                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal"
                     data-target="#myModal"></div>
                <div class="product-overlay">
                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                    <a href="#" class="compare fa fa-signal"></a>
                    <a href="#" class="likeitem fa fa-heart-o"></a>
                </div>
            </div>
            <div class="product-info">
                <h4 class="product-title"><a href="./single-product.html">Product
                    fashion</a></h4>
                <span class="product-price">$99.00 <em>- Pre order</em></span>
            </div>
        </div>
    </div>
</div>