<div class="shipping">
    <h2>Estimate Shipping and Tax</h2>
    <div class="shipping-form">
        <form id="shipping-zip-form">
            <p>Enter your destination to get a shipping estimate.</p>
            <ul class="form-list">
                <li>
                    <label class="required"><em>*</em>Country</label>
                    <input class="input-text" type="text">
                </li>
                <li>
                    <label>State/Province</label>
                    <input class="input-text" type="text">
                </li>
                <li>
                    <label>Zip/Postal Code</label>
                    <input class="input-text" type="text">
                </li>
            </ul>
            <div class="buttons-set">
                <button type="button" class="btn-black">
                    <span><span>Get a Quote</span></span></button>
            </div>
        </form>
    </div>
</div>