{% load i18n static %}

<ul class="c-shop-filter-search-1 list-unstyled">
    <li>
        <label class="control-label c-font-uppercase c-font-bold">Category</label>
        <select class="form-control c-square c-theme">
            <option value="0">All Categories</option>
            <option value="1">Art</option>
            <option value="2">Baby</option>
            <option value="3">Books</option>
            <option value="4">Business &amp; Industrial</option>
            <option value="5">Cameras &amp; Photo</option>
            <option value="6">Cell Phones &amp; Accessories</option>
            <option value="7">Clothing, Shoes &amp; Accessories</option>
            <option value="8">Coins &amp; Paper Money</option>
            <option value="9">Collectibles</option>
            <option value="10">Computers/Tablets &amp; Networking</option>
        </select>
    </li>
    <li>
        <label class="control-label c-font-uppercase c-font-bold">Availability</label>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-3-1" class="c-check"> <label for="checkbox-sidebar-3-1">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p>Not Available (3)</p>
        </label>
        </div>
        <div class="c-checkbox c-checkbox-height">
            <input type="checkbox" id="checkbox-sidebar-3-2" class="c-check"> <label for="checkbox-sidebar-3-2">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p>In Stock (23)</p>
        </label>
        </div>
    </li>
    <li>
        <label class="control-label c-font-uppercase c-font-bold">Price Range Slider Color</label>
        <p>Price Range: $1 - $ 500</p>
        <div class="c-price-range-slider c-theme-2 input-group">
            <div class="slider slider-horizontal" style="width: 191px;">
                <div class="slider-track">
                    <div class="slider-selection" style="left: 19.8397%; width: 30.0601%;"></div>
                    <div class="slider-handle" style="left: 19.8397%;"></div>
                    <div class="slider-handle" style="left: 49.8998%;"></div>
                </div>
                <div class="tooltip top" style="top: -30px; left: 33.6012px;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">100 : 250</div>
                </div>
                <input type="text" class="c-price-slider" value="" data-slider-handle="square" data-slider-min="1"
                       data-slider-max="500" data-slider-step="1" data-slider-value="[100,250]" style=""></div>
        </div>
    </li>
    <li class="c-margin-b-40">
        <label class="control-label c-font-uppercase c-font-bold">Review Rating</label>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-1" class="c-check"> <label for="checkbox-sidebar-2-1">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">
                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> <span
                    class="fa fa-star c-theme-font"></span>
                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> (18)
            </p>
        </label>
        </div>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-2" class="c-check"> <label for="checkbox-sidebar-2-2">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">
                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> <span
                    class="fa fa-star c-theme-font"></span>
                <span class="fa fa-star c-theme-font"></span> (20)
            </p>
        </label>
        </div>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-3" class="c-check"> <label for="checkbox-sidebar-2-3">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">
                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span>
                <span class="fa fa-star c-theme-font"></span> (9)
            </p>
        </label>
        </div>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-4" class="c-check"> <label for="checkbox-sidebar-2-4">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">
                <span class="fa fa-star c-theme-font"></span> <span class="fa fa-star c-theme-font"></span> (4)
            </p>
        </label>
        </div>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-5" class="c-check"> <label for="checkbox-sidebar-2-5">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">
                <span class="fa fa-star c-theme-font"></span> (1)
            </p>
        </label>
        </div>
        <div class="c-checkbox">
            <input type="checkbox" id="checkbox-sidebar-2-6" class="c-check"> <label for="checkbox-sidebar-2-6">
            <span class="inc"></span> <span class="check"></span> <span class="box"></span>
            <p class="c-review-star">No yet rated (10)</p>
        </label>
        </div>
    </li>
    </ul>