{% extends 'landing/master/main_layout.html' %}
{% load i18n static %}

{% block content %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="row m-n">
            <div class="col-md-6 col-md-offset-3 m-t-lg">
                <section class="c-margin-b-40 text-center">
                    <header class="panel-heading text-center c-margin-t-40">
                        {% trans 'Active Account' %}
                    </header>
                    {% if result == True %}
                        <div class="c-margin-b-40">
                            {% trans 'Congratulations. Your account has been activated. ' %}
                        </div>
                        <a href="{% url 'account_index' %}" class="btn btn-primary">{% trans 'Login Now' %}</a>
                    {% else %}
                        <div class="c-margin-b-40">
                            {% trans 'Your account has not been activated. Please click the link in the sign email. Or you can click the resend button if you have not receive the email.' %}
                        </div>
                        <a href="{% url 'resend_verify_email' %}" class="btn btn-white">{% trans 'Resend Email' %}</a>
                    {% endif %}
                </section>
            </div>
        </div>
    </section>
{% endblock %}
