{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="about-us-section">
    <div class="container">
        <div class="row">
            <div class="contact-form">
                <form method="post" role="form" class="form-horizontal col-lg-offset-2">
                    {% csrf_token %}
                    <div class="form-group c-margin-t-40">
                        <div class="col-sm-10">
                            <textarea readonly rows="20" style="width: 100%">{{ site.terms|safe }}</textarea>
                        </div>
                    </div>
                    <div class="form-group c-margin-t-40">
                        <div class="col-sm-10 text-right">
                            <button type="submit" name="action" class="btn btn-primary" value="agree">{% trans 'Agree' %}</button>
                            <a href="{% url 'home' %}" class="btn btn-white" >{% trans 'Cancel' %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}