{% extends 'landing/master/my_layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs_title %}
{% trans 'Change Password' %}
{% endblock %}

{% block account_content %}
    <div class="card">
        <div class="card-body">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">{% trans 'Current Password' %}</label>
                    <div class="col-md-6">
                        <input type="password" name="old_password"
                               class="form-control c-square c-theme" placeholder="{% trans 'Current Password' %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">{% trans 'New Password' %}</label>
                    <div class="col-md-6">
                        <input type="password" name="new_password1"
                               class="form-control c-square c-theme" placeholder="{% trans 'Enter New Password' %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">{% trans 'Re-enter Password' %}</label>
                    <div class="col-md-6">
                        <input type="password" name="new_password2"
                               class="form-control c-square c-theme" placeholder="{% trans 'Re-enter New Password' %}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Submit' %}
                        </button>
                        <button type="reset" class="btn btn-default">
                            {% trans 'Cancel' %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}

