<section class="panel">
    <header class="panel-heading font-bold">Account Details</header>
    <div class="panel-body">
        <form class="bs-example form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="help-block m-b-none">This email address is used to receive reset password email and messages.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="receive_maillist" value="">
                        I am happy to receive updates and offers.
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-sm btn-primary pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>