{% load static i18n view %}
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'account_index' %}">
                {% block logo %}
                <!-- Logo icon -->
                <b>
                    <!-- Dark Logo icon -->
                    <img style="height: 40px" src="{{ landing.site.reverse_logo }}" alt="homepage" class="dark-logo"/>
                    <!-- Light Logo icon -->
                    <img style="height: 40px" src="{{ landing.site.logo }}" alt="homepage" class="light-logo"/>
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                     <!-- dark Logo text -->
                     <img style="height: 40px" src="{{ landing.site.reverse_logo }}" alt="homepage" class="dark-logo"/>
                    <!-- Light Logo text -->
                     <img style="height: 40px" src="{{ landing.site.logo }}" class="light-logo" alt="homepage"/></span>
                {% endblock %}
            </a>
        </div>
        <!-- End Logo -->
        {% block user_summery %}
        {% view "landing.account.views.account_header" %}
        {% endblock %}
    </nav>
</header>