{% load i18n static landing_tags %}
<div class="navbar-collapse">
    <!-- toggle and nav items -->
    <ul class="navbar-nav mr-auto mt-md-0">
        <!-- This is  -->
        <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
        <!-- Search -->
        <li class="nav-item hidden-sm-down search-box">
            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i
                    class="ti-search"></i></a>
            <form class="app-search" action="">
                <input type="text" class="form-control" name="search" placeholder="{% trans 'Search & enter' %}"> <a class="srh-btn"><i
                    class="ti-close"></i></a></form>
        </li>
        <!-- Messages -->

        <!-- End Messages -->
    </ul>
    <!-- User profile and search -->
    <ul class="navbar-nav my-lg-0">
        <!-- Messages -->
        {% if messages|length > 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                    class="mdi mdi-email"></i>
                <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
            </a>
            <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                <ul>
                    <li>
                        <div class="drop-title">{% blocktrans with stat.count as count %}You have {{ count }} new messages{% endblocktrans %}</div>
                    </li>
                    <li>
                        <div class="message-center">
                            {% for message in messages %}
                                <!-- Message -->
                                <a href="#">
                                    <div class="user-img"><img src="#" alt="user"
                                                               class="img-circle"> <span
                                            class="profile-status online pull-right"></span></div>
                                    <div class="mail-contnet">
                                        <h5>{{ message.sender }}</h5> <span
                                            class="mail-desc">{{ message.title }}</span> <span
                                            class="time">{{ message.create_time|date }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                    <li>
                        <a class="nav-link text-center" href="{% url 'account_message' %}">
                            <strong>{% trans 'See all e-Mails' %}</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        <!-- End Messages -->
        <!-- Profile -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                    src="{% if profile.picture %}{% get_media_prefix %}{{ profile.picture }}{% endif %}" alt="user" class="profile-pic"/></a>
            <div class="dropdown-menu dropdown-menu-right scale-up">
                {% block account_top_menu %}
                <ul class="dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="{% if profile.picture %}{% get_media_prefix %}{{ profile.picture }}{% endif %}" alt="user"></div>
                            <div class="u-text">
                                <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                                <p class="text-muted">{{ request.user.email }}</p><a href="{% url 'account_profile' %}"
                                                                            class="btn btn-rounded btn-danger btn-sm">
                                {% trans "View Profile" %}</a></div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'account_profile' %}"><i class="ti-user"></i> {% trans 'My Profile' %}</a></li>
{#                    <li><a href="{% url 'account_balance' %}"><i class="ti-wallet"></i> {% trans 'My Balance' %}</a></li>#}
                    <li><a href="{% url 'account_message' %}"><i class="ti-email"></i> {% trans 'Messages' %}</a></li>
                    <li role="separator" class="divider"></li>
                    {% block account_top_menu_settings %}
                    <li><a href="{% url 'account_settings' %}"><i class="ti-settings"></i> {% trans 'Account Setting' %}</a></li>
                    <li role="separator" class="divider"></li>
                    {% endblock %}
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans 'Logout' %}</a></li>
                </ul>
                {% endblock %}
            </div>
        </li>
        <!-- ============================================================== -->
        <!-- Language -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                    class="flag-icon
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE|contains:"en" %}
                    flag-icon-nz
                    {% elif LANGUAGE_CODE|contains:"zh" %}
                    flag-icon-cn
                    {% endif %}"
            ></i></a>

            <div class="dropdown-menu dropdown-menu-right scale-up language_menu" value="{% url 'set_language' %}">
                {% csrf_token %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {% if language.code != LANGUAGE_CODE %}
                    <a class="dropdown-item" href="#" code="{{ language.code }}">
                        {% if language.code|contains:'zh' %}
                            <i class="flag-icon flag-icon-cn"></i>
                        {% elif language.code|contains:"en" %}
                            <i class="flag-icon flag-icon-nz"></i>
                        {% endif %}
                        {{ language.name_local }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
    </ul>
</div>