{% extends 'landing/master/my_layout.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumbs_title %}
    {% trans 'messages' %}
{% endblock %}

{% block account_content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="c-body">
                    <div class="c-content-title-1 c-title-md c-margin-b-20 clearfix">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-8 text-right">
                                <button type="submit" name="action" value="clean"
                                        class="btn btn-primary">{% trans 'Clean' %}</button>
                                <button type="submit" name="action" value="delete"
                                        class="btn btn-danger">{% trans 'Delete' %}</button>
                            </div>
                        </div>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <div class="col-md-12">
                        <table class="table text-left">
                            <thead>
                            <tr>
                                <th><input type="checkbox" value="all"></th>
                                <th>{% trans 'Title' %}</th>
                                <th width="120">{% trans 'Sender' %}</th>
                                <th width="120">{% trans 'Sent Time' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in list %}
                                <tr {% if message.read_time %}{% else %}class="c-font-bold"{% endif %}>
                                    <th scope="row"><input type="checkbox" name="items[]"
                                                           value="{{ message.id }}"> {{ forloop.counter }}</th>
                                    <td>
                                        <a href="{% url 'account_message_detail' id=message.id %}?return={{ request.get_full_path|urlencode }}">{{ message.title }}</a>
                                    </td>
                                    <td>{{ message.sender }}</td>
                                    <td>{{ message.create_time|timesince }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">
                                    {% include 'landing/include/inc_pager.html' %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
