{% extends 'landing/master/my_layout.html' %}
{% load i18n static %}
{% load landing_tags %}

{% block account_content %}
    <div class="c-content-blog-post-1-view">
        <div class="c-content-blog-post-1">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="return" value="{{ request.GET.return }}">
            <div class="c-title c-font-bold c-font-uppercase">
                <a href="#">{{ message.title }}</a>
            </div>
            <div class="c-panel c-margin-b-30">
                <div class="c-author"><a href="#">{% trans 'By' %} <span class="c-font-uppercase">{{ message.sender|default_if_none:'Unknown' }}</span></a></div>
                <div class="c-date">{% trans 'on' %} <span class="c-font-uppercase">{{ message.create_time }}</span></div>
                <ul class="c-tags c-theme-ul-bg">
                    {% for tag in tags %}
                    <li>{{ tag.title }}</li>
                    {% endfor %}
                </ul>
                <div class="c-comments">
                    {% if message.is_system %}
                    <a href="#" class="btn btn-xs c-btn-red c-font-uppercase c-btn-circle"><i class="icon-speech"></i>{% trans 'System' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="c-desc">
                {% if message.content %}
                {{ message.content|safe }}
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" name="back" class="btn c-theme-btn c-btn-uppercase btn-md c-btn-sbold btn-block c-btn-square">{% trans 'Back' %}</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
