{% extends 'landing/master/my_layout.html' %}
{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block breadcrumbs_title %}
{% trans 'profile' %}
{% endblock %}

{% block breadcrumbs_subtitle %}
    {% trans "View or edit profile" %}
{% endblock %}

{% block account_content %}
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="m-t-30 text-center">
                        {% if profile.picture %}
                            <img id="profile_image" src="{% get_media_prefix %}{{ profile.picture }}" class="img-circle delete-picture" width="150">
                        {% endif %}

                        <h4 class="card-title m-t-10">{{ profile.user.get_full_name }}</h4>
                        {% block user_stat %}
                        {% endblock %}
                    </div>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body">
                    {% block user_contact %}
                        <small class="text-muted">{% trans 'Email address' %} </small>
                        <h6>{{ profile.user.email }}</h6>
                        <small class="text-muted p-t-30 db">{% trans 'Phone' %}</small>
                        <h6>{{ request.user.tel|none_empty }}</h6>
                    {% endblock %}
                    {% block user_address %}
                        {% if profile.default_address %}
                        <small class="text-muted p-t-30 db">{% trans 'Address' %}</small>
                        <h6>{{ profile.default_address.street }}, {{ profile.default_address.suburb }},{{ profile.default_address.city }} {{ profile.default_address.postcode }}</h6>
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                        {% endif %}
                    {% endblock %}
                    {% block user_social %}
                    <small class="text-muted p-t-30 db">{% trans 'Social Profile' %}</small>
                    <br>
                    <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">{% trans 'Profile' %}</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">{% trans 'Settings' %}</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#address" role="tab">{% trans 'Address' %}</a> </li>
{#                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#social" role="tab">{% trans 'Social' %}</a> </li>#}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="profile" role="tabpanel">
                        <div class="card-body">
                            {% block profile %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <div class="card-body">
                            <form class="form-horizontal form-material" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group col-12">
                                    <div class="row">
                                        <label class="col-md-2">{% trans 'First Name' %}</label>
                                        <label class="col-md-2">{% trans 'Last Name' %}</label>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control form-control-line"
                                                   id="firstname" name="firstname" placeholder=""
                                                   value="{{ profile.user.first_name|none_empty }}"
                                            >
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control form-control-line"
                                                   id="lastname" name="lastname" placeholder=" "
                                                   required
                                                   value="{{ profile.user.last_name|none_empty }}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">{% trans "Gender" %}</label>
                                    <div class="col-md-12">
                                        <select class="form-control" name="gender" selected_id="{{ profile.gender }}">
                                            <option value="U">{% trans 'Unknown' %}</option>
                                            <option value="M">{% trans 'Male' %}</option>
                                            <option value="F">{% trans 'Female' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">{% trans "Email" %}</label>
                                    <div class="col-md-12">
                                        <input  type="email"
                                                class="form-control form-control-line"
                                                   id="email" name="email" placeholder=""
                                                   value="{{ profile.user.email|none_empty }}"
                                        >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">{% trans 'Mobile Number' %}</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="02X XXX XXXXX"
                                               name="auth_mobile"
                                               value="{{ profile.auth_mobile|none_empty }}"
                                               class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">{% trans 'Signature' %}</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" class="form-control form-control-line"
                                                  name="message"
                                        >{{ profile.message|none_empty }}</textarea>
                                    </div>
                                </div>
{#                                <div class="form-group">#}
{#                                    <label class="col-sm-12">{% trans 'Select Country' %}</label>#}
{#                                    <div class="col-sm-12">#}
{#                                        <select class="form-control form-control-line">#}
{#                                            <option value="0">--</option>#}
{#                                            {% for country in countries %}#}
{#                                            <option value="{{ country.id }}">{{ country.title }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">{% trans 'Submit' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="address" role="tabpanel">
                        <div class="card-body">
                            <form class="form-horizontal form-material" action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'Name' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="firstname" name="firstname" placeholder=""
                                                       value="{{ address.firstname|none_empty }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'Steet' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="street" name="street" placeholder=""
                                                       value="{{ address.address|none_empty }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'Suburb' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="surburb" name="suburb" placeholder=""
                                                       value="{{ address.suburb|none_empty }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'City' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="city" name="city" placeholder=""
                                                       value="{{ address.city|none_empty }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'Post Code' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="postcode" name="postcode" placeholder=""
                                                       value="{{ address.postcode|none_empty }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">{% trans 'Country' %}</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-line"
                                                       id="country" name="country" placeholder=""
                                                       value="{{ address.country|none_default:"New Zealand" }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">{% trans 'Submit' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="social" role="tabpanel">
                        <div class="card-body">
                            <form class="form-horizontal form-material" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">{% trans 'Submit' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
{% endblock %}