{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="about-us-section">
    <div class="container">
        <div class="row">
            <div class="contact-form">
                <form method="post" role="form" class="form-horizontal col-lg-offset-3 col-lg-6">
                    {% csrf_token %}
                    <div class="form-group c-margin-t-40">
                        <label class="control-label col-sm-4">{% trans 'User Account' %}</label>
                        <div class="col-sm-8 input-text">
                            {% if error %}
                                <div class="text-danger">{{ error }}</div>
                            {% endif %}
                            <input type="text" class="form-control" name="username"
                                   placeholder="{% trans 'Unique account in system' %}" value="{{ username }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{% trans 'Email' %}</label>
                        <div class="col-sm-8 input-text">
                            <input type="email" class="form-control" name="email" placeholder="{% trans 'email' %}" value="{{ email }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{% trans 'Password' %}</label>
                        <div class="col-sm-8 input-text">
                            <input type="password" class="form-control" name="password"
                                   placeholder="{% trans 'at least 6 charaters' %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{% trans 'Confirm Password' %}</label>
                        <div class="col-sm-8 input-text">
                            <input type="password" class="form-control"
                                   placeholder="{% trans 're-enter the password like above' %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">
                            <button type="submit" class="btn btn-lg btn-success pull-right">{% trans 'Sign up' %}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">
                            <p>
                                <span>{% trans 'already has an account' %}? </span>
                                <a type="button" href="{% url 'login' %}">{% trans 'Sign in' %}</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}