{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="row m-n">
            <div class="col-md-6 col-md-offset-3 m-t-lg">
                <section class="panel">
                    <header class="panel-heading text-center">
                        {% trans 'Active Account' %}
                    </header>
                    <form action="" method="post" class="panel-body">
                        {% csrf_token %}
                        <div>
                            <i class="fa fa-envelope-o"></i>
                            {% trans 'Your account has not been activated. Please click the link in the sign email. Or you can click the resend button if you have not receive the email.' %}
                        </div>
                        <div class="line line-dashed"></div>
                        <button type="submit" class="btn btn-white btn-block">{% trans 'Resend Email' %}</button>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
