{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="about-us-section">
        <div class="container">
            <div class="row">
                <div class="text-center c-margin-b-40 c-margin-t-40">
                    <span class="glyphicon glyphicon-ok-sign c-font-80 c-font-green-1">
					</span>
                    <h3>{% trans 'Sign Up Successfully' %}!</h3>
                    <p>{% trans 'Thanks for Sign up. Please check your email and click the confirm link in the email.' %} </p>
                    <a href="{% url 'account_index' %}" class="btn btn-lg btn-success">{% trans 'Sign In' %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}