{% extends 'landing/master/dialog_layout.html' %}
{% load i18n %}
{% load landing_tags %}

{% block title %}
    {% trans 'Add Reservation' %}
{% endblock %}

{% block modal_body %}
    <div id="reservation" role="form">
        <div class="form-group">
            <label>{% trans 'Date' %}</label>
            <input type="text" class="form-control" id="booking_date" name="booking_date" value="{{ today|date:"Y-m-d H:i" }}">
        </div>
        <div class="form-group">
            <label>{% trans 'Reference' %}</label>
            <input type="text" class="form-control" name="reference" value="{{ fo.customer.member_code }}-{{ fo.tracking_number }} {{ fo.customer.get_full_name }}">
        </div>
        <div class="form-group">
            <label>{% trans 'Description' %}</label>
            <textarea type="text" class="form-control" name="description" ></textarea>
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-success waves-effect text-left dlg-submit-btn"
            data-form-id="#reservation"
            data-action="{% url 'appa:packgo_declarationform_action' fo.id %}?action=book_reservation"
            data-refresh="page"
            data-dismiss="modal">{% trans 'Submit' %}</button>
{% endblock %}