{% extends 'landing/master/dialog_layout.html' %}
{% load i18n %}
{% load landing_tags %}

{% block title %}
    {% trans 'Add Payment' %}
{% endblock %}

{% block modal_body %}
    <div id="payment" role="form">
        <div class="form-group">
            <label>{% trans 'Bank Account' %}</label>
            <select name="bank_account" class="form-control" >
                <option value="">--</option>
                {% for bank_account in bank_accounts %}
                <option value="{{ bank_account.id }}">{{ bank_account.title }} [{{ bank_account.company.code }}]</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>{% trans 'Ammount' %}</label>({{ company.currency.abstraction }})
            <input type="number" class="form-control" name="amount">
            <input type="hidden" name="currency" value="{{ company.currency.abstraction }}">
        </div>
        <div class="form-group">
            <label>{% trans 'Reference' %}</label>
            <input type="text" class="form-control" name="reference" value="{{ fo.tracking_number }}">
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-success waves-effect text-left dlg-submit-btn"
            data-form-id="#payment"
            data-action="{% url 'appa:packgo_declarationform_action' fo.id %}?action=payment&type=add"
            data-refresh="page"
            data-dismiss="modal">{% trans 'Submit' %}</button>
{% endblock %}