{% extends 'landing/master/content_layout.html' %}
{% load static %}
{% load landing_tags %}
{% load i18n %}

{% block page_left %}
    {% if list %}
        <div class="c-content-blog-post-1-list">
            {% for foo in list %}
                {% post_url foo as post_url %}
            <div class="c-content-blog-post-1">
                <div class="c-media">
                    {% if foo.picture %}
                    <a href="{{ post_url }}" class="popup" data-source="{% get_media_prefix %}{{ foo.picture }}">
                        <img src="{% get_media_prefix %}{{ foo.picture }}" alt="{{ foo.title }}">
                    </a>
                    {% else %}
                    {% endif %}
                </div>

                <div class="c-title c-font-bold c-font-uppercase">
                    <a href="{{ post_url }}">{{ foo.title }}</a>
                </div>

                <div class="c-desc">
                    <a href="{{ post_url }}">{{ foo.subtitle }}</a>
                    <a href="{{ post_url }}">{% trans 'read more' %}...</a>
                </div>

                <div class="c-panel">
                    <div class="c-author"><a href="#">{% trans 'By' %} <span class="c-font-uppercase">{{ foo.author }}</span></a></div>
                    <div class="c-date">on <span class="c-font-uppercase">{{ foo.last_modified_time|date }}</span></div>
                    <ul class="c-tags c-theme-ul-bg">
                        <li>{{ foo.keywords }}</li>
                    </ul>
                    <div class="c-comments"><a href="#"><i class="icon-speech"></i> {{ foo.comments.count }} {% trans 'comments' %}</a></div>
                </div>
            </div>
            {% endfor %}

        <div class="c-pagination">
            <ul class="c-content-pagination c-theme">

                {% for p in pagers %}
                    {% post_url p as page_url %}
                    {% if forloop.first %}
                        <li class="c-prev">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                    {% elif forloop.last %}
                        <li class="c-next"><a href="#">
                            <i class="fa fa-angle-right"></i></a>
                        </li>
                    {% else %}
                        <li {% if p.title == page %}class="c-active{% endif %}">
                            <a href="{{ page_url }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
        </div>
    {% else %}
        {{ cat.content|safe }}
    {% endif %}
{% endblock %}

{% block page_right %}
    {% include 'landing/include/inc_search.html' %}
    {% include 'landing/include/inc_subcategories.html' %}
    {% include 'landing/include/inc_recent_posts.html' %}
{% endblock %}
