{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load i18n %}

{% block body_css %}
    class="right-sidebar"
{% endblock %}

{% block title %}{{ cat.meta_title }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ cat.description }}">
    <meta name="keywords" content="{{ cat.keywords }}">
    <meta name="author" content="{{ cat.meta_title }}">
{% endblock %}

{% block body %}
    <!-- Page Title -->
    {% include 'landing/include/content_header.html' %}
    <section class="page-wrap blog-post clearfix" style="height: 1959px;">
		<div class="container">
			<div class="row">
				<main class="main-content">
					<div class="content">
                        {% if recent_posts %}
                            <div class="popup-gallery">
                                {% for foo in recent_posts %}
                                    <article class="post clearfix">
                                        <p class="media">
                                            {% if foo.picture %}
                                            <a href="" class="popup" data-source="{% get_media_prefix %}{{ foo.picture }}">
                                                <img src="{% get_media_prefix %}{{ foo.picture }}" alt="{{ foo.title }}">
                                            </a>
                                            {% else %}
                                            {% endif %}
                                        </p>
                                        <div class="entry-post">
                                            <h3><a href="{% url 'landing_post' id=foo.id cat1=cat1 cat2=cat2 %}">{{ post.title }}</a></h3>
                                            <p>{{ foo.keywords }}</p>
                                            <p>{{ foo.subtitle }}</p>
                                        </div><!-- /.entry-post -->
                                    </article>
                                {% endfor %}
                                <div class="pagination">
                                    <ul class="inline">
                                        {% for page in pagers %}
                                        <li class="active"><a href="{{ page.href }}">{{ page.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
					</div>
				</main>
				<aside class="sidebar">
					<div class="widget widget-categories">
						<h3 class="widget-title">{% trans "Categories" %}</h3>
						<ul>
                            {% for sub_category in sub_categories %}
                                <li><a href="{{ sub_category.key }}/content.html">{{ sub_category.title }} </a></li>
                            {% endfor %}
						</ul>
					</div>
                    {% if recent_posts %}
					<div class="widget widget-recent-posts">
						<h3 class="widget-title">{% trans "Recent Posts" %}</h3>
                        {% for post in recent_posts %}
                            <article class="clearfix">
							<div class="wrapper">
                                {% if post.picture %}
                                <div class="media">
									<a href="{{ post.id }}">
									<img src="{% get_media_prefix %}{{ post.picture }}" alt="{{ post.title }}"></a>
								</div>
                                {% endif %}
								<div class="content">
									<a href="{{ post.id }}">{{ post.title }}</a>
								</div>
							</div>
						</article>
                        {% endfor %}
					</div>
                    {% endif %}
				</aside>
			</div>
		</div>
	</section>
    {% include 'landing/include/inc_subscription.html' %}
{% endblock %}

{% block custom_js %}

{% endblock %}