{% extends 'landing/master/main_layout.html' %}
{% load static %}
{% load landing_tags %}
{% load i18n %}

{% block body_css %}
    class="right-sidebar"
{% endblock %}

{% block seo %}
    <meta name="description" content="{{ cat.description }}">
    <meta name="keywords" content="{{ cat.keywords }}">
    <meta name="author" content="{{ cat.meta_title }}">
{% endblock %}

{% block body %}
    <!-- Page Title -->
    {% include 'landing/include/content_header.html' %}
    <section class="page-wrap blog-post clearfix" style="height: 1959px;">
		<div class="container" {% if cat.picture %}style="background-image: url('{{ cat.picture }}');" {% endif %}>
			<div class="row">
				<main class="main-content">
					<div class="content">
                        {% if list %}
                            {% for foo in list %}
                                {% post_url foo as post_url %}
                                <article class="post clearfix">
                                    <p class="media">
                                        {% if foo.picture %}
                                        <a href="{{ post_url }}" class="popup" data-source="{% get_media_prefix %}{{ foo.picture }}">
                                            <img src="{% get_media_prefix %}{{ foo.picture }}" alt="{{ foo.title }}">
                                        </a>
                                        {% else %}
                                        {% endif %}
                                    </p>
                                    <div class="entry-post">
                                        <h3><a href="{{ post_url }}">{{ foo.title }}</a></h3>
                                        <div class="meta-post">
                                            <span class="date">{{ foo.last_modified_time|date }}</span>
                                            <span class="tags">{{ foo.keywords }}</span>
                                        </div>
                                        <p><a href="{{ post_url }}">{{ foo.subtitle }}</a></p>
                                    </div><!-- /.entry-post -->
                                </article>
                            {% endfor %}
                            <div class="pagination">
                                <ul class="inline">
                                    {% for p in pagers %}
                                        {% post_url p as page_url %}
                                        {% if p.href == 0 %}
                                            <li><a href="#">{{ p.title }}</a></li>
                                        {% else %}
                                            <li {% if p.title == page %}class="active"{% endif %}><a href="{{ page_url }}">{{ p.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            {{ cat.content|safe }}
                        {% endif %}
					</div>
				</main>
				<aside class="sidebar">
                    {% include 'landing/include/inc_subcategories.html' %}
                    {% include 'landing/include/inc_recent_posts.html' %}
				</aside>
			</div>
		</div>
	</section>
    {% include 'landing/include/inc_subscription.html' %}
{% endblock %}

{% block custom_js %}

{% endblock %}