{% extends 'landing/master/content_layout.html' %}
{% load static %}
{% load i18n %}
{% load landing_tags %}

{% block body_css %}
    class="right-sidebar"
{% endblock %}

{% block title %}{% if post.meta_title %}{{ post.meta_title }}{% else %}{{ post.title }}{% endif %} - {{ landing.site.title }}{% endblock %}

{% block seo %}
    <meta name="description" content="{% if post.description %}{{ post.description }}{% else %}{{ post.subtitle|none_empty }}{% endif %}">
    <meta name="keywords" content="{% if post.keywords %}{{ post.keywords }}{% else %}{{ post.title }}{% endif %}">
{% endblock %}

{% block page_left %}
    <div class="c-content-blog-post-1-view">
        <div class="c-content-blog-post-1">
            <div class="c-media">
                {% if foo.picture %}
                <a href="{{ post_url }}" class="popup" data-source="{% get_media_prefix %}{{ foo.picture }}">
                    <img src="{% get_media_prefix %}{{ foo.picture }}" alt="{{ foo.title }}">
                </a>
                {% else %}
                {% endif %}
            </div>

            <div class="c-title c-font-bold c-font-uppercase">
                {{ post.title }}
            </div>

            <div class="c-panel c-margin-b-30">
                <div class="c-author"><a href="#">By <span class="c-font-uppercase">{{ post.author }}</span></a></div>
                <div class="c-date">on <span class="c-font-uppercase">{{ post.last_modified_time|date }}</span></div>
                <ul class="c-tags c-theme-ul-bg">
                    {% for tag in post.tags.all %}
                    <li>{{ tag.title }}</li>
                    {% endfor %}
                </ul>
                <div class="c-comments"><a href="#"><i class="icon-speech"></i> {{ post.comments.count }} {% trans 'comments' %}</a></div>
            </div>

            <div class="c-desc">
                {{ post.content|safe }}
            </div>

            <div class="readmore">
                {% if previous_post %}
                    <p>{% trans 'Previous Post' %} <a href="{% post_url previous_post %}">{{ previous_post.title }}</a></p>
                {% endif %}
                {% if next_post %}
                    <p>{% trans 'Next Post' %} <a href="{% post_url next_post %}">{{ next_post.title }}</a></p>
                {% endif %}
            </div>
            {% if landing.site.allow_comment %}
            <div class="c-comments">

                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">{% trans 'Comments' %}({{ post.comments.count }})</h3>
                    <div class="c-line-left"></div>
                </div>

                <div class="c-comment-list">
                    {% for comment in post.comments.all %}
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" alt="" src="../../assets/base/img/content/team/team1.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#" class="c-font-bold">Sean</a> on <span class="c-date">23 May 2015, 10:40AM</span></h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" alt="" src="../../assets/base/img/content/team/team4.jpg">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" class="c-font-bold">Emma Stone</a> on <span class="c-date">30 May 2015, 9:40PM</span></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">{% trans 'Leave A Comment' %}</h3>
                    <div class="c-line-left"></div>
                </div>

                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control c-square">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Your Email" class="form-control c-square">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Your Website" class="form-control c-square">
                    </div>
                    <div class="form-group">
                        <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-md c-btn-sbold btn-block c-btn-square">Submit</button>
                    </div>
                </form>

            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block page_right %}
    {% include 'landing/include/inc_search.html' %}
    {% include 'landing/include/inc_subcategories.html' %}
    {% include 'landing/include/inc_recent_posts.html' %}
{% endblock %}