{% load i18n static landing_tags %}
<div class="row">
    <div class="col-lg-8">
        <form action="" method="post">
            {% csrf_token %}
            {% if ex %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <i class="fa fa-ban-circle"></i>{{ ex }}
                </div>
            {% endif %}
            <section class="panel">
            <textarea class="form-control input-lg no-border" rows="4"
                      name="commands"
                      placeholder="Shell commands...">{{ commands|none_empty }}</textarea>
                <footer class="panel-footer bg-light lter">
                    <button type="submit" name="execute" class="btn btn-info pull-right">Execute</button>
                    <ul class="nav nav-pills">
                        <li><a href="#"><i class="fa fa-location-arrow"></i></a></li>
                    </ul>
                </footer>
            </section>
            <section class="panel horizontal-scrollable">
                {% if headers %}
                    <table class="table table-striped">
                        <thead>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell|truncatechars:10 }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ result }}
                {% endif %}
            </section>
            <section class="panel">
            <div class="panel-body">
                <div class="bs-example form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Source Company</label>
                        <div class="col-lg-10">
                            <input type="hidden" name="template_company_id" value="{{ company.id }}">
                            {{ company.title }} {{ company.code }} | {{ company.id }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Target Company</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="company_id">
                                {% for company in companies %}
                                <option value="{{ company.id }}">{{ company.title }} {{ company.code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Options</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked name="create_printer"> create_printer
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked name="create_chargetype"> create_chargetype
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked name="create_wx"> create_wx
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked name="create_tickets"> create_tickets
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-sm btn-default" name="create_demo_data">Create Demo Data</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </form>
    </div>
    <div class="col-lg-4">

    </div>
</div>