{% load static i18n landing_tags %}
<aside class="bg-primary aside-sm" id="nav">
    <section class="vbox">
        <header class="dker nav-bar nav-bar-fixed-top">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                <i class="fa fa-bars"></i>
            </a>
            <a href="{% url 'appa:home' %}" title="Developer" class="nav-brand"
               data-toggle="fullscreen">Developer</a>
            <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
                <i class="fa fa-comment-o"></i>
            </a>
        </header>
        <section class="scrollable">
            <div class="bg-success nav-user hidden-xs pos-rlt">
                <div class="nav-avatar pos-rlt">
                    <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                        <img src="
                                /media/customers/markyin/logo.png ">
                        <span class="caret caret-white"></span>
                        markyin
                    </a>
                    <ul class="dropdown-menu m-t-sm animated fadeInLeft">
                        <span class="arrow top"></span>
                        <li>
                            <a href="/logout/?next=/">Logout</a>
                        </li>
                    </ul>
                    <div class="visible-xs m-t m-b">
                        <a href="#" class="h3">markyin</a>
                        <p><i class="fa fa-map-marker"></i>London, UK</p>
                    </div>
                </div>

            </div>
            <div class="" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px">
                <!-- / user -->
                <nav class="nav-primary hidden-xs" data-ride="collapse">
                    <ul class="nav">
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <span class="pull-right auto">
                                  <i class="fa fa-angle-down text"></i>
                                  <i class="fa fa-angle-up text-active"></i>
                                </span>
                                <i class="fa fa-bullseye"></i>
                                <span> Company </span>
                            </a>
                            <ul class="nav none dker">
                                <li>
                                    <a href="#">All Companies</a>
                                </li>
                                <li>
                                    <a href="#">All Customers</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- note -->
            <div class="{% if plan.code == 'free' %}bg-danger{% endif %} wrapper hidden-vertical animated fadeInUp text-sm">
                <a href="#" data-dismiss="alert" class="pull-right m-r-n-sm m-t-n-sm"><i class="fa fa-times"></i></a>
                Develper {{ request.user }}!
            </div>
            <!-- / note -->
            {% block nav_bottom %}
            {% endblock %}
        </section>
        <footer class="footer bg-gradient hidden-xs">
            <a href="{% url 'pack:appa_home' %}" class="btn btn-sm btn-link m-r-n-xs pull-right">
                <i class="fa fa-power-off"></i>
            </a>
            <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
                <i class="fa fa-bars"></i>
            </a>
        </footer>
    </section>
</aside>
