{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block header %}
{% endblock %}
{% block name %}
     Hi Admin,
{% endblock %}

{% block content %}
You have received a new system feedback. Here is details:
{% endblock %}

{% block body_center %}
<p>
    {{ message.name }} ({{ message.sender.username }}) - {{ message.email }}
</p>
<p>
    {{ message.content }}
</p>
<p>
    This message was sent from the following page.
    {{ message.page }}
</p>
{% endblock %}

{% block body_footer %}
    {{ signature }}
{% endblock %}
