{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block header %}
{% endblock %}
{% block name %}
     Hi Admin,
{% endblock %}

{% block content %}
    {% if change %}
        Staff information has been changed by {{ request.user.get_full_name }}. Here is details:
    {% else %}
        New staff is created by {{ request.user.username }}. Here is details:
    {% endif %}
{% endblock %}

{% block body_center %}
<p>
    Username: {{ staff.username }} ({{ staff.get_full_name }})
</p>
<p>
    Email: {{ staff.email }}
</p>
<p>
    Title: {{ staff.title }}
</p>
{% endblock %}

{% block body_footer %}
    {{ signature }}
{% endblock %}
