{% extends 'landing/master/mail_layout.html' %}
{% load i18n static landing_tags %}

{% block header %}
{% endblock %}
{% block name %}
     Hi {{ staff.first_name }},
{% endblock %}

{% block content %}
    {% if notify_admin %}
        {% if change %}
            {{ request.user.get_full_name }} changed your staff account.
        {% else %}
            {{ request.user.get_full_name }} created your staff account.
        {% endif %}
    {% else %}
        {{ request.user.get_full_name }} sent this notification email. Please contact <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a> if have further questions.
    {% endif %}
    Here is the details:
{% endblock %}

{% block body_center %}
<div>
    <h2>Account</h2>
    <p>
        User: {{ staff.get_full_name }}
    </p>
    <p>
        Email: {{ staff.email }}
    </p>
    <p>
        Title: {{ staff.title }}
    </p>
</div>
{% endblock %}

{% block body_footer %}
    {{ signature }}
{% endblock %}
