{% extends 'store/frontend/default/master/main_layout.html' %}

{% block content %}
<div class="container">
    <div class="c-layout-sidebar-menu c-theme ">
        {% block main_left %}

        {% endblock %}
    </div>
    <div class="c-layout-sidebar-content ">
        {% block main_right %}
        {% endblock %}
    </div>
</div>
{% endblock %}