{% block modal_start %}
{% endblock %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        {% block title %}
            Dialog Title
        {% endblock %}
    </h4>
    <div class="pull-right">
        {% block title_right %}
        {% endblock %}
    </div>
</div>
<div class="modal-body">
    {% block content %}
    <p>Content</p>
    {% endblock %}
</div>
<div class="modal-footer">
    {% block buttons %}
    <div class="form-inline">
        {% block extra_buttons %}
        {% endblock %}
        <div class="form-group">
            <button id="modal_close" type="button" class="btn btn-default btn-s-sm" data-dismiss="modal">Close</button>
        </div>
    </div>
    {% endblock %}
</div>
{% block modal_end %}
{% endblock %}