{% extends 'appa/master/main_layout.html' %}

{% block content_body %}
    {% block date_hierarchy %}{% endblock %}
    <div class="content_block">
        <div class="row">
            <div class="col-sm-6">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                {% block object-tools %}
                {% endblock %}
            </div>
        </div>
    </div>
    <section class="panel">
        <header class="panel-heading font-bold">
            {% block form_title %}
                {{ title }}
            {% endblock %}
        </header>
        <div class="panel-body" id="content-main">
            {% block form_body %}

            {% endblock %}
        </div>
    </section>
{% endblock %}