{% extends 'appa/master/main_layout.html' %}

{% block content_body %}
    {% block top_content %}
    {% endblock %}
    {% block date_hierarchy %}{% endblock %}
    <div class="content_block">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
            <div class="col-sm-8 col-xs-12">
                {% block object-tools-items %}
                {% endblock %}
            </div>
        </div>
    </div>
    <section class="panel">
        {% block content %}
        <header class="panel-heading">
            {% block list_title %}
                {{ title }}
                <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom"
                   data-title="ajax to load the data." data-original-title="" title=""></i>
            {% endblock %}
        </header>
            {% block list_body %}
        <div class="module" id="changeList">
            <div class="row text-sm wrapper">
                <div class="col-sm-3 col-xs-12">
                    {% block list_header %}
                    {% endblock %}
                </div>
                <div class="col-sm-9 col-xs-12 hidden-xs">
                    {% block filters %}
                    {% endblock %}
                </div>
            </div>
            <div class="row wrapper" style="padding-top: 0px">
                <form id="changelist-form" method="post"{% if cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %}
                          novalidate>
                    <div class="col-sm-12">
                        {% csrf_token %}
                        {% block list %}
                        {% endblock %}
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
        {% endblock %}
    </section>
{% endblock %}