{% load landing_tags hijack_tags %}
{% load i18n static %}
{% load view %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% trans 'Admin Console' %} - {{ landing.site.title }}{% endblock %}</title>
    <meta name="description"
          content="{{ landing.site.description|none_empty }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{% static "appa/css/bootstrap.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "appa/css/animate.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "appa/css/font-awesome.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "appa/css/font.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "appa/js/fuelux/fuelux.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "appa/css/plugin.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'appa/js/sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static "appa/css/app.css" %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>
    {% if landing.site.page_icon %}
        <link href="{{ landing.site.page_icon }}" rel="shortcut icon">
    {% else %}
        <link href="{% get_static_prefix %}assets/favicon.ico" rel="shortcut icon">
    {% endif %}

    {% block extrastyle %}{% endblock %}
    {% block custom_css %}
    {% endblock %}
    {% block extrahead %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'appa/js/ie/respond.min.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/ie/html5.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/ie/fix.js' %}" cache="false"></script>
  <![endif]-->
    <script>
        {% if landing.site.google_analysis_apikey %}
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', '{{ landing.site.google_analysis_apikey }}', 'auto');
            ga('send', 'pageview');
        {% endif %}
    </script>
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<section class="hbox stretch">
    {% block sidebar %}<!-- .aside -->{% view "bfg.appa.views.sidebar" %}<!-- /.aside -->{% endblock %}
    <!-- .vbox -->
    <section id="content">
        <section class="vbox">
            {% block header %}
                <header class="header {% if debug %}bg-warning{% else %}bg-white{% endif %} b-b message_area hidden-xs">
                    {% block top_banner %}
                        <div class="col-lg-6">
                            <p class="message" style="margin: 15px">
                                {% block left_banner %}
                                    <strong>{% trans 'Welcome to' %} {{ landing.site.title }}</strong>
                                    {% trans 'Version' %}:{{ landing.settings.version }}
                                    {% if debug %}[{% trans 'Debug Mode' %}]{% endif %}
                                {% endblock %}
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                            <form class="form-inline pull-right" role="form">
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                {% block top_quick_buttons %}
                                {% endblock %}
                                <div class="form-group">
                                    <div class="language_form" value="{% url 'set_language' %}">
                                        {% csrf_token %}
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        <div class="select btn-group" data-resize="auto">
                                            <button type="button" data-toggle="dropdown"
                                                    class="btn btn-white dropdown-toggle"
                                                    aria-expanded="false">
                                                {{ language.name_local }}
                                                <img width="20px"
                                                     src="{% get_static_prefix %}{% country_flag LANGUAGE_CODE %}"
                                                     alt="{{ LANGUAGE_CODE }}"/>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right language_list">
                                                {% for language in languages %}
                                                    <li{% if language.code == LANGUAGE_CODE %} class="active"{% endif %}
                                                                                               href="{{ language.code }}">
                                                        <a href="#">{{ language.name_local }}
                                                            <img width="20px" class="pull-right" src="

                                                                    {% get_static_prefix %}{% country_flag language.code %}"
                                                                 alt="{{ language.code }}"></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <button title="Problems & Feedback" class="btn btn-white" data-toggle="sl_modal"
                                                data-url="{% url 'appa:dialog' action='message' %}">
                                            <i class="fa fa-heart-o text-danger"></i>
                                            <i class="fa fa-heart text-active text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            </p>
                        </div>
                    {% endblock %}
                </header>
            {% endblock %}
            <section class="scrollable wrapper {% block container_class %}{% endblock %}">
                {% block content_title %}
                {% endblock %}
                {% hijack_notification %}
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.level == 20 %}info{% elif message.level == 25 %}success{% elif message.level == 30 %}warning{% elif message.level == 40 %}danger{% else %}info{% endif %}">
                                <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i>
                                </button>
                                <ul class="messagelist">
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock messages %}
                {% block content_body %}
                {% endblock %}
                <div class="modal fade" id="modal-form" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div style="display:none">
                    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
</section>
<script src="{% static 'appa/js/jquery.min.js' %}"></script>
<script src="{% static 'appa/js/jquery-ui-1.10.4.custom.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'appa/js/bootstrap.js' %}"></script>
<script src="{% static 'appa/js/purl.js' %}"></script>
<script src="{% static 'appa/js/common.js' %}"></script>
<!-- Sparkline Chart -->
<script src="{% static 'appa/js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
<!-- SweetAlert -->
{#<script src="{% static 'appa/js/sweetalert/sweetalert.min.js' %}"></script>#}
<script src="{% static 'appa/js/sweetalert/sweetalert210.js' %}"></script>
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'appa/js/app.js' %}"></script>
<script src="{% static 'appa/js/app.plugin.js' %}"></script>
<script src="{% static 'appa/js/app.data.js' %}"></script>
<script src="{% static 'appa/js/fuelux/fuelux.js' %}"></script>
{% block custom_js %}
{% endblock %}
</body>
</html>