{% extends 'appa/master/dialog_layout.html' %}

{% block title %}
    Dialog
{% endblock %}

{% block content %}

    <div class="text-center v-middle">
        <i id="icon_information" class="fa fa-exclamation-circle text-success fa-5x"></i>
        <i id="icon_question" class="fa fa-question-circle text-warning fa-5x hidden"></i>
        <i id="icon_success" class="fa fa-check-circle text-success fa-5x hidden"></i>
        <i id="icon_failue" class="fa fa-exclamation-circle text-danger fa-5x hidden"></i>
        <br>
        <div id="progress" class="progress progress-striped active hidden">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>
        <p id="modal_tips">Status</p>
    </div>
{% endblock %}

{% block extra_buttons %}
    <script>
        modal_autoclose = false;
    </script>
    <button id="confirm_button" type="button" class="btn btn-success btn-s-sm" >Yes</button>
{% endblock %}