{% extends 'appa/master/dialog_layout.html' %}
{% load i18n %}
{% load view %}
{% block title %}
    Action
{% endblock %}

{% block content %}
    <style>
        #model_failure {
            width: 100%;
            max-height: 300px;
            line-height: 20px;
            padding: 0;
            margin: 0;
            overflow: scroll;
            overflow-x: hidden;
        }
    </style>

    <p id="modal_tips">Status</p>
    {% if include %}
        <div class="included_form">
        {% if p1 %}
            {% if p2 %}
                {% view include p1 p2 %}
            {% else %}
                {% view include p1 %}
            {% endif %}
        {% else %}
            {% view include %}
        {% endif %}

        </div>
    {% endif %}
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <ul id="model_failure">
    </ul>
{% endblock %}

{% block extra_buttons %}
    <button id="confirm_button" type="button" class="btn btn-success btn-s-sm" disabled="true">{% trans 'Go!' %}</button>
{% endblock %}