{% extends 'appa/master/dialog_layout.html' %}
{% load i18n %}

{% block title %}
    <i class="fa fa-gift fa-2x text-danger" style="margin-right: 30px; margin-left: 10px"></i>
    {% trans 'Thanks for your feedback. We will keep making it better.' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="form-group">
            <div class="col-lg-1">
                Name
            </div>
            <div class="col-lg-5">
                <input type="text" id="name" class="form-control m-b" placeholder="Name" value="{{ request.user }}" />
            </div>
            <div class="col-lg-1">
                Email
            </div>
            <div class="col-lg-5">
                <input type="email" id="email" class="form-control m-b" placeholder="Email" value="{{ request.user.email }}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                Content
            </div>
            <div class="col-lg-11">
                <textarea id="message_content" required class="form-control parsley-validated" rows="10" data-minwords="6" data-required="true"></textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_buttons %}
    <button type="button"
            class="btn btn-success btn-s-sm dlg-submit-btn"
            data-action="{% url 'appa:execute' action='message' %}"
            data-field-id="name,email,message_content"
            onerror="show_error()"
            >{% trans 'Send' %}</button>

    <script>
        show_error = function () {
            alert(execute_result.message);
        }
    </script>
{% endblock %}