{% load landing_tags %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% else %}{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        <label class="control-label col-sm-2 {% for class in field.label_classes %}{{ class }} {% endfor %} {% if field.field.field.required %}text-danger{% endif %}" for="{{ field.field.name }}">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ field.field }}
                        </div>
                    {% else %}
                        <label class="control-label col-sm-2 {% for class in field.label_classes %}{{ class }} {% endfor %} {% if field.field.field.required %}text-danger{% endif %}" for="{{ field.field.name }}">{{ field.field.label }}</label>
                        <div class="col-sm-10">
                            {% if field.is_readonly %}
                                <div class="readonly">{{ field.contents }}</div>
                            {% elif field.field.field|class_name == 'SplitDateTimeField' %}
                                <input type="text" class="combodate form-control" data-format="YYYY-MM-DD HH:mm" data-template="D  MMM  YYYY  -  HH : mm" name="{{ field.field.html_name }}"
                                       value="{% if field.field.form.initial|key_value:field.field.html_name %}{{ field.field.form.initial|key_value:field.field.html_name|date:'Y-m-d H:i' }}{% else %}{% current_time '%Y-%m-%d %H:%M' %}{% endif %}">
                                <input type="hidden" name="{{ field.field.html_name }}_0" id="id_{{ field.field.html_name }}_0" value="">
                                <input type="hidden" name="{{ field.field.html_name }}_1" id="id_{{ field.field.html_name }}_1" value="">
                            {% else %}
                                {{ field.field }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
