<div class="input-group-btn">
    <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="dropdown-label">NZD</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-select pull-right">
        <li class="active">
            <a href="#"><input type="radio" value="USD" name="pay_unit"
                               checked="">NZD</a>
        </li>
        <li>
            <a href="#"><input type="radio" value="GBP" name="pay_unit">GBP</a>
        </li>
    </ul>
</div>