{% load i18n %}
{% if bvalue and not hide_yes %}<span class="label bg-success" title="{{ title }}">{% trans "Y" %}</span>{% else %}{% if not hide_no %}
    <span class="label bg-danger" title="{{ title }}">{% trans "N" %}</span>
{% endif %}{% endif %}