<span class="fa fa-stack fa-1x" data-toggle="tooltip" data-placement="right" title data-original-title="{{ title }}">
<i class="fa fa-circle text-info fa-stack-2x"></i>
<i class="fa fa-question text-white fa-stack-1x"></i>
</span>