{% load static i18n landing_tags %}
<aside class="{{ site.nav_class }}" id="nav">
    <section class="vbox">
        <header class="dker nav-bar nav-bar-fixed-top">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                <i class="fa fa-bars"></i>
            </a>
            <a href="{% url 'appa:home' %}" title="{{ site.name }}" class="nav-brand"
               data-toggle="fullscreen">{{ site.name }}</a>
            <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
                <i class="fa fa-comment-o"></i>
            </a>
        </header>
        <section {% if not site.nav_popmenu %}class="scrollable"{% endif %}>
            <!-- user -->
            <div class="bg-success nav-user hidden-xs pos-rlt">
                <div class="nav-avatar pos-rlt">
                    <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                        <img src="
                                {% if request.user.profile.picture %}{% get_media_prefix %}{{ request.user.profile.picture }}{% else %}/static/appa/images/avatar_default.jpg{% endif %} ">
                        <span class="caret caret-white"></span>
                        {{ request.user }}
                    </a>
                    <ul class="dropdown-menu m-t-sm animated fadeInLeft">
                        <span class="arrow top"></span>
                        {% if request.user.is_superuser %}
                            <li>
                                <a href="{% url 'pack:appa_develper' %}">{% trans 'Develper Console' %}</a>
                            </li>
                            <li>
                                <a href="/admin/auth/user/">{% trans 'Change User' %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}?next={% url 'home' %}">{% trans 'Logout' %}</a>
                        </li>
                    </ul>
                    <div class="visible-xs m-t m-b">
                        <a href="#" class="h3">{{ request.user }}</a>
                        <p><i class="fa fa-map-marker"></i>London, UK</p>
                    </div>
                </div>
                {% if messages %}
                    <div class="nav-msg">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <b class="badge badge-white count-n">2</b>
                        </a>
                        <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                            <div class="arrow left"></div>
                            <section class="panel bg-white">
                                <header class="panel-heading">
                                    <strong>You have <span class="count-n">2</span> notifications</strong>
                                </header>
                                <div class="list-group">
                                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="{% static 'appa/images/avatar.jpg' %}" alt="John said" class="img-circle">
                      </span>
                                        <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                                    </a>
                                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                                    </a>
                                </div>
                                <footer class="panel-footer text-sm">
                                    <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                                    <a href="#">{% trans 'See all the notifications' %}</a>
                                </footer>
                            </section>
                        </section>
                    </div>
                {% endif %}
            </div>
            {% if not site.nav_popmenu %}
                <div class="" data-height="auto" data-disable-fade-out="true" data-distance="0"
                     data-size="5px">
            {% endif %}
            <!-- / user -->
            <nav class="nav-primary hidden-xs" {% if not site.nav_popmenu %}data-ride="collapse"{% endif %}>
                <ul class="nav">
                    {% for menu_item in site.menu_items %}
                        {% if not menu_item.group or request.user|has_group:menu_item.group %}
                            {% if site.nav_popmenu %}
                                <li {% if menu_item.children %}class="dropdown-submenu"{% endif %}>
                                    <a href="{% if menu_item.url %}{{ menu_item.url }}{% else %}#{% endif %}"
                                            {% if menu_item.children %}
                                       class="dropdown-toggle" data-toggle="dropdown"
                                            {% endif %}
                                    >
                                        {% if menu_item.icon %}
                                            <i class="fa fa-{{ menu_item.icon }}"></i>
                                        {% endif %}
                                        <span> {{ menu_item.title }} </span>
                                    </a>
                                    {% if menu_item.children %}
                                        <ul class="dropdown-menu">
                                            {% for child in menu_item.children %}
                                                <li>
                                                    <a href="{{ child.url }}">{{ child.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li {% if menu_item.id %}id="{{ menu_item.id }}"{% endif %}>
                                    <a href="{% if menu_item.url %}{{ menu_item.url }}{% else %}#{% endif %}"
                                       {% if menu_item.children %}class="dropdown-toggle"{% endif %}>
                                        {% if menu_item.children %}
                                            <span class="pull-right auto">
                                              <i class="fa fa-angle-down text"></i>
                                              <i class="fa fa-angle-up text-active"></i>
                                            </span>
                                        {% endif %}
                                        {% if menu_item.icon %}
                                            <i class="fa fa-{{ menu_item.icon }}"></i>
                                        {% endif %}
                                        <span> {{ menu_item.title }} </span>
                                    </a>
                                    {% if menu_item.children %}
                                        <ul class="nav none dker">
                                            {% for child in menu_item.children %}
                                                {% if child.children %}
                                                    <li class="dropdown-submenu">
                                                        <a href="#" class="inner-title" data-toggle="dropdown">
                                                            <i class="fa fa-{{ child.icon }}"></i>
                                                            <span> {{ child.title }}</span>
                                                        </a>
                                                        <ul class="inner-menu">
                                                            {% for ch in child.children %}
                                                            <li>
                                                                <a href="{{ ch.url }}">{{ ch.title }}</a>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ child.url }}">{{ child.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            {% if not site.nav_popmenu %}
                </div>
            {% endif %}
            <!-- / nav -->
            <!-- note -->
            <div class="{% if plan.code == 'free' %}bg-danger{% endif %} wrapper hidden-vertical animated fadeInUp text-sm">
                <a href="#" data-dismiss="alert" class="pull-right m-r-n-sm m-t-n-sm"><i class="fa fa-times"></i></a>
                Hi,{{ request.user }} {% trans 'Welcome' %}!
            </div>
            <!-- / note -->
            {% block nav_bottom %}
            {% endblock %}
        </section>
        <footer class="footer bg-gradient hidden-xs">
            <a href="{% url 'logout' %}?next={% url 'home' %}" class="btn btn-sm btn-link m-r-n-xs pull-right">
                <i class="fa fa-power-off"></i>
            </a>
            <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
                <i class="fa fa-bars"></i>
            </a>
        </footer>
    </section>
</aside>
