{% load static %}
{% if channel.wechat_app_qr %}
    <a href="{% get_media_prefix %}{{ channel.wechat_app_qr }}" target="_blank"><image src="{% get_media_prefix %}{{ channel.wechat_app_qr }}" width="50"></image></a>
{% endif %}
