{% load static %}
{% load i18n %}

<style type="text/css">
    .dropfile {
        border: 2px dashed #e0e4e8;
        text-align: center;
        vertical-align: middle;
        min-height: 110px;
        display: block !important;
    }
    .dropfile.hover{border-color: #aac3cc}

    .dropfile small{
        display: block;
        margin-top: 40px;
        color: #0d6aad;
    }

    .fileinput-button{
        margin-bottom: 10px;
    }

    .sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .sortable li {
        margin: 3px 3px 3px 0;
        padding: 1px;
        float: left;
        width: 120px;
        height: 145px;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
    }

    .sortable img{
        height: 100px;
    }

    .sortable .title{
        height: 60px;
        width: 100%;
        position: relative;
        top:-21px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        clear: both;
        padding-bottom: 5px;
    }

    .sortable .img_remove{
        position: relative;
        top: -102px;
        right: -51px;
        background-color: red;
        color: white;
    }

    .sortable .img_remove_new{
        position: relative;
        top: -106px;
        right: -51px;
        background-color: #53da2c;
        color: white;
    }
</style>

<div class="multiupload">
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{% trans 'Upload photos...' %}</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="{{ field }}" multiple="" {% if type == 'image' %}accept="image/*" {% endif %}>
    </span>
    <!-- The global progress bar -->
    <div id="progress" class="progress hidden">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    {#<!-- The container for the uploaded files -->#}
    {#<div id="files" class="files dropfile visible-lg">#}
    {#    <small>{% trans 'Drop files or click Upload photos' %}</small>#}
    {#</div>#}
    <div>
        <ul class="ui-sortable sortable">
            {% for foo in images %}
                <li class="ui-state-default" pk="{{ foo.id }}">
                    <a target="_blank" href="{% get_media_prefix %}{{ foo.url }}">
                        <img width="100" src="{% get_media_prefix %}{{ foo.url }}"/>
                    </a>
                    <button type="button" class="img_remove btn btn-xs">x</button>
                    <br>
                    <div title="{{ foo.title }}" class="title">{{ foo.title }}</div>
                    <input type="hidden" name="{{ field }}" value="{{ foo.id }}">
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
