{% extends 'landing/master/main_layout.html' %}
{% load i18n landing_tags static %}

{% block content %}
    <div class="text-center">
        <h1>{% trans 'Permission Denied' %}</h1>
    </div>
{% endblock %}