{% extends 'appa/master/list_layout.html' %}
{% load i18n appa_urls static appa_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}"/>
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
    <style>
        .table-responsive table{
            margin-bottom: 0px;
            border-bottom: 1px solid #e0e4e8;
        }

        .paginator{
            border-top: none;
        }

        .pagination_tips{
            margin-top: 15px;
        }

        #changelist-filter{
            background: none;
            width: 100%;
        }

        .pagination{
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}


{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block top_content %}
{% if cl.formset.errors %}
    <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}
            {% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ cl.formset.non_form_errors }}
{% endif %}
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'appa:index' %}">{% trans 'Home' %}</a>
            &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block object-tools-items %}
    {% if cl.model_admin.list_buttons %}
        {% if cl.model_admin.list_buttons|is_list %}
            {% for list_button in cl.model_admin.list_buttons %}
                <button type="button" class="btn btn-white import_file">
                    {{ list_button.title }}
                </button>
            {% endfor %}
        {% elif cl.model_admin.list_buttons|is_str %}
            {% include cl.model_admin.list_buttons with appa=cl.model_admin %}
        {% endif %}
    {% endif %}
    {% if has_add_permission %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn btn-primary pull-right">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
    {% endif %}
{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">
            {% trans 'Filter' %}
            {% for spec in cl.filter_specs %}
                {% admin_list_filter cl spec %}
                {% if not forloop.last %}
                    {% trans 'and' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block list %}
    {% if cl.formset %}
        <div class="row">
            <div class="col-sm-12">
                {{ cl.formset.management_form }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% date_hierarchy cl %}
        </div>
    </div>
    {% if cl.model_admin.stat_template %}
        <div class="alert alert-info" style="margin-bottom: 10px">
            {% include cl.model_admin.stat_template %}
        </div>
    {% endif %}
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6 m-t-xs m-b-xs">
            {% admin_actions %}
        </div>
        <div class="col-sm-6 m-t-xs m-b-xs">
        </div>
    </div>
    {% result_list cl %}
    <div class="col-sm-12">
        {% pagination cl %}
    </div>
{% endblock %}

{% block list_header %}
{% search_form cl %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
    $(document).ready(function () {
        $(".select_filter").change(function () {
            window.location = $(this).val();
        });

        $("select[name='action']").addClass("input-sm form-control input-s-sm inline");

    });
    </script>
{% endblock %}