{% extends "appa/master/form_layout.html" %}
{% load i18n appa_urls static appa_modify %}
{% load view %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <style>
        .collapse{
            display: inherit;
        }
        .collapsed h2{
            font-size: 13px;
            margin: 0;
            padding: 10px;
            font-weight: 700;
        }

        h2{
            font-size: 13px;
            margin: 0;
            padding: 10px;
            font-weight: 700;
            background-color: #eeeeee;
        }

        fieldset .collapse-toggle {
            color: #23527c;
        }

        .form-row{
            border-bottom: none;
        }

        .inline-row{
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if is_popup %}
{% block header %}{% endblock %}
{% endif %}

{% block sidebar %}
    {% if is_popup %}
    {% else %}
        {% view "bfg.appa.views.sidebar" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if not is_popup %}
        <div class="breadcrumbs">
            <a href="{% url 'appa:index' %}">{% trans 'Home' %}</a>
            &rsaquo; {% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}
            {{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block object-tools %}
    {% if change %}{% if not is_popup %}
        {% block object-tools-items %}
                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                <a href="{% add_preserved_filters history_url %}"
                   class="btn btn-default pull-right">{% trans "History" %}</a>
            {% if has_absolute_url %}
                <a href="{{ absolute_url }}" class="btn btn-default">{% trans "View on site" %}</a>
            {% endif %}
        {% endblock %}
    {% endif %}{% endif %}
{% endblock %}

{% block form_body %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.model_name }}_form" novalidate class="form-horizontal">
        {% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                    <p>{% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}</p>
                    {{ adminform.form.non_field_errors }}
                </div>
            {% endif %}

            {% block field_sets %}
                {% for fieldset in adminform %}
                    {% include "appa/includes/fieldset.html" %}
                {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% if inline_admin_formset.opts.template == 'admin/edit_inline/tabular.html' %}
                        {% include 'appa/includes/inline/tabular.html' %}
                    {% else %}
                        {% include 'appa/includes/inline/stacked.html' %}
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% block admin_change_form_document_ready %}
                <script type="text/javascript"
                        id="django-admin-form-add-constants"
                        src="{% static 'admin/js/change_form.js' %}"
                        {% if adminform and add %}
                        data-model-name="{{ opts.model_name }}"
                        {% endif %}>
                </script>
            {% endblock %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}
        </div>
    </form>
{% endblock %}

{% block custom_js %}
    <!-- datepicker -->
    <script src="{% static 'appa/js/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- slider -->
    <script src="{% static 'appa/js/slider/bootstrap-slider.js' %}"></script>
    <!-- file input -->
    <script src="{% static 'appa/js/file-input/bootstrap.file-input.js' %}"></script>
    <script src="{% static 'appa/js/libs/moment.min.js' %}"></script>
    <script src="{% static 'appa/js/combodate/combodate.js' %}"></script>
    <!-- parsley -->
    <script src="{% static 'appa/js/parsley/parsley.min.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/parsley/parsley.extend.js' %}" cache="false"></script>
    <!-- select2 -->
    <script src="{% static 'appa/js/select2/select2.min.js' %}" cache="false"></script>
    <!-- wysiwyg -->
    <script src="{% static 'appa/js/wysiwyg/jquery.hotkeys.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/wysiwyg/bootstrap-wysiwyg.js' %}" cache="false"></script>
    <script src="{% static 'appa/js/wysiwyg/demo.js' %}" cache="false"></script>
    <!-- markdown -->
    <script src="{% static 'appa/js/markdown/epiceditor.min.js' %}" cache="false"></script>
{#    <script src="{% static 'appa/js/markdown/demo.js' %}" cache="false"></script>#}

    <script>
    $(".form-row select").addClass("form-control");
    $(".inline-row .vTextField").addClass("form-control");
    $(".form-row .vTextField").addClass("form-control");
    </script>

{% endblock %}