{% extends "appa/master/list_layout.html" %}
{% load i18n l10n appa_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
    delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'appa:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans 'Delete multiple objects' %}
    </div>
{% endblock %}

{% block content %}
    <div class="row wrapper">
        <div class="col-lg-12">
            {% if perms_lacking %}
                <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects,
                    but your
                    account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
                <ul>
                    {% for obj in perms_lacking %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            {% elif protected %}
                <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following
                    protected
                    related objects:{% endblocktrans %}</p>
                <ul>
                    {% for obj in protected %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following
                    objects
                    and their related items will be deleted:{% endblocktrans %}</p>
                {% include "appa/includes/object_delete_summary.html" %}
                <h4>{% trans "Objects" %}</h4>
                {% for deletable_object in deletable_objects %}
                    <ul>{{ deletable_object|unordered_list }}</ul>
                {% endfor %}
                <form method="post">{% csrf_token %}
                    <div>
                        {% for obj in queryset %}
                            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
                        {% endfor %}
                        <input type="hidden" name="action" value="delete_selected"/>
                        <input type="hidden" name="post" value="yes"/>
                        <input type="submit" class="btn btn-danger " value="{% trans "Yes, I'm sure" %}"/>
                        <a href="#" class="btn btn-white button cancel-link">{% trans "No, take me back" %}</a>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
