{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
  <li>
    <form method="GET" action="">
        <input
            type="text"
            value="{{ spec.value|default_if_none:'' }}"
            name="{{ spec.parameter_name }}"/>
        {% if not all_choice.selected %}
          <strong><a href="{{ all_choice.query_string }}">⨉ {% trans 'Remove' %}</a></strong>
        {% endif %}
    </form>
  </li>
</ul>