{% extends "appa/master/list_layout.html" %}
{% load i18n appa_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'appa:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'appa:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'History' %}
</div>
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div id="content-main">
            <div class="module">
                {% if action_list %}
                    <table id="change-history" class="table table-striped b-t text-sm">
                        <thead>
                        <tr>
                            <th scope="col">{% trans 'Date/time' %}</th>
                            <th scope="col">{% trans 'User' %}</th>
                            <th scope="col">{% trans 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for action in action_list %}
                            <tr>
                                <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
                                <td>{{ action.user.get_username }}{% if action.user.get_full_name %} (
                                    {{ action.user.get_full_name }}){% endif %}</td>
                                <td>{{ action.get_change_message }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}" class="btn btn-primary button cancel-link">{% trans "Take me back" %}</a>
    </div>
{% endblock %}
